---
layout: three-column
title:  "Starting a business"
section: "Grants and programs"
subsection: "Grants and programs"
---
{% capture md_intro %}{% include content/starting-a-business/grants-and-funding/2015-01-01-gender-intro.1.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/grants-and-funding/2015-01-01-gender-help.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/grants-and-funding/2015-01-01-gender-errorheading.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/grants-and-funding/2015-01-01-gender-errortext1.md %}{% endcapture %}
<p class="steps">1 of 3</p>
{{ md_intro | markdownify }}
<div class="help-block">
    {{ md_help | markdownify }}
</div>
<form action="{% post_url 2015-01-01-grants-and-funding-indigenous %}" method="get" id="genderForm" novalidate>
  <div class="error-message hide" id="modifyErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>
  <div class="input-group radio-btn-group">
    <input type="hidden" name="sectionName" id="sectionName" value="grants" />
    <input type="radio" name="gender" id="genderFemale" value="Female"
           error-message="{{ md_errortext1 }}" error-message-holder="modifyErrorHolder" required/>
    <label for="genderFemale">Female</label>
    <input type="radio" name="gender" id="genderMale" value="Male" />
    <label for="genderMale">Male</label>
    <input type="radio" name="gender" id="other" value="Other" />
    <label for="other">Other</label>
    <input type="text" name="genderOther" id="genderOtherText" class="hide"/>

    <input type="radio" name="gender" id="genderUnknown" value="Unknown" />
    <label for="genderUnknown">I'd rather not say</label>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
  $(function() {
    DTO.LocalStorage.storeValue(true);

    $('#genderForm').alphaValidate();

    $('input[name=gender]:radio').on('change', function() {
      if ($('#other').is(':checked'))
      {
        $('#genderOtherText').show();
      }
      else
      {
        $('#genderOtherText').hide();
      }
    });
  });
</script>