---
layout: three-column
title:  "Starting a business"
section: "Starting a business"
subsection: "Questionnaire"
---
{% capture md_intro %}{% include content/starting-a-business/grants-and-funding/2015-01-01-disability-intro.1.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/grants-and-funding/2015-01-01-disability-help.md %}{% endcapture %}
<p class="steps">3 of 3</p>
{{ md_intro | markdownify }}
<div class="help-block">
    {{ md_help | markdownify }}
</div>
<form action="{% post_url 2015-01-01-grants-and-funding-summary %}" method="get">    
  <div class="input-group radio-btn-group" name="disability">
      <input type="radio" name="disability" id="yes" value="Yes "/>
      <label for="yes">Yes</label>

      <input type="radio" name="disability" id="no" value="No" />
      <label for="no">No</label>

      <input type="radio" name="disability" id="unknown" value="Unknown" />
      <label for="unknown">I'd rather not say</label>
  </div>
  <div class="input-group">
      <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
{% include your-details.html %}
<script>
    $(function() {
        DTO.Forms.MockPersistence.setTextContentOfSpanElements();
    });
</script>
