{% capture md_grants_title %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-title.md %}{% endcapture %}
{% capture md_content %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-text.md %}{% endcapture %}
{% capture md_button %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-button.md %}{% endcapture %}

<div class="task-title grants">
  <h2 class="title">{{ md_grants_title}}</h2>
  <span class="badge">1 to do</span>
</div>

<div class="task-body-content grants">
  <div class="task-body">
    {{ md_content | markdownify }}
    <div class="input-group">
      <a href="{% post_url 2015-01-01-funding-and-support-intro %}" class="button">{{ md_button }}</a>
    </div>
  </div>
</div>
