{% capture md_licences_title %}{% include content/starting-a-business/questionnaire/summary/licenses/2015-01-01-questionnaire-summary-licenses-title.md %}{% endcapture %}
{% capture md_liquor_title %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquortitle.md %}{% endcapture %}
{% capture md_liquor_content %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquorcontent.md %}{% endcapture %}
{% capture md_liquor_button %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquorbutton.md %}{% endcapture %}
{% capture md_appointingfss_title %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-appointingfss-title.md %}{% endcapture %}
{% capture md_appointingfss_content %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-appointingfss.md %}{% endcapture %}
{% capture md_settingupshop_title %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop-title.md %}{% endcapture %}
{% capture md_settingupshop_content %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop.md %}{% endcapture %}
{% capture md_settingupshop_btn %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop-btn.md %}{% endcapture %}
{% capture md_importing_goods_title %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-importing-goods-title.md %}{% endcapture %}
{% capture md_importing_goods_content %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-importing-goods.md %}{% endcapture %}
{% capture md_importing_goods_btn %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-importing-goods-btn.md %}{% endcapture %}
<div class="task-title permits">
  <span class="title">{{ md_licences_title | markdownify }}</span>
  <span class="badge">4 to do</span>
</div>
<div class="task-body-content permits">
  <div class="task-body">
    <div class="badge squared stamp">Service NSW</div>
    <p class="task-heading">{{ md_liquor_title }}</p>
    {{ md_liquor_content | markdownify }}
    <div class="input-group">
      <a href="#" class="button">{{ md_liquor_button }}</a>
    </div>
    <p class="btn-tag">(At service.nsw.gov.au)</p>
  </div>
  <div class="task-body">
    <div class="badge squared stamp">City of Sydney</div>
    <p class="task-heading">{{ md_settingupshop_title }}</p>
    {{ md_settingupshop_content | markdownify }}
    <div class="input-group">
      <a href="#" class="button">{{ md_settingupshop_btn }}</a>
    </div>
    <p class="btn-tag">(At cityofsydney.nsw.gov.au)</p>
  </div>
  <div class="task-body">
    <!-- <div class="badge squared stamp">DFAT</div> -->
    <p class="task-heading">{{ md_importing_goods_title }}</p>
    {{ md_importing_goods_content | markdownify }}
    <div class="input-group">
      <a href="#" class="button">{{ md_importing_goods_btn }}</a>
    </div>
    <!-- <p class="btn-tag">(With dfat.gov.au) </p> -->
  </div>
  <div class="task-body">
    <!-- <div class="badge squared stamp">NSW Food Authority</div> -->
    <p class="task-heading">{{ md_appointingfss_title }}</p>
    {{ md_appointingfss_content | markdownify }}
  </div>
</div>
