{% capture md_licences_title %}{% include content/starting-a-business/questionnaire/summary/licenses/2015-01-01-questionnaire-summary-licenses-title.md %}{% endcapture %}
{% capture md_content %}{% include content/starting-a-business/questionnaire/summary/licenses/2015-01-01-questionnaire-summary-licenses-text.md %}{% endcapture %}
{% capture md_button %}{% include content/starting-a-business/questionnaire/summary/licenses/2015-01-01-questionnaire-summary-licenses-button.md %}{% endcapture %}
{% capture md_settingupshop_title %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop-title.md %}{% endcapture %}
{% capture md_settingupshop_content %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop.md %}{% endcapture %}
{% capture md_settingupshop_btn %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop-btn.md %}{% endcapture %}

<li>
    <div class="task-title permits">
        <span class="title">{{ md_licences_title | markdownify }}</span>
        <span class="badge">2 tasks</span>
        <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body-content permits">
        <div class="task-body">
            {{ md_content | markdownify }}
            <div class="input-group">
                <a href="{% post_url 2015-01-01-permits-and-licenses-intro %}" class="button">{{ md_button }}</a>
            </div>
        </div>
        <div class="task-body">
            <div class="badge squared stamp">City of Sydney</div>
            <p class="task-heading">{{ md_settingupshop_title }}</p>
            {{ md_settingupshop_content | markdownify }}
            <div class="input-group">
                <a href="#" class="button">{{ md_settingupshop_btn }}</a>
            </div>
        </div>
    </div>
</li>
