---
layout: default
---

<div class="homepage-header container">
    <span class="huge-thin-heading">GOV.AU</span>
    <p><span class="thin-subheading">is your guide to finding and using government services.</span>

    <div class="search-group">
       <input class="search-input" type="text" id="optionalText" /><button class="search"><i class="fa fa-search"></i></button>
     </div>
     </br>
</div>

<div class="homepage-menu-heading container">
   <h5>Most Popular Topics</h5>
</div>
<div class="homepage-menu container">
   <p>Universal Jobmatch job search
   <p>Renew vehicle tax
   <p>Log in to student finance
   <p>Book your theory test
   <p>Employment and Support Allowance 
</div>

<div class="container post">
  <div class="container">
    <div class="column main-col col-xs-12 col-md-6">

      <div class="row homepage-link-box">
        <h5>In your local area</h5>
        </br>
          <label for="optionalText">Postcode:</label>
        <div class="search-group">
          <input class="search-input" type="text" id="optionalText" /><button class="search"><i class="fa fa-search"></i></button>
        </div>
        </br>
        <ul>
          <li><a href="#">Tax when you get a pension</a></li>
          <li><a href="#">Types of private pensions</a></li>
          <li><a href="#">Early retirement and your pension</a></li>
          <li><a href="#">More in workplace and personal pensions</a></li>
        </ul>
        <a href="#" class="more">More</a>
      </div>

      </br>
      <div class="homepage row page-content">
        <p><span class="thin-heading">Government information & services</span>
        {{ content }}

        <div class="homepage-link-box">
          <h5>Family</h5>
          <ul>
            <li><a href="#">Starting a family</a></li>
            <li><a href="#">Child starting school</a></li>
            <li><a href="#">Getting married</a></li>
            <li><a href="#">Separting</a></li>
          </ul>
          <h5>Work</h5>
          <ul>
            <li><a href="#">Starting work</a></li>
            <li><a href="#" class="btn-login">Starting a business</a></li>
            <li><a href="#">Losing a job</a></li>
            <li><a href="#">Retiring</a></li>
          </ul>
          <h5>Health</h5>
          <ul>
            <li><a href="#">Becoming ill</a></li>
            <li><a href="#">Yellow fever facts</a></li>
            <li><a href="#">Flu - Protecting yourself</a></li>
          </ul>
          <h5>Emergency</h5>
          <ul>
            <li><a href="#">Natural disaster</a></li>
            <li><a href="#">EM course calendar</a></li>
            <li><a href="#">Emergency management region</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tile color-box">
  <h5>Parent Engagement</h5>
  <div class="row">
    <div class="image col-xs-6">
      <img src="/assets/learning-potential.png">
    </div>
    <div class="content col-xs-6">
      <h6>Learning Potential Smartphone App</h6>
      <p>Be involved in your child's learning, from highchair to high school.
    </div>
  </div>
</div>

<div class="tile color-box">
  <h5>Daylight saving for ‘NSW’</h5>
  <div class="row">
    <div class="image col-xs-6">
      <img src="/assets/clock.svg">
    </div>
    <div class="content col-xs-6">
      <p>Start
      <h6>Sunday</h6>
      <h6>4 October 2015</h6>
      <p>Move your clocks forward one hour at 2:00 am (Eastern Standard Tme).
    </div>
  </div>
</div>

<div class="container">

  <div class="tile stats">
    <h5>About Australia</h5>
    <div class="image">
      <img src="/assets/map.svg">
    </div>
  </div>

  <div class="tile stats">
    <h2>99,604</h2>
    <div class="image">
      <img src="/assets/gender.svg">
    </div>
    <h5>More females than males</h5>
  </div>

  <h5>Upcoming public holiday</h5>
  <div class="tile row stats">
      <div class="image col-xs-6">
        <img src="/assets/calendar.svg">
      </div>
      <div class="col-xs-6">
        <h3>Christmas Day</h3>
      </div>
  </div>

  <div class="tile stats">
    <h5>About Government</h5>
    <div class="image">
      <img src="/assets/oval-blue-28.svg">
      <h5>Ministerial departments</h5>
    </div>
  </div>

  <div class="tile stats">
    <div class="image">
      <img src="/assets/oval-blue-285.svg">
      <h5>Agencies and other public bodies</h5>
    </div>
  </div>

  <p>The websites of all <a href="#">government departments</a> and many other agencies and public bodies have been merged into GOV.AU.
  <p>Here you can see all <a href="#">policies</a>, <a href="#">announcements</a>, <a href="#">publications</a>, <a href="#">statistics</a> and <a href="#">consultations</a>.

  <div class="tile-top-image">
    <div class="image">
      <img src="/assets/open-for-business.png">
    </div>
    <div class="content">
      <h5>Open for Business</h5>
      <p>Learn more about Australia's export agreements with Asia.
    </div>
  </div>

  <div class="tile-top-image">
    <div class="image">
      <img src="/assets/green-army.png">
    </div>
    <div class="content">
      <h5>Green Army</h5>
      <p>Find out how to join, or nominate a project.
    </div>
  </div>

  <div class="tile-top-image">
    <div class="image">
      <img src="/assets/ice-destroys-lives.png">
    </div>
    <div class="content">
      <h5>Ice Destroys Lives</h5>
      <p>Learn more about the serious harms of the drug 'ice'.
    </div>
  </div>

  <div class="tile-top-image">
    <div class="image">
      <img src="/assets/adopt-change.png">
    </div>
    <div class="content">
      <h5>National Adoption Awareness Week</h5>
      <p>Every child deserves to grow up in a loving family environment.
    </div>
  </div>
</div>


