---
layout: default
section: homepage
title:  "gov.au homepage"
description: gov.au homepage
categories: homepage
include_on_homepage: true
---
<div class="homepage-header container">
  </br>
  <p><span class="huge-thin-heading">GOV.AU</span>
  <p><span class="thin-subheading">Your guide to finding and using Australian government services.</span>

  <div class="search-group">
    <input class="search-input" type="text" id="optionalText" /><button class="search"><i class="fa fa-search"></i></button>
  </div>
</div>

{{ content }}

<div class="homepage-menu-heading container">
  <h5>Popular on GOV.AU</h5>
</div>
<div class="homepage-menu container">
  <p><a href="#{% post_url 2015-01-01-holiday-dates %}">Public holidays</a>
  <p><a href="#{% post_url 2015-01-01-holiday-dates %}">School holidays</a>
  <p><a href="#">Check an ABN</a>
</div>

<div class="container post">

  <div class="container">
    <div class="column main-col col-xs-12">
      <div class="homepage row page-content">
        <p><span class="thin-heading">Information & services</span>
        <h4>Jobs & working</h4>
        <p><a href="#">Find work</a>
          <br><a href="#">What you should be paid</a>
          <br><a href="#">Organising tax & super</a>

        <h4>Families & children</h4>
        <p><a href="#">Becoming a parent/carer</a>
          <br><a href="#">Working out childcare & education</a>
          <br><a href="#">Dealing with a separation</a>

        <h4>Health & social welfare</h4>
        <p><a href="#">Living well with a disability</a>
          <br><a href="#">Support for veterans & families</a>
          <br><a href="#">Help for low-income earners</a>

        <h4>Money, super & tax</h4>
        <p><a href="#">Organise your tax</a>
          <br><a href="#">Organise your super</a>

        <h4>Business & innovation</h4>
        <p><a href="{% post_url 2015-01-01-questionnaire-index %}">Starting a business</a>
          <br><a href="#">Being a good employer</a>
          <br><a href="#">Shutting down a business</a>

        <h4>Coming to Australia</h4>
        <p><a href="#">Working in Australia</a>
          <br><a href="#">Legally stay in Australia</a>

        <h4>Travel & tourism</h4>
        <p><a href="#">Apply for a passport</a>
          <br><a href="#">Travelling overseas</a>

        <h4>Emergencies</h4>
        <p><a href="#">Running out of money</a>
          <br><a href="#">Dealing with government</a>

        <h4>Dealing with government</h4>
        <p><a href="#">Update personal or business details</a>
          <br><a href="#">Prove who you are</a>
          <br><a href="#">Speak to someone about a problem</a>
      </div>
    </div>
  </div>
</div>

<div class="tile color-box">
  <h5>Daylight saving for Australia</h5>
  <div class="row">
     <div class="image col-xs-6">
       <img src="/assets/clock.svg">
     </div>
     <div class="content col-xs-6">
       <p>Start
       <h6>Sunday</h6>
       <h6>3 April 2016</h6>
       <p>Move your clocks back one hour at 2:00 am (Eastern Standard Tme).
     </div>
  </div>
</div>

<div class="tile widget">
  <div class="row">
    <div class="col-xs-12">
      <h5>Upcomming public holiday</h5>
    </div>
  </div>
  <hr/>
  <div class="row icon-list">
    <div class="col-xs-4 image">
      <img src="/assets/Cal.svg">
    </div>
    <div class="col-xs-8">
      <h5>Friday 25 December 2015</h5>
      Christmas day
    </div>
  </div>
  <div class="row icon-list">
    <div class="col-xs-4 image">
      <img src="/assets/Hat.svg">
    </div>
    <div class="col-xs-8">
      <h5>17 Dec 2015 - 27 Jan 2016</h5>
      Summer holidays
    </div>
  </div>
</div>

<div class="separator"></div>

<div class="container">
  <div class="row homepage-lower-menu">
    <div class="list">
      <h5>Departments</h5>
      <p><a href="#">Department of Veterans' Affairs</a>
      <p><a href="#">Department of Finance</a>
      <p><a href="#">The Treasury</a>
      <p><a href="#">Department of Industry, Innovation and Science</a>
      <p><a href="#">Department of Human Services</a>
      <p><a href="{% post_url 2015-01-01-communications %}">Department of Communications and the Arts</a>
      <p><a href="{% post_url 2015-01-01-industry %}">Department of Industry, Innovation and Science</a>
    </div>

    <div>
      <a href="{% post_url 2015-01-01-minister-list %}"><h5>Ministers</h5></a>
      <p><a href="/minister/2015/01/01/malcolm-turnbull.html">The Hon Malcolm Turnbull MP</a>
      <p><a href="/minister/2015/01/01/mitch-fifield.html">Senator the Hon Mitch Fifield</a>
      <p><a href="/minister/2015/01/01/christopher-pyne.html">The Hon Christopher Pyne MP</a>
      <p><a href="/minister/2015/01/01/peter-dutton.html">The Hon Peter Dutton MP</a>
      <p><a href="/minister/2015/01/01/kelly-o-dwyer.html">The Hon Kelly O'Dwyer MP</a>
      <p><a href="/minister/2015/01/01/mathias-cormann.html">Senator the Hon Mathias Cormann</a>
      <p><a href="/minister/2015/01/01/sussan-ley.html">The Hon Sussan Ley MP</a>
      <p><a href="/minister/2015/01/01/stuart-robert.html">The Hon Stuart Robert MP</a>
      <p><a href="/minister/2015/01/01/arthur-sinodinos.html">Senator the Hon Arthur Sinodinos AO</a>    
    </div>
  </div>
</div>
