---
layout: default
section: homepage
title:  "GOV.AU homepage"
description: GOV.AU homepage
include_on_homepage: true
---
{% capture md_1 %}{% include content/2015-01-01-homepage-col1.md %}{% endcapture %}
{% capture md_2 %}{% include content/2015-01-01-homepage-col2.md %}{% endcapture %}
{% capture md_3 %}{% include content/2015-01-01-homepage-col3.md %}{% endcapture %}
<div class="container {{ page.section | downcase }}">

  <div class="row intro">

    <div class="col-xs-12 col-sm-12 col-lg-8 vcenter intro-body">
      <h1>GOV.AU</h1>
      <p>Your guide to finding and using Australian Government services.</p>
      <div class="search-group">
          <label for="optionalText" class="hidden-text">Search keywords:</label><input class="search-input" type="text" id="optionalText" /><button class="search"><i class="fa fa-search"></i><span class="hidden-text">Search</span></button>
      </div>
    </div><!--
    --><div class="col-xs-12 col-sm-12 col-lg-3 box box-dark link-list vcenter">
      <div class="">
        <strong class="box-heading">Popular on GOV.AU</strong>
        <ul>
          <li>
            <a href="#">Public holidays</a>
          </li>
          <li>
            <a href="#">School holiday dates</a>
          </li>
          <li>
            <a href="#">Check an ABN</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2 class="thin-heading">Information and services</h2>
    </div>
  </div>
  <div class="link-list">
    <div class="row">
        {{ md_1 | markdownify }}
    </div>
    <div class="row">
        {{ md_2 | markdownify }}
    </div>
    <div class="row">
        {{ md_3 | markdownify }}

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6">
      <div class="row box box-dark business-widget">
        <div class="col-sm-12">

          <a href="{% post_url 2015-01-01-questionnaire-index %}">

            <h3 class="underlined">Starting a business</h3>
            <div class="row">
              <div class="col-sm-12">
                <div class="col-xs-4 text-center">
                  <img src="/assets/checklist.svg" alt="">
                </div>
                <div class="col-xs-8">
                  <strong>Get it right from the start</strong>
                  <p><u>Let us guide you through the basics</u></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6">
      <div class="row box box-light holidays-widget">
        <div class="col-sm-12">
          <h3 class="underlined">Upcoming holidays</h3>
          <label for="state"><span class="hidden-text">Show me holidays for: </span></label>
          <select id="state" name="state" class="ui fluid dropdown">
            <option value="NSW">NSW</option>
            <option value="VIC">VIC</option>
            <option value="QLD">QLD</option>
            <option value="SA">SA</option>
            <option value="WA">WA</option>
            <option value="TAS">TAS</option>
            <option value="NTu">NT (Urban)</option>
            <option value="NTr">NT (Remote)</option>
            <option value="ACT">ACT</option>
          </select>
        </div>
        <div class="col-sm-12">
          <div class="col-xs-4 vcenter">
            <img src="/assets/Cal.svg" alt="">
          </div><!--
          --><div class="col-xs-8 vcenter">

            <strong>Fri 25 Dec 2015</strong>
            <p>Christmas day</p>
            <strong id="schoolHolidaysFrom">Thu 17 Dec 2015</strong>
            <strong id="schoolHolidaysTo">to Wed 27 Jan 2016</strong>
            <p id="schoolHolidays">NSW school holidays</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row link-list">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <h2 class="thin-heading">Departments</h2>
      <ul>
        <li><a href="#">Department of Veterans' Affairs</a></li>
        <li><a href="#">Department of Finance</a></li>
        <li><a href="#">The Treasury</a></li>
        <li><a href="#">Department of Human Services</a></li>
        <li><a href="{% post_url 2015-01-01-communications %}">Department of Communications and the Arts</a></li>
        <li><a href="{% post_url 2015-01-01-industry %}">Department of Industry, Innovation and Science</a></li>
        <li><a href="#">Department of Immigration and Border Protection</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <a href="{% post_url 2015-01-01-minister-list %}"><h2 class="thin-heading">Ministers</h2></a>
      <ul>
        <li><a href="{% post_url 2015-01-01-malcolm-turnbull %}">The Hon Malcolm Turnbull MP</a></li>
        <li><a href="{% post_url 2015-01-01-mitch-fifield %}">Senator the Hon Mitch Fifield</a></li>
        <li><a href="{% post_url 2015-01-01-peter-dutton %}">The Hon Peter Dutton MP</a></li>
        <li><a href="{% post_url 2015-01-01-christopher-pyne %}">The Hon Christopher Pyne MP</a></li>
        <li><a href="{% post_url 2015-01-01-kelly-o-dwyer %}">The Hon Kelly O'Dwyer MP</a></li>
        <li><a href="{% post_url 2015-01-01-mathias-cormann %}">Senator the Hon Mathias Cormann</a></li>
        <li><a href="{% post_url 2015-01-01-sussan-ley %}">The Hon Sussan Ley MP</a></li>
        <li><a href="{% post_url 2015-01-01-stuart-robert %}">The Hon Stuart Robert MP</a></li>
        <li><a href="{% post_url 2015-01-01-arthur-sinodinos %}">Senator the Hon Arthur Sinodinos AO</a></li>
      </ul>
    </div>
  </div>
{{ content }}


</div>
<script>
 $(function () {
  $('.ui.dropdown').dropdown();

  var schoolHolidayData = {
    'NSW': {'name': 'NSW', 'from': 'Thu 17 Dec 2015', 'to': 'Wed 27 Jan 2016'},
    'VIC': {'name': 'VIC', 'from': 'Mon 21 Dec 2015', 'to': 'Wed 27 Jan 2016'},
    'QLD': {'name': 'QLD', 'from': 'Mon 14 Dec 2015', 'to': 'Fri 22 Jan 2016'},
    'SA': {'name': 'SA', 'from': 'Mon 14 Dec 2015', 'to': 'Fri 29 Jan 2016'},
    'WA': {'name': 'WA', 'from': 'Fri 18 Dec 2015', 'to': 'Fri 29 Jan 2016'},
    'TAS': {'name': 'TAS', 'from': 'Fri 18 Dec 2015', 'to': 'Tue 2 Feb 2016'},
    'NTu': {'name': 'NT (Urban)', 'from': 'Thu 11 Dec 2015', 'to': 'Fri 22 Jan 2016'},
    'NTr': {'name': 'NT (Remote)', 'from': 'Mon 14 Dec 2015', 'to': 'Thu 21 Jan 2016'},
    'ACT': {'name': 'ACT', 'from': 'Mon 21 Dec 2015', 'to': 'Fri 29 Jan 2016'},

  }

  var state = $('#state').val();
  $("#schoolHolidaysFrom").html( schoolHolidayData[state]['from']);
  $("#schoolHolidaysTo").html('to '+ schoolHolidayData[state]['to']);
  $("#schoolHolidays").html(schoolHolidayData[state]['name'] + ' school holidays');

  $('#state').change(function() {
    var state = $('#state').val();
    $("#schoolHolidaysFrom").html( schoolHolidayData[state]['from']);
    $("#schoolHolidaysTo").html('to '+ schoolHolidayData[state]['to']);
    $("#schoolHolidays").html(schoolHolidayData[state]['name'] + ' school holidays');
  });
  });
</script>
