---
layout: agmin
section: Minister
categories: minister
---

{% assign minister = site.data.minister[page.name] %}
{% assign title = site.data.minister[page.name].name %}
<div class="container-fluid screen-help" style="display: none;">
  <div class="container">
    <div class="row">

      <div class="col-xs-10 col-sm-11">
        <p>{{ minister.screenHelp }}</p>
      </div>

      <div class="col-xs-1 col-sm-1">
        <a class="screen-help-close"><i class="fa fa-times-circle"></i><span class="hidden-text">Close Screen Help</span></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid site-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-md-8 logo">
        <a class="site-title" href="/">
          <img src="/assets/gov.au.svg" class="title" alt="GOV.AU"/>
        </a>
        <span class="badge-prototype badge">Prototype</span>
      </div>
    </div>
  </div>
</div>
</header>

<a id="maincontent"></a>
{% include breadcrumbs.html %}
<div class="container {{ page.section | downcase }}">
  <div class="row">
    <div class="col-lg-3 hidden-sm hidden-xs">
      <ul class="link-list">
        <li class="hidden-xs"><h2>In this section</h2></li>
        <li><a href="#biography">Biography</a></li>
        <li><a href="#speeches">Speeches</a></li>
        <li><a href="#news-and-media">News and media releases</a></li>
        <li><a href="#social-feed">Social feed</a></li>
        <li><a href="#contact">Get in touch</a></li>
      </ul>
    </div>

    <div class="col-sm-12 col-lg-9">
      <br>
      <h1 class="thin-heading">{{ minister.name }}</h1>
      <div class="title-summary">{{ minister.role }}</div>
      <div class="row sidebar-nav hidden-lg hidden-md">
        <div class="col-sm-12">
          <div class="navbar navbar-default nav-bar-button" role="navigation">
            <button type="button" class="navbar-toggle dropdown-button" data-toggle="collapse" data-target=".navbar-collapse">In this section
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="hidden-xs"><h2>In this section</h2></li>
                <li><a href="#biography">Biography</a></li>
                <li><a href="#speeches">Speeches</a></li>
                <li><a href="#news-and-media">News and media releases</a></li>
                <li><a href="#social-feed">Social feed</a></li>
                <li><a href="#contact">Get in touch</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <h2 id="biography" class="underlined">Biography</h2>
        </div>

        <div class="col-sm-12 profile-photo">
          <img src="{{ minister.photo }}" alt="Photo of {{ minister.name }}" />
        </div>

        <div class="col-sm-12">
          <blockquote>{{ minister.bio }}</blockquote>
          <p><a href="#" >Full biography</a></p>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <h2  id="speeches" class="underlined">Speeches</h2>
          <div class="quote-box">
            <p><span class="date">{{ minister.quoteDate }}</span> &ndash; {{ minister.quoteLocation }}</p>
            <div class="row">

              <div class="right-quote col-xs-2 col-sm-2">
                <img src="/assets/open-quote.svg" alt=""/>
              </div>

              <div class="quote col-xs-8 col-sm-8">
                <blockquote class="quote">{{ minister.quote }}</blockquote>
              </div>

              <div class="left-quote col-xs-2 col-sm-2">
                <img src="/assets/close-quote.svg" class="close-quote" alt="" />
              </div>
            </div>
            <p><a href="#" >More speeches</a></p>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-sm-12">
          <h2 id="news-and-media" class="underlined">News and media releases</h2>
          <div class="row">
            {% for item in minister.news %}
            <div class="col-lg-4">
              <div class="news-story">
                <p><span class="news-heading">IN THE NEWS</span><span class="date">{{ item.newsDate }}</span></p>
                <h3>{{ item.newsHeadline }}</h3>
                {% if item.newsImage and item.newsImage != "" %}
                <br/>
                <img src="{{ item.newsImage }}" class="news-photo" alt="{{ item.newsAltText }}"/>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2 id="social-feed" class="underlined">Social feed</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="social-box">
                <h3><i class="fa fa-twitter-square"></i>Twitter</h3>
                {% for tweet in minister.twitter %}
                <p>
                  <span class="handle">{{ minister.handle }}</span>
                  <i class="fa fa-circle"></i>
                  <span class="short-date">{{ tweet.date }}</span>
                  <br>{{ tweet.text }}<br/>
                </p>
                {% endfor %}
                <a href="#">Follow {{ minister.handle }}</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="social-box">
                <h3><i class="fa fa-instagram"></i>Instagram</h3>
                <image height="242" width="242" src="{{ minister.instagram }}"></image>
                <br>
                <a href="#">View more on instagram</a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="social-box">
                <h3><i class="fa fa-facebook-square"></i>Facebook</h3>
                {% for post in minister.facebook %}
                <p>
                  <span class="short-date">{{ post.date }}</span>
                  <br>{{ post.text }}<br/>
                </p>
                {% endfor %}
                <a href="#" class="pull-down">Read more on Facebook</a>
              </div>
            </div>
          </div>
          {% if minister.youtubeTitle != null %}
          <br/>
          <div class="social-box">
            <h3><img src="/assets/youtube.svg" class="icon" alt="" />  YouTube</h3>
            <iframe src="{{ minister.youtubeLink }}" width="100%" frameborder="0" allowfullscreen></iframe>
            <p>{{ minister.youtubeTitle }}</p>
            <h3><a href="#">View more on YouTube</a></h3>
          </div>
          {% endif %}

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <h2 id="contact" class="underlined">Get in touch</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <div class="contact">
            <h3>Contact details</h3>
            <p>{{ minister.phone1 }}
            <br>
            {{ minister.phone2 }}
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="contact">
            <h3>Best mailing address</h3>
            <p>{{ minister.mailingAddressLine1 }}
            <br>
            {{ minister.mailingAddressLine2 }}
            <br>
            {{ minister.mailingAddressLine3 }}
            <br>
            {{ minister.mailingAddressLine4 }}
            <br>
            {{ minister.mailingAddressLine5 }}
          </div>
        </div>

        <div class="col-sm-12 col-lg-4 contact">
          <h3>Electoral office</h3>
          <p>{{ minister.electrolOffice1 }}
          <br>
          {{ minister.electrolOffice2 }}
          <br>
          {{ minister.electrolOffice3 }}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
  $('.pull-down').each(function() {
    $(this).css('margin-top', $(this).parent().height()-$(this).height())
  });

  $('.navbar-toggle').on('click',function(e) {
    if ($(this).find('i').hasClass('fa-angle-down')) {
      $(this).find('i').removeClass('fa-angle-down');
      $(this).find('i').addClass('fa-angle-up');
    }
    else if ($(this).find('i').hasClass('fa-angle-up'))
    {
      $(this).find('i').removeClass('fa-angle-up');
      $(this).find('i').addClass('fa-angle-down');
    }
  })
})
</script>
