---
layout: default
section: minister
categories: minister
---

{% assign minister-list = site.data.minister-list %}

<div class="minister">
  <div class="container heading">
    </br>
    <p><span class="thin-name-heading">Government Ministers</span>
  </div>

  <div class="page container content">
    <h5>Members of Parliament</h5>
    <ul>
      {% for mp in minister-list.mps %}
        <p><a href="{{ mp.href }}">{{ mp.name }}</a> - {{ mp.role }}
      {% endfor %}
    </ul>

    <h5>Senators</h5>
    <ul>
      {% for senator in minister-list.senators %}
        <p><a href="{{ senator.href }}">{{ senator.name }}</a> - {{ senator.role }}
      {% endfor %}
    </ul>
  </div>
</div>
