---
layout: default
section: minister
categories: minister
---

{% assign minister = site.data.minister[page.name] %}

<div class="minister">
  <div class="container heading">
    </br>
    <p><span class="thin-name-heading">{{ minister.name }}</span>
  </div>

  <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-angle-down"></i>
        </button>
        <span class="visible-xs navbar-brand">In this section</span>
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="hidden-xs"><h4>In this section</h4></li>
          <li><a href="#">Biography</a></li>
          <li><a href="#">Speeches</a></li>
          <li><a href="#">News and media releases</a></li>
          <li><a href="#">Social feed</a></li>
          <li><a href="#">Get in touch</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container bio">
      <p><span class="thin-name-heading">{{ minister.role }}</span>
  </div>

  <img src="{{ minister.photo }}" class="profile-photo" />

  <div class="container">
    <blockquote>{{ minister.bio }}</blockquote>
    <p><a href="#" class="readMore">Full biography</a><i class="fa fa-angle-double-right"></i></p>

    <h5>Speeches</h5>
    <div class="quote-box">
      <p><span class="date">{{ minister.quoteDate }}</span> - {{ minister.quoteLocation }}
      <div class="row">
        <div class="right-quote col-xs-2 col-sm-2">
          <img src="/assets/open-quote.svg" />
        </div>
        <div class="quote col-xs-8 col-sm-8">
          <p><span class="quote">{{ minister.quote }}</span>
        </div>
        <div class="left-quote col-xs-2 col-sm-2">
          <img src="/assets/close-quote.svg" class="close-quote" />
        </div>
      </div>
  <A href="#">More speeches</A>
    </div>


    <h5>News & media releases</h5>
    <div class="news-story">
      <p><span class="news-heading">IN THE NEWS</span><span class="date">{{ minister.newsDate }}</span>
      <h2>{{ minister.newsHeadline }}</h2>
      </br>
      <img src="{{ minister.newsImage }}" class="news-photo" />
    </div>

    <h5>Social feed</h5>
    <div class="social-box">
      <h1><i class="fa fa-twitter-square"></i>Twitter</h1>
      <p><span class="handle">{{ minister.handle }}</span><i class="fa fa-circle"></i><span class="short-date">{{ minister.tweetDate }}</span>
      <br>{{ minister.tweet }}
      <h3><a href "#">Follow {{ minister.handle }}</a></h3>
    </div>
    {% if minister.youtubeTitle != null %}
    </br>
      <div class="social-box">
        <h1><img src="/assets/youtube.svg" class="icon" />  YouTube</h1>
        <iframe src="{{ minister.youtubeLink }}" width="100%" frameborder="0" allowfullscreen></iframe>
        <p>{{ minister.youtubeTitle }}
        <h3><a href="#">View more on YouTube</a></h3>
      </div>
    {% endif %}

    <h5>Get in touch</h5>
    <div class="contact">
      <h4>Contact details</h4>
      <p>{{ minister.phone1 }}
      <br>{{ minister.phone2 }}

      <h4>Best mailing address</h4>
      <p>{{ minister.mailingAddressLine1 }}
      <br>{{ minister.mailingAddressLine2 }}
      <br>{{ minister.mailingAddressLine3 }}
      <br>{{ minister.mailingAddressLine4 }}
      <br>{{ minister.mailingAddressLine5 }}

      <h4>Electoral office</h4>
      <p>{{ minister.electrolOffice1 }}
      <br>{{ minister.electrolOffice2 }}
      <br>{{ minister.electrolOffice3 }}
    </div>
  </div>
</div>

<script>
$(function(){
  $('.navbar-toggle').on('click',function(e) {
    if ($(this).find('i').hasClass('fa-angle-down')) {
      $(this).find('i').removeClass('fa-angle-down');
      $(this).find('i').addClass('fa-angle-up');
    }
    else if ($(this).find('i').hasClass('fa-angle-up'))
    {
      $(this).find('i').removeClass('fa-angle-up');
      $(this).find('i').addClass('fa-angle-down');
    }
  })
})
</script>
