---
layout: default
---
<div class="page-content container post">

    <div class="column main-col col-xs-12 col-md-7">

      <div class="row page-content">{{ content }}</div>

      

      <div class="sg__colour--text">&nbsp;</div>text and header
      <div class="sg__colour--light-grey">&nbsp;</div>light grey colour
      <div class="sg__colour--visited">&nbsp;</div>visited colour
      <div class="sg__colour--primary-alt">&nbsp;</div>primary alt colour
      <div class="sg__colour--primary-alt-darkest">&nbsp;</div>primary alt darkest colour
      <div class="sg__colour--primary-alt-dark">&nbsp;</div>primary alt dark colour
      <div class="sg__colour--primary-alt-light">&nbsp;</div>primary alt light colour
      <div class="sg__colour--primary-alt-lightest">&nbsp;</div>primary alt lightest colour

    </div>

    <div class="column side-bar col-xs-12 col-md-3 col-md-offset-1">
      <h5>Some links here</h5>
      <p><a href="#">A link</a>
      <p><a href="#">Another link</a>
      <p><a href="#">Some third link</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Some second link cluster</h5>
      <p><a href="#">Links here too</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
    </div>
    
</div>
