---
layout: styleguide
---
<div class="container style-guide">
  <div class="col-xs-12 col-md-12">

    <h1>Gov.au Style Guide</h1>
    <h2>Coding Style</h2>
    <h3>CSS guidelines</h3>
    <ul>
      <li>Avoid cascading where possible</li>
      <li>Strive to only uses classes where possible ID's are permissable where the element is being referanced by JavaScript</li>
    </ul>

    <h3>Stylesheets Structure<h3>
      <pre>
        <code class="language-markup">
stylesheets/
          |
          |-- modules/                # Common modules
          |   |-- functions.scss      # Include to get all modules
          |   |-- mixins.scss         # Module name
          |   |-- variables.scss      # Etc...
          |   ...
          |
          |-- components/             # Components
          |   |-- _base.sass          # imports for all mixins + global project variables
          |   |-- _buttons.scss       # buttons
          |   |-- _figures.scss       # figures
          |   |-- _grids.scss         # grids
          |   |-- _typography.scss    # typography
          |   |-- _reset.scss         # reset
          |   ...
          |-- partials/               # Partials
          |   |-- _dto.sass           # global styles
          |   |-- _homepage.scss      # styles specific to the homepage
          |   |-- _longform.scss      # styles specific to the ministers and agency pages
          |   |-- _questionaire.scss  # styles specific to the questionaires
          |   |-- _styleguide.scss    # styles specific to the styleguide
          |
          |   ...
          |-- vendor/                 # CSS or Sass from other projects
          |   |-- _bootstrap.scss
          |   |-- _jquery.ui.core.scss
          |   ...
          |
          `-- main.scss               # primary Sass file
        </code>
      </pre>

      <h3>Component Naming Conventions</h3>
      <p>For each component in app/assets/css/components/:</p>
      <ul>
        <li>.module-name: lowercase, with dashes if needed</li>
        <li>Each module gets it's own Sass file components/_module.sass and style guide documentation.</li>
      </ul>

      <h3>Variable Naming Conventions<h3>
        <ul>
          <li>Choose semantic names for your variables.</li>
          <li>all colour variables should be postfixed with -colour</li>
          <li>Instead of describing what a variable looks like in the name, describe its function or purpose.</li>
          <li>Variables that apply to specific sections should have a prefix like header- or footer- added<li>
        </ul>
        <pre>
          <code class="language-css">
            // Bad
            $red: red;
            $yellow: yellow;

            // Better
            $brand-colour: red;
            $accent-colour: yellow;
          </code>
        </pre>

      <h3>Global Styles</h3>
      <p>In app/assets/css/_base/ all global styles should be (re)set if overridding Bootrap or defined:</p>

    <h2>Content</h2>
    <div class="row page-content">
      {{ content }}
    </div>

    <h3>Lists</h3>
    <div class="col-sm-12 link-list">
      <strong class="box-heading">Popular on GOV.AU</strong>
      <ul>
        <li>
          <a href="#">Public holidays</a>
        </li>
        <li>
          <a href="#">School holiday dates</a>
        </li>
        <li>
          <a href="#">Check an ABN</a>
        </li>
      </ul>
    </div>

    <figcaption>This is a figure caption</figcaption>

    <h2>Colour Pallet</h2>
    <p>All colours should be declared as variables using a web safe hex value.</p>
    <div class="row">
      <div class="col-md-3">
        <div class="colour-swatch-box text-colour"></div><p>$text-colour #232d35</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box background-color"></div><p>$background-color white</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box light-grey"></div><p>$contrast-background-colour #f0f3f5</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box link-colour"></div><p>$link-colour #000000</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="colour-swatch-box grey-colour"></div><p>$grey-colour #828282</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box grey-colour-light"></div><p>$frame-colour lighten($grey-colour, 30%)</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box grey-colour-dark"></div><p>$grey-colour-dark darken($grey-colour, 25%)</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-alt-colour"></div><p>$primary-alt-colour #02bfe7</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="colour-swatch-box primary-dark-colour"></div><p>$primary-dark-colour #346DAD</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-darkest-colour"></div><p>$primary-darkest-colour #225187</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-lightest-colour"></div><p>$primary-lightest-colour #427FC2</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-alt-darkest-colour"></div><p>$primary-alt-darkest-colour #046b99</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="colour-swatch-box primary-colour"></div><p>$primary-colour #407FCF</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-alt-dark-colour"></div><p>$primary-alt-dark-colour #00a6d2</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box primary-alt-lightest"></div><p>$primary-alt-lightest-colour #e1f3f8</p>
      </div>
      <div class="col-md-3">
        <div class="colour-swatch-box social-box-bg-colour"></div><p>$social-box-bg-colour #EEEEEE</p>
      </div>
    </div>


    <h2>Navigation</h2>
      <h3>Section Navigation</h3>
        <div class="row intro">
          <div class="col-sm-12 section-nav">
            <a href="#" id="globalBackBtn" class="back">Back</a>
            <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>
          </div>
          <div class="col-sm-12 intro-body">
            <h1>This is an intro body</h1>
            <p>Body text</p>
          </div>
        </div>
    <h2>Links</h2>
    <h2>Footer</h2>
    <h2>Components</h2>




    <h3>Buttons</h3>

    <div class="navbar navbar-default nav-bar-button" role="navigation">
      <button type="button" class="navbar-toggle dropdown-button" data-toggle="collapse" data-target=".navbar-collapse">In this section
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-angle-down"></i>
      </button>
      <div class="navbar-header">
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse new-button-style">
        <ul class="nav navbar-nav">
          <li class="hidden-xs"><h2>In this section</h2></li>
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </div>

    <div class="input-group no-side-padding">
        <a href="#" class="button col-xs-12">Button</a>
    </div>
    <p class="btn-tag">(At bp.ato.gov.au)</p>

    <h3>Form Elements</h3>

    <h3>Social</h3>
    <div class="quote-box">
      <p><span class="date">17 November 2015</span> &ndash; Final statement to G20 members</p>
      <div class="row">
        <div class="right-quote col-xs-2 col-sm-2">
          <img src="/assets/open-quote.svg" />
        </div>
        <div class="quote col-xs-8 col-sm-8">
          <p><span class="quote">Flexibility and agility are key elements in success. And so trade, free markets are vital for our future prosperity.</span>
        </div>
        <div class="left-quote col-xs-2 col-sm-2">
          <img src="/assets/close-quote.svg" class="close-quote" />
        </div>
      </div>
      <p><a href="#" >More speeches</a></p>
    </div>
    <h3>Lists</h3>
    <h3>Badges</h3>
    <h3>Alerts</h3>
    <h3>Widgets</h3>
    <div class="row box box-light holidays-widget">


      <div class="col-sm-12">

        <h3 class="underlined">Upcoming holidays</h3>
  <label for="state"><span class="hidden-text">Show me holidays for: </span></label>
        <select id="state" name="state" class="ui fluid dropdown">
          <option value="NSW">NSW</option>
          <option value="VIC">VIC</option>
          <option value="QLD">QLD</option>
          <option value="SA">SA</option>
          <option value="WA">WA</option>
          <option value="TAS">TAS</option>
          <option value="NTu">NT (Urban)</option>
          <option value="NTr">NT (Remote)</option>
          <option value="ACT">ACT</option>
        </select>
      </div>
      <div class="col-sm-12">
        <div class="col-xs-4 vcenter">
          <img src="/assets/Cal.svg" alt="">
        </div>
          <div class="col-xs-8 vcenter">
          <strong>Fri 25 Dec 2015</strong>
          <p>Christmas day</p>
          <strong id="schoolHolidaysFrom">Thu 17 Dec 2015</strong>
          <strong id="schoolHolidaysTo">to Wed 27 Jan 2016</strong>
          <p id="schoolHolidays">NSW school holidays</p>
        </div>
      </div>
    </div>
  </div>
</div>
