---
layout: questionnaire
title: "Hiring staff"
section:  "Starting a business"
subsection: "Visas"
categories: [starting-a-business,hiring-staff,sponsor-task-list]
screen_help: "The <strong>sponsor checklist</strong> shows Bobbi answered the the <strong>sponsoring a skilled worker</strong> questions and is now approved to become a sponsor."
screen_help_col-2: "In a Beta of GOV.AU Bobbi may choose to complete the tasks in the checklist and could return to it, to see the progress of the approved business sponsor application and be able to see it with Haruki too."
---
{% capture md_intro_content %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-list-intro.md %}{% endcapture %}
{% capture md_register_biz_title %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-title.md %}{% endcapture %}
{% capture md_employ_title %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-title.md %}{% endcapture %}

{{ md_intro_content | markdownify }}
<div class="prototype-warning">
  <div class="prototype-warning-text">
    <i class="fa fa-exclamation-triangle warning-triangle"></i>
    This checklist in not based on your answers, it is generic to demonstrate the functionality
  </div>
</div>
<ul class="task-list">


    {% include my-task-list/tasks/employing-staff/employing-staff-sponsor.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-role.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-employee.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-payment.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-track.html %}

</ul>

<script>
  $(function() {
    DTO.Notifications.fadeIn();
    DTO.MyTaskList.init(['.sponsor', '.role', '.employee', '.payment', '.track', '.further-info', '.business-status', '.payroll-status'], {slideToggleSpeed: 'fast', pageScrollSpeed: 1000});
  });
</script>
