---
layout: questionnaire
title: "Hiring staff"
section:  "Starting a business"
subsection: "Visas"
categories: [starting-a-business,hiring-staff,sponsor-task-list]
screen_help: "This is a hard coded example of what a GOV.AU checklist could look like in Beta, it is not dynamic."
screen_help_col-2: "The <strong>sponsor checklist</strong> shows Bobbi answered the <strong>sponsoring a skilled worker questions</strong> In a Beta of GOV.AU a user may revisit the checklist to complete more tasks and track the progress of their approved business sponsor application."
---
{% capture md_intro_content %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-list-intro.md %}{% endcapture %}
{% capture md_register_biz_title %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-title.md %}{% endcapture %}
{% capture md_employ_title %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-title.md %}{% endcapture %}

{{ md_intro_content | markdownify }}

<ul class="task-list">


    {% include my-task-list/tasks/employing-staff/employing-staff-sponsor.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-role.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-employee.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-payment.html %}

    {% include my-task-list/tasks/employing-staff/employing-staff-track.html %}

</ul>

<script>
  $(function() {
    jQuery("#screen-help").slideToggle(500);
    jQuery(".screen-help-link .fa-chevron-down").toggleClass("down");
    DTO.Notifications.fadeIn();
    DTO.MyTaskList.init(['.sponsor', '.role', '.employee', '.payment', '.track', '.further-info', '.business-status', '.payroll-status'], {slideToggleSpeed: 'fast', pageScrollSpeed: 1000});
  });
</script>
