---
layout: agmin
section: agency
categories: agency
---

{% assign agency = site.data.agency[page.name] %}
{% assign title = site.data.agency[page.name].name %}
<div class="container-fluid screen-help" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-11">
        <p>{{ agency.screenHelp }}</p>
      </div>
      <div class="col-xs-1 col-sm-1">
        <a class="screen-help-close"><i class="fa fa-times-circle"></i><span class="hidden-text">Close Screen Help</span></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid site-header">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-md-8 logo">
        <a class="site-title" href="/">
          <img src="/assets/gov.au.svg" class="title" alt="GOV.AU"/>
        </a>
        <span class="badge-prototype badge">Prototype</span>
      </div>
    </div>
  </div>
</div>
</header>

<a id="maincontent"></a>
{% include breadcrumbs.html %}
<div class="container {{ page.section | downcase }}">
  <div class="row">

    <div class="col-lg-3 hidden-sm hidden-xs">
      <ul class="link-list">
        <li class="hidden-xs"><h2>In this section</h2></li>
        <li><a href="#about-us">About us</a></li>
        <li><a href="#news-and-media">News and media</a></li>
        <li><a href="#agency-ministers">Agency Minister{% if agency.ministers.size > 1 %}s{% endif %}</a></li>
        <li><a href="#social-feed">Social feed</a></li>
        <li><a href="#portfolio-agencies">Agencies</a></li>
      </ul>
    </div>

    <div class="col-lg-9 col-sm-12">
      <br>
      <h1 class="thin-heading">{{ agency.name }}</h1>
      <div class="row sidebar-nav hidden-lg hidden-md">
        <div class="col-sm-12">
          <div class="navbar navbar-default nav-bar-button" role="navigation">
            <button type="button" class="navbar-toggle dropdown-button" data-toggle="collapse" data-target=".navbar-collapse">In this section
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="navbar-header">
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse new-button-style">
              <ul class="nav navbar-nav">
                <li class="hidden-xs"><h2>In this section</h2></li>
                <li><a href="#about-us">About us</a></li>
                <li><a href="#news-and-media">News and media</a></li>
                <li><a href="#agency-ministers">Agency Minister{% if agency.ministers.size > 1 %}s{% endif %}</a></li>
                <li><a href="#social-feed">Social feed</a></li>
                <li><a href="#portfolio-agencies">Agencies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p id="about-us" class="agency-summary">{{ agency.summary }}
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <h2 class="underlined">We're involved in</h2>
          </div>

          {% for responsibilities in agency.responsibilities %}
          <div class="col-sm-12 col-lg-6">
            <h3>{{ responsibilities.title }}</h3>
            <p>{{ responsibilities.summary }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="row">


          <div class="col-sm-12">
            <h2 id="news-and-media" class="underlined">News and media</h2>
            <div class="row">
              {% for item in agency.news %}
              <div class="col-lg-4">
                <div class="news-story">
                  <p><span class="news-heading">IN THE NEWS</span><span class="date">{{ item.newsDate }}</span></p>
                  <h3>{{ item.newsHeadline }}</h3>
                  {% if item.newsImage and item.newsImage != "" %}
                  <br/>
                  <img src="{{ item.newsImage }}" class="news-photo" alt="{{ item.newsAltText }}"/>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-12">
            <h2 id="agency-ministers" class="underlined">Minister{% if agency.ministers.size > 1 %}s{% endif %}</h2>
            <div class="agency-ministers">
              {% for minister in agency.ministers %}
              <p><a href="{{ minister.href }}">{{ minister.name }}</a> {{ minister.role }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-12">
            <h2 id="social-feed" class="underlined">Social feed</h2>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="social-box">
              <h3><i class="fa fa-twitter-square"></i>Twitter</h3>
              {% for tweets in agency.tweets %}
              <p>
                <span class="handle">{{ agency.handle }}</span>
                <i class="fa fa-circle"></i>
                <span class="short-date">{{ tweets.tweetDate }}</span>
                <br />
                {{ tweets.tweet }}
              </p>
              {% endfor %}
              <a href="#">Follow {{ agency.handle }}</a>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6">
            {% if agency.youtubeTitle != blank %}
            <div class="social-box">
              <h3><img src="/assets/youtube.svg" class="icon" width="20" height="20" alt=""/>YouTube</h3>
              <iframe src="{{ agency.youtubeLink }}" style="width: 100%; border: 0;" allowfullscreen></iframe>
              <p>{{ agency.youtubeTitle }}
                <h3><a href="#">View more on YouTube</a></h3>
              </div>
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <h2 id="portfolio-agencies" class="underlined">Agencies</h2>
            </div>
          </div>

          <div class="row">
            {% for agencies in agency.portfolioAgencies %}
            <div class="col-sm-12 col-lg-4">
              <br><img src="{{ agencies.logo }}" alt="{{ agencies.altText }}" class="news-photo" alt="agencies.name" />
              <br/>
              <br/>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

<script>
$(function(){
  $('.navbar-toggle').on('click',function(e) {
    if ($(this).find('i').hasClass('fa-angle-down')) {
      $(this).find('i').removeClass('fa-angle-down');
      $(this).find('i').addClass('fa-angle-up');
    }
    else if ($(this).find('i').hasClass('fa-angle-up'))
    {
      $(this).find('i').removeClass('fa-angle-up');
      $(this).find('i').addClass('fa-angle-down');
    }
  })
})
</script>
