---
layout: default
section: agency
categories: agency
---

{% assign agency = site.data.agency[page.name] %}

<div class="minister">
  <div class="container heading">
    </br>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <p><span class="thin-name-heading">{{ agency.name }}</span>
      </div>
    </div>
  </div>

  <div class="sidebar-nav">
    <div class="navbar navbar-default nav-bar-button" role="navigation">
      <button type="button" class="navbar-toggle dropdown-button" data-toggle="collapse" data-target=".navbar-collapse">In this section
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-angle-down"></i>
      <div class="navbar-header">
        </button>
        <!-- <span class="visible-xs navbar-brand"></span> -->
      </div>
      <div class="navbar-collapse collapse sidebar-navbar-collapse new-button-style">
        <ul class="nav navbar-nav">
          <!-- <li class="hidden-xs"><h4>In this section</h4></li> -->
          <li><a href="#">About us</a></li>
          <li><a href="#">News and media releases</a></li>
          <li><a href="#">Access and accountability</a></li>
          <li><a href="#">Reports and publications</a></li>
          <li><a href="#">Careers and recruitment</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="first-para-after-drop-down">{{ agency.summary }}
  </div>

  <div class="container bio">
    <h5>We're involved in</h5>
    <ul>
      {% for responsibilities in agency.responsibilities %}
        <p><h2>{{ responsibilities.title }}</h2>
        <p>{{ responsibilities.summary }}
      {% endfor %}
    </ul>
    <div class="divider"></div>
  </div>

  <div class="container">
    <h5>News and media releases</h5>
    <div class="news-story">
      <p><span class="news-heading">IN THE NEWS</span><span class="date">{{ agency.newsDate }}</span>
      <h2>{{ agency.newsHeadline }}</h2>
      </br>
      <img src="{{ agency.newsImage }}" class="news-photo" />
    </div>

    <h5>Ministers</h5>
    <div class="agency-ministers">
      <ul>
      {% for minister in agency.ministers %}
      <p><a href="{{ minister.href }}">{{ minister.name }}</a> &ndash; {{ minister.role }}
      {% endfor %}
      </ul>
      <div class="divider"></div>
    </div>

    <h5>Social feed</h5>
    <div class="social-box">
      <h2><i class="fa fa-twitter-square"></i>Twitter</h2>
      {% for tweets in agency.tweets %}
        <p><span class="handle">{{ agency.handle }}</span><i class="fa fa-circle"></i><span class="short-date">{{ tweets.tweetDate }}</span>
        <br />
        {{ tweets.tweet }}</p>
      {% endfor %}
      <h3><a href="#">Follow {{ agency.handle }}</a></h3>
    </div>
    {% if agency.youtubeTitle != blank %}
    </br>
      <div class="social-box">
        <h2><img src="/assets/youtube.svg" class="icon" style="width: 20px; height: 20px;"/>  YouTube</h2>
        <iframe src="{{ agency.youtubeLink }}" width="100%" frameborder="0" allowfullscreen></iframe>
        <p>{{ agency.youtubeTitle }}
        <h3><a href="#">View more on YouTube</a></h3>
      </div>
    {% endif %}
    </br>

    <h5>Portfolio agencies</h5>
    <ul>
      {% for agencies in agency.portfolioAgencies %}
      <br><img src="{{ agencies.logo }}" class="news-photo" alt="agencies.name" />
      </br>
      </br>
      {% endfor %}
    </ul>
  </div>
</div>

<script>
$(function(){
  $('.navbar-toggle').on('click',function(e) {
    if ($(this).find('i').hasClass('fa-angle-down')) {
      $(this).find('i').removeClass('fa-angle-down');
      $(this).find('i').addClass('fa-angle-up');
    }
    else if ($(this).find('i').hasClass('fa-angle-up'))
    {
      $(this).find('i').removeClass('fa-angle-up');
      $(this).find('i').addClass('fa-angle-down');
    }
  })
})
</script>
