<footer>
    <div id="bottom-footer" class="container">
      <div class="row">
          <div id="footer-links-left" class='col-xs-6 footer-links'>
            <ul id="footer-ul-left" class="footer-ul">
              <li>Help
              <li>Site map
              <li>Terms of use
            </ul>
          </div>
          <div id="footer-links-right" class='col-xs-6 footer-links'>
            <ul id="footer-ul-right" class="footer-ul">
              <li>About
              <li>Accessibility
              <li>Copyright
            </ul>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-12 col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 col-lg-3 col-lg-pull-9'>
            <img src="/assets/coatorarms-01.svg" alt="gov au"/>
          </div>
        </div>
      </div>
    </div>

</footer>
