<footer>
<div id="top-footer">
  <div class='container'>

    <div id="footer-top-row" class="row hidden-xs">
      <div class='col-md-12 col-lg-12'>
        <p><i class="fa fa-chevron-up no-pad"></i>
        <p><a href="#">Back to top</a>
      </div>
    </div>

    <div id="footer-middle-row" class="row">
      <div class='col-md-3 col-lg-3'>
        <h5>About Government</h5>
        <p><a href="#">Contact Government</a>
        <h5>Departments and Agencies</h5>
        <p><a href="#">Publications</a>
        <p><a href="#">Apps</a>
        <h5>About Australia</h5>
        <p><a href="#">Facts and Figures</a>
        <p><a href="#">Special Dates and Events</a>
        <p><a href="#">Our Country</a>
        <p><a href="#">Australian Stories</a>
        <p><a href="#">News and Social Media</a>
      </div>

      <div class='col-md-3 col-lg-3'>
        <h5>Media Releases</h5>
        <p><a href="#">Social Media</a>
        <p><a href="#">Campaigns</a>
        <p><a href="#">What's On</a>
        <p><a href="#">Public Consultations</a>
        <h5>myGov</h5>
        <p><a href="#">myGov</a><i class="fa fa-share"></i>
      </div>

      <div class='col-md-3 col-lg-3'>
        <h5>Quick Links</h5>
        <p><a href="#">Parliament of Australia</a><i class="fa fa-share"></i>
        <p><a href="#">Prime Minister</a><i class="fa fa-share"></i>
        <p><a href="#">Department of Human Services</a><i class="fa fa-share"></i>
        <p><a href="#">Australian Taxation Office</a><i class="fa fa-share"></i>
        <p><a href="#">Bureau of Meterology</a><i class="fa fa-share"></i>
        <p><a href="#">Department of Immigration and Border Protection</a><i class="fa fa-share"></i>
        <p><a href="#">smarttraveller.gov.au</a><i class="fa fa-share"></i>
        <p><a href="#">business.gov.au</a><i class="fa fa-share"></i>
      </div>

      <div class='col-md-3 col-lg-3'>
        <h5>State and Territory Governments</h5>
        <p><a href="#">Australian Capital Territory</a><i class="fa fa-share"></i>
        <p><a href="#">New South Wales</a><i class="fa fa-share"></i>
        <p><a href="#">Northern Territory</a><i class="fa fa-share"></i>
        <p><a href="#">Queensland</a><i class="fa fa-share"></i>
        <p><a href="#">South Australia</a><i class="fa fa-share"></i>
        <p><a href="#">Tasmania</a><i class="fa fa-share"></i>
        <p><a href="#">Victoria</a><i class="fa fa-share"></i>
        <p><a href="#">Western Australia</a><i class="fa fa-share"></i>
        <h5>Local Governmets</h5>
        <p><a href="#">Local Government</a><i class="fa fa-share"></i>
      </div>
    </div>
  </div>
</div>

<div id="bottom-footer">
  <div class="container">
    <div class="row">
        <div id="footer-links" class='col-xs-12 col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 col-lg-9 col-lg-push-3'>
        <ul id="footer-ul">
          <li>About
          <li>Accessibility
          <li>Copyright
          <li>Help
          <li>Site map
          <li>Terms of use
        </ul>
      </div>
      <div class='col-xs-12 col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 col-lg-3 col-lg-pull-9'>
        <img src="/assets/coatorarms-01.svg" alt="gov au"/>
      </div>
    </div>
  </div>
</div>
</footer>
