<footer class="container">
  <div class="row">
      <div class='col-xs-6'>
        <ul>
          <li><a>Help</a></li>
          <li><a>Site map</a></li>
          <li><a>Terms of use</a></li>
        </ul>
      </div>
      <div class='col-xs-6'>
        <ul>
          <li><a>About</a></li>
          <li><a>Accessibility</a></li>
          <li><a>Copyright</a></li>
        </ul>
      </div>
    </div>
      <div class='col-xs-6'>
        <img src="/assets/coatorarms-01.svg" alt="gov au"/>
      </div>
    </div>
  </div>
</footer>
{% js "vendor/bootstrap.min.js" %}
{% js "vendor/search.min.js" %}
{% js "vendor/api.min.js" %}
{% js "vendor/lodash.min.js" %}
{% js "vendor/sticky.min.js" %}
{% js "vendor/dropdown.min.js" %}
{% js "vendor/transition.min.js" %}
{% js "app.js" %}
