<header>
  <div class="container-fluid" id="prototype-warning">
    <div class="container" id="prototype-warning-heading">
      <div class="row">

        <div class="col-md-6" id="prototype-warning-text">
          <i class="fa fa-exclamation-triangle warning-triangle"></i>
          <strong> This prototype is not complete and has limited functionality.</strong>
        </div>

        <div class="col-md-3">
          <span id="screen-help-text">
          <span class="hidden-xs hidden-sm"><strong><i class="fa fa-info-circle"></i></strong></span>
          <a
              class="screen-help-link" href="#">What's this screen about?</a><span class="hidden-xs hidden-sm"><a
                  class="screen-help-link" href="#"><i class="fa fa-chevron-down"></i><span class="sr-only">Show/hide Screen Help</span></a></span>
            </span>
        </div>

        <div class="col-md-3">
          <a id="feedback-button" href="{% post_url 2015-01-01-feedback-example-page %}"><i class="fa fa-commenting"></i><span class="hidden-xs hidden-sm">Give feedback on this screen</a>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        jQuery("#screen-help").hide();
        jQuery(".screen-help-link").click(function () {
          jQuery("#screen-help").slideToggle(500);
        });
        jQuery("#screen-help-close").click(function () {
          jQuery("#screen-help").slideToggle(500);
        });
      });
    </script>

  </div>
  {%if page.screen_help %}
  <div class="container-fluid" id="screen-help"  style="display: none;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>{{ page.screen_help }}</p>
        </div>
        <div class="col-md-6">
          <a id="screen-help-close"><i class="fa fa-times-circle"></i><span class="hidden-text">Close Screen Help</span></a>
          <p>{{ page.screen_help_col-2 }}</p>
          </div>
      </div>
    </div>
  </div>
  {%endif%}

  <div class="container">


    <div class="row site-header">
      <div class="col-xs-8 col-md-8">
        <a class="site-title" href="/">
          <img src="/assets/gov.au.svg" class="title" alt="GOV.AU"/>
        </a>
        <span class="badge-prototype badge">Prototype</span>
      </div>

      <div class="col-xs-4 col-md-4">
        <a href="#" class="menu" id="sectionNav"><span class="hidden-text">Open menu</span></a>
      </div>
    </div>
  </div>
</header>
{% include slide-nav.html %}
