<header>

  <div id="skiptocontent"><a href="#maincontent" id="skipper">skip to main content</a></div>
  {% include prototype_banner.html %}

  <div class="container-fluid site-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-md-8 logo">
          <a class="site-title" href="/">
            <img src="/assets/gov.au.svg" class="title" alt="GOV.AU"/>
          </a>
          <span class="badge-prototype badge">Prototype</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% include slide-nav.html %}
