<div id="loginContainer" class="hide">
  <div class="container">

  		<div class="sign-in-banner">
  			<a href="#" class="close-login" title="Close login">Close</a>
        <div class="row">
          <h4>Sign-in to continue to</h4>
          <h1>GOV.AU ID</h1>
        </div>
      </div>

  		<div class="col-xs-12 col-md-12">

        <form id="frmLogin" action="{% post_url 2015-01-01-index %}" method="get" novalidate>
	  				<div class="input-group">
	  					<div class="error-message hide" id="loginErrorHolder">
	  						<p>Login Error</p>
	  						<p>Enter a valid username or password.</p>
	  					</div>

	  					<label for="username">Username</label>
	  					<input type="text" name="username" id="username" required />
	  				</div>


	  				<div class="input-group">
	  					<label for="password">Password</label>
	  					<input type="password" name="password" id="password" autocomplete="off" required />
	  				</div>

	  				<div class="input-group">
	  					<button id="btnSubmitLogin">Sign-in to GOV.AU ID</button>
	  				</div>

	  				<div class="input-group center">
	  					<a href="#" class="close-login">Cancel</a>
	  				</div>

	  				<div class="input-group">
	  					<a href="#" class="other-links">Forgot your password?</a>

	  					<a href="#" class="other-links">Read our privacy policy.</a>
	  				</div>
	  			</form>

  		</div>
  </div>
</div>
<script>

$(function() {
	$('#btnSubmitLogin').on('click', function(e) {
		e.preventDefault();
		var userEl = document.getElementById('username');
		var passEl = document.getElementById('password');
		var errorHolder = document.getElementById('loginErrorHolder');


		if ((userEl.value === '' || passEl.value === '') && errorHolder.classList.contains('hide') )
		{
			errorHolder.classList.remove('hide');
		}
		else if ((userEl.value !== '' && passEl.value !== '') && !errorHolder.classList.contains('hide'))
		{
			errorHolder.classList.add('hide');
		}
		else if (userEl.value !== '' && passEl.value !== '')
		{
			$('#frmLogin').submit();
		}
	});

	$('.close-login').on('click', function(e) {
		e.preventDefault();

		var html = document.documentElement;

		var el = document.getElementById('loginContainer');

		if (!el.classList.contains('hide'))
		{
			el.classList.remove('slide-up');
			setTimeout(function(){
				el.classList.add('hide');
				html.classList.remove('no-scroll');
			},500);
		}
	});
})
</script>
