<div id="thediv" style="width: 100%; background-color: #02bfe7;" class="hide">

  <div class="container">
    <div class="row">
      <div id="main" class="col-xs-9"><p id="main-text"></p> <a id="button-link" href="#"></a></div>
      <div class="col-xs-3"><strong><p class="time"></p></strong></div>
    </div>
  </div>
</div>

<script>
  $(function() {

    var setTime = function() {
      var dt = new Date();
      var time = "10:20";
      $('.time').text(time);
    };

    $('button.show-notification').click(function () {
      setTime();

      var mainText = $('form.notification').data('main-notification');
      var buttonText = $('form.notification').data('main-button');
      var buttonLink = $('form.notification').data('main-button-link');

      // populate text with values
      $('#main-text').text(mainText);
      $('#button-link').text(buttonText);

      $('#button-link').click(function() {
        window.location = buttonLink;
      });

      $('#thediv').removeClass('hide');
    });
  });
</script>

<style>
  .container {
    padding: 20px;
  }

  #main p {
    margin-bottom: 0px;
  }

  #main a {
    color: black !important;
    font-weight: bolder !important;
  }

  #main a:visited {
    color: black !important;
  }



</style>