<div class="overlay hide">
  <a href="#" title="Close overlay" class="overlay-close"></a>
  <div class="overlay-body success-message">

    <p class="title-text">Your ABN is registered</p>
    <hr />
    <strong>Australian Business Number</strong>
    <p>96 257 979 159</p>

    <strong>Reference number</strong>
    <p>N 367 890 334</p>

    <strong>Date registered</strong>
    <p>8 December 2015 2:15PM</p>

    <hr />
    <a href="{% real_post_url 2015-01-01-register-business-task-summary %}" class="button">Back to your task list</a>

  </div>
</div>

<script>
$(function(){
	$('.overlay-close').on('click',function(e) {
		$('.overlay').addClass('hide');
	});
});
</script>
