{% capture section_downcased %}{{ page.section | downcase }}{% endcapture %}
{% capture subsection_downcased %}{{ page.subsection | downcase }}{% endcapture %}

<div id="navMask" class="nav-mask"></div>

<nav class="slide-from-right">
  <ul class="list-unstyled main-menu">
  	{% if section_downcased == "homepage" or section_downcased == "minister" or section_downcased == "agency" %}
		  	<li><strong><a href="/">Homepage</a></strong><a href="#" id="navClose"><span class="hidden-text">Close menu</span></a></li>
		  	<li><strong><a href="{% post_url 2015-01-01-minister-list %}">Ministers</a></strong>
          <ul>
            <li><a href="{% post_url 2015-01-01-malcolm-turnbull %}">The Hon Malcolm Turnbull MP</a></li>
            <li><a href="{% post_url 2015-01-01-mitch-fifield %}">Senator the Hon Mitch Fifield</a></li>
            <li><a href="{% post_url 2015-01-01-christopher-pyne %}">The Hon Christopher Pyne MP</a></li>
            <li><a href="{% post_url 2015-01-01-peter-dutton %}">The Hon Peter Dutton MP</a></li>
            <li><a href="{% post_url 2015-01-01-kelly-o-dwyer %}">The Hon Kelly O'Dwyer MP</a></li>
            <li><a href="{% post_url 2015-01-01-mathias-cormann %}">Senator the Hon Mathias Cormann</a></li>
            <li><a href="{% post_url 2015-01-01-sussan-ley %}">The Hon Sussan Ley MP</a></li>
            <li><a href="{% post_url 2015-01-01-stuart-robert %}">The Hon Stuart Robert MP</a></li>
            <li><a href="{% post_url 2015-01-01-arthur-sinodinos %}">Senator the Hon Arthur Sinodinos AO</a></li>
          </ul>
        </li>
        <li><strong><a href="#">Departments</a></strong>
          <ul>
            <li><a href="{% post_url 2015-01-01-communications %}">Department of Communications and the Arts</a></li>
            <li><a href="{% post_url 2015-01-01-industry %}">Department of Industry, Innovation and Science</a></li>
          </ul>
        </li>
		  	<li><strong><a href="{% post_url 2015-01-01-questionnaire-index %}">Starting a business</a></strong></li>
	  {% else %}
		   <li><strong><a href="{% post_url 2015-01-01-questionnaire-index %}">Starting a business</a></strong><a href="#" id="navClose"><span class="hidden-text">Close menu</span></a></li>
		  {% if subsection_downcased == "register a business" %}
		    <li class="selected">
		  {% else %}
		    <li>
		  {% endif %}<a href="{% post_url 2015-01-01-registration-index %}">Register a business<span class="icon"></span></a></li>
		  {% if subsection_downcased == "licences and permits" %}
		    <li class="selected">
		  {% else %}
		    <li>
		  {% endif %}
		    <a href="{% post_url 2015-01-01-permits-and-licenses-intro %}">Licences and permits<span class="icon"></span></a></li>

		  {% if subsection_downcased == "employing staff" %}
		    <li class="selected">
		  {% else %}
		    <li>
		  {% endif %}<a href="{% post_url 2015-01-01-hiring-index %}">Finding staff<span class="icon"></span></a></li>

		  {% if subsection_downcased == "grants and programs" %}
		    <li class="selected">
		  {% else %}
		    <li>
		  {% endif %}<a href="{% post_url 2015-01-01-funding-and-support-intro %}">Funding and support<span class="icon"></span></a></li>

		    <li><a href="{% post_url 2015-01-01-my-task-list-default %}">Questionnaire summary<span class="icon"></span></a><span class="badge">For testing only</span></li>

		    <li><a href="{% post_url 2015-01-01-questionnaire-index %}" id="clearLocal">Clear data and re-start<span class="icon"></span></a><span class="badge">For testing only</span></li>

    <li><a href="{% post_url 2015-01-01-testing-search-results %}" id="search-results">"How do I start a business" search results
      <br/><span class="icon"></span></a><span class="badge">For testing only</span></li>

    <li><a href="{% post_url 2015-01-01-bobbi-anniversary-email %}" id="bobbi-anniversary-email">Bobbi anniversary email
      <br/><span class="icon"></span></a><span class="badge">For testing only</span></li>

    <li><a href="{% post_url 2015-01-01-haruki-employment-email %}" id="haruki-employment-email">Haruki employment email
      <br/><span class="icon"></span></a><span class="badge">For testing only</span></li>

    <li><a href="{% post_url 2015-01-01-haruki-visa-confirmation-email %}" id="haruki-visa-conf-email">Haruki visa confirmation email
      <br/><span class="icon"></span></a><span class="badge">For testing only</span></li>
	  {% endif %}
  </ul>
</nav>
<script>
$(document).ready(function() {
  $('#sectionNav').on('click',function(e){
    e.preventDefault();
    $('body').toggleClass('nav-expanded');
  });

  $('#navClose, #navMask').on('click',function(e){
    e.preventDefault();
    $('body').removeClass('nav-expanded');
  });

  $('#globalBackBtn').on('click',function(e) {
    e.preventDefault();
    window.history.back();
  });
});
</script>
