<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="row" id="images">
          <img style="height: 76px;" id="coat-of-arms" src="/assets/coatofarms-01.svg" alt="Commonwealth Coat of Arms"/>
        </div>
      </div>

      <div class="col-lg-3">
        <p><a href="{% post_url 2015-01-01-questionnaire-index %}">Start a business</a></p>
        <p><a href="{% post_url 2015-01-01-hiring-index %}">Sponsor a skilled worker</a></p>
        <p><a href="{% post_url 2015-01-01-visa-landing %}">Confirm sponsorship and apply for a visa</a></p>
      </div>

      <div class="col-lg-3">
        <p><a href="/#departments">Departments</a></p>
        <p><a href="/#ministers">Ministers</a></p>
      </div>

      <div class="col-lg-3">
        <p><a href="{% post_url 2015-01-01-bobbis-story %}">Read Bobbi's Story</a></p>
        <p><a href="#top">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>

{% js "vendor/bootstrap.min.js" %}
{% js "vendor/search.min.js" %}
{% js "vendor/api.min.js" %}
{% js "vendor/lodash.min.js" %}
{% js "vendor/sticky.min.js" %}
{% js "vendor/dropdown.min.js" %}
{% js "vendor/transition.min.js" %}
{% js "app.js" %}
