{% capture md_1 %}{% include content/starting-a-business/your-business/2015-01-01-about-you-title.md %}{% endcapture %}
{{ md_1 | markdownify }}

<div class="steps">
  <div id="gender" class="step row hide">
    <div class="col-xs-10">
      <dt>Gender</dt>
      <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="indigenous" class="step row hide">
    <div class="col-xs-10">
      <dt>Aboriginal or Torres Strait Islander</dt>
      <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="disability" class="step row hide">
    <div class="col-xs-10">
      <dt>Disabilities</dt>
      <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="benefits" class="step row hide">
    <div class="col-xs-10">
      <dt>Benefits</dt>
      <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
</div>
