<div class="steps">
  About you
  <div class="step row">
    <div class="col-xs-10">
      <dt>Gender</dt>
      <dd><span id="gender"></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div class="step row">
    <div class="col-xs-10">
      <dt>Indigenous</dt>
      <dd><span id="indigenous"></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div class="step row">
    <div class="col-xs-10">
      <dt>Benefits</dt>
      <dd><span id="benefits"></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
</div>
