<div class="steps">
  <div id="activities" class="step row hide">
    <div class="col-xs-10">
      <dt>Activities</dt>
      <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="bizlocation" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Location</dt>
        <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="source" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Trading from</dt>
        <dd>
          <span></span>
        </dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="employees" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Employees</dt>
        <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="shoplocation" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Shop location</dt>
        <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="modify" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Modify shop</dt>
        <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
  <div id="storage-address" class="step row hide">
    <div class="col-xs-10">
      <dl>
        <dt>Storage address</dt>
        <dd><span></span></dd>
      </dl>
    </div>
    <div class="col-xs-2 change">
      <a href="#">Change</a>
    </div>
  </div>
</div>
