---
layout: three-column
title:  "Starting a business"
section: "Starting a business"
subsection: "Importing"
---
{% capture md_1 %}{% include content/starting-a-business/importing/2015-01-01-permits.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/importing/2015-01-01-permits.2.md %}{% endcapture %}
{{ md_1 | markdownify }}
<div class="input-group">
  <a href="http://www.austrade.gov.au/suppliersearch.aspx" class="button icon-next">Find a local supplier</a>
</div>
{{ md_2 | markdownify }}
<a href="javascript:void(0);" class="button icon-next">Next</a>
