{% capture md_content %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-text.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.payg.md %}{% endcapture %}
{% capture md_super_content %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.super.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.insurance.md %}{% endcapture %}
{% capture md_5 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.wage.md %}{% endcapture %}
{% capture md_7 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.payg-button.md %}{% endcapture %}
{% capture md_9 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.insurance-button.md %}{% endcapture %}
{% capture md_10 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.wage-button.md %}{% endcapture %}

<li>
    <div class="task-title" data-toggle="collapse" data-target=".employ-staff">
        <span class="title">{{ md_employ_title | markdownify }}</span>
        <span class="badge">5 tasks</span>
        <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse employ-staff">
        <div class="badge squared stamp">Fair Work Ombudsman</div>
        {{ md_content | markdownify }}
    </div>
    <div class="task-body collapse employ-staff">
        {{ md_2 | markdownify }}
        <div class="input-group no-side-padding">
            <a href="#" class="button col-xs-12">{{ md_7 }}</a>
        </div>
    </div>
    <div class="task-body collapse employ-staff">
        {{ md_super_content | markdownify }}
    </div>
    <div class="task-body collapse employ-staff">
        {{ md_4 | markdownify }}
        <div class="input-group no-side-padding">
            <a href="#" class="button col-xs-12">{{ md_9 }}</a>
        </div>
    </div>
    <div class="task-body collapse employ-staff">
        {{ md_5 | markdownify }}
        <div class="input-group no-side-padding">
            <a href="#" class="button col-xs-12">{{ md_10 }}</a>
        </div>
    </div>
</li>