{% capture md_title %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-title.md %}{% endcapture %}
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-intro.md %}{% endcapture %}
{% capture business_status_heading %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-business-status-heading.md %}{% endcapture %}
{% capture business_status_text %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-business-status-text.md %}{% endcapture %}

{% capture payroll_status_heading %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-payroll-status-heading.md %}{% endcapture %}
{% capture payroll_status_text %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-payroll-status-text.md %}{% endcapture %}

{% capture md_5 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-training.md %}{% endcapture %}
{% capture md_6 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-responsibilities.md %}{% endcapture %}
{% capture md_7 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-business-status-button.md %}{% endcapture %}
{% capture md_9 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-payroll-button.md %}{% endcapture %}
{% capture md_10 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-training-button.md %}{% endcapture %}
{% capture md_responsibilities_btn %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-responsibilities-button.md %}{% endcapture %}

<li>

  <div class="task-title sponsor">
    <span class="title">{{ md_title }}</span>
    <span class="badge">4 to do</span>
  </div>
  <div class="task-body-content sponsor">

    <div class="task-title closed completed business-status">
      <div class="title">{{ business_status_heading }}</div>
    </div>

    <div class="task-body-content completed business-status">
      <div class="task-body">
        {{ business_status_text | markdownify }}
      </div>
    </div>

    <div class="task-title closed completed payroll-status">
      <div class="title">{{ payroll_status_heading }}</div>
    </div>

    <div class="task-body-content completed payroll-status">
      <div class="task-body">
        {{ payroll_status_text | markdownify }}
      </div>
    </div>



    
    <div class="task-body">
      {{ md_5 | markdownify }}
      <div class="input-group no-side-padding">
          <a href="#" class="button">{{ md_10 }}</a>
      </div>
    </div>
    <div class="task-body">
      {{ md_6 | markdownify }}
      <div class="input-group no-side-padding">
          <a href="#" class="button">{{ md_responsibilities_btn }}</a>
      </div>
    </div>
  </div>
</li>
