{% capture md_title %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-title.md %}{% endcapture %}
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-intro.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-business-status.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-payroll.md %}{% endcapture %}
{% capture md_5 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-training.md %}{% endcapture %}
{% capture md_6 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-responsibilities.md %}{% endcapture %}
{% capture md_7 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-business-status-button.md %}{% endcapture %}
{% capture md_9 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-payroll-button.md %}{% endcapture %}
{% capture md_10 %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-training-button.md %}{% endcapture %}
{% capture md_responsibilities_btn %}{% include content/starting-a-business/hiring-staff/sponsor-task-list/2015-01-01-sponsor-task-responsibilities-button.md %}{% endcapture %}

<li>
    <div class="task-title sponsor">
        <span class="title">{{ md_title }}</span>
        <span class="badge">2 tasks</span>
        <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body-content sponsor">
        <div class="task-body">
            {{ md_intro | markdownify }}
        </div>
        <div class="task-body success-message">
            {{ md_2 | markdownify }}
        </div>
        <div class="task-body success-message">
            {{ md_4 | markdownify }}
        </div>
        <div class="task-body">
            {{ md_5 | markdownify }}
            <div class="input-group no-side-padding">
                <a href="#" class="button col-xs-12">{{ md_10 }}</a>
            </div>
        </div>
        <div class="task-body">
            {{ md_6 | markdownify }}
            <div class="input-group no-side-padding">
                <a href="#" class="button col-xs-12">{{ md_responsibilities_btn }}</a>
            </div>
        </div>
    </div>
</li>
