/*****
  OVERRIDE BOOTSTRAP VALUES HERE IF REQUIRED
*****/
$grid-gutter-width:         30px !default;
$container-large-desktop:      (1140px + $grid-gutter-width) !default;

@import "bootstrap";

/**
 * Text elements
 */

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
  font-weight: bold;
}

h4 {
  font-size: 2em;
  font-weight: bold;
}

h5 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 130%;
}

h6 {
  font-size: 1.7em;
  font-weight: 600;
}

blockquote {
  font-size: 1.5em;
  font-style: italic;
  @include media-query($on-palm) {
    font-size: 1.3em;
  }
}

body {
  font-size: 1.5em;
  @include media-query($on-palm) {
    font-size: 1.3em;
  }
}

caption {
  font-size: .92em;
  font-weight: 600;
}

/**
 * Site header
 */

.site-header {
  background: $grey-color-dark;
  height: 80px;
  border-top: none;
  @include media-query($on-palm) {
    height: 48px;
  }
}

.site-title {
  height: 80px;
  @include media-query($on-palm) {
    height: 48px;
  }
}

.site-header img {
  vertical-align: -webkit-baseline-middle;
  height: 33px;
  @include media-query($on-palm) {
    vertical-align: baseline;
    height: 20px;
  }
}

.site-header .title {
  padding-left: 24px;
  @include media-query($on-palm) {
    padding-left: 15px;
  }
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
}

#top-footer {
  background: $light-grey;
}

#footer-top-row {
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer-top-row p {
  text-align: center;
  margin-bottom: 0;
}

#footer-middle-row {
  padding-bottom: 40px;
}

#bottom-footer {
  background: $grey-color-dark;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
}

#bottom-footer div {
  height: 100%;
  display: block;
}

#bottom-footer img {
  height: 80px;
}

#bottom-right {
  margin-top: 59px;
  margin-bottom: 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
  * Page
  */

.subtitle {
  color: white;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
}

.subtitle-row {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
  @include media-query($on-palm) {
    height: 40px;
  }
}

.page-header {
  background: $grey-color-dark;
  height: 80px;
  margin-top: 0px;
  border-top: none;
  @include media-query($on-palm) {
    height: 156px;
  }
}

/**
  * Site content body
  */

.content {
  font-size: 16px;
}

.side-bar {
  font-size: 16px;
}

.blue-box {
  color: white;
  background-color: $primary-alt-color;
  padding: 8px;
}
