/**
 * Text elements
 */

h1 {
  font-size: 3.5em;
  font-weight: bold;
}

h2 {
  font-size: 3em;
  font-weight: bold;
}

h3 {
  font-size: 2.5em;
  font-weight: bold;
}

h4 {
  font-size: 2em;
  font-weight: bold;
}

h5 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 130%;
}

h6 {
  font-size: 1.7em;
  font-weight: 600;
}

blockquote {
  font-size: 1.5em;
  font-style: italic;
  @include media-query($on-palm) {
    font-size: 1.3em;
  }
}

body {
  font-size: 1.5em;
  @include media-query($on-palm) {
    font-size: 1.3em;
  }
}

caption {
  font-size: .92em;
  font-weight: 600;
}

/**
 * Site header
 */

.site-header {
  background: $grey-color-dark;
  height: 80px;
  border-bottom: 1px solid $grey-color-light;
  border-top: none;
  @include media-query($on-palm) {
    height: 48px;
  }
}

.site-title {
  height: 80px;
  @include media-query($on-palm) {
    height: 48px;
  }
}

.site-header img {
  vertical-align: -webkit-baseline-middle;
  height: 33px;
  @include media-query($on-palm) {
    vertical-align: baseline;
    height: 20px;
  }
}

.site-header .title {
  padding-left: 24px;
  @include media-query($on-palm) {
    padding-left: 15px;
  }
}

