/**
 * Site header
 */
.badge-prototype {
  margin-bottom: -30px;
  margin-left: 8px;
  background-color: #c72572 !important;
  font-weight: normal !important;
}
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    z-index: 1000;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.links-list {
  background-color: white;
  padding: 20px;
  p {
    a {
      display: block;
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: black; }

    a:hover {
      color: #00a6d2; }

    margin-bottom: 8px;
  }

  h4 {
    margin-bottom: 10px;
    margin-top: 20px;

  }
}

.nav-bar-button {
  background-color: #f0f3f5 !important;
  margin-bottom: 0px !important;
}

.dropdown-button {
  font-weight: bold;
  text-align: left;
  padding-left: 20px !important;

  i.fa {
    float: right;
    padding-right: 13px;
  }
}

.new-button-style {
  padding: 0 !important;

  ul {
    li {
      border-bottom: solid 2px #cfcfcf;
      padding-left: 0;
      margin-bottom: 0px;
      &:before {
        content: "";
      }
      a {
        text-decoration: none;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 17px;
      }
    }
  }
}
