/**
  * Minister pages
  */

.minister .navbar-header button {
  width: 50px;
}

span.thin-name-heading {
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
}

.bio {
  p {
    margin-bottom: 10px;
  }
  h3 {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.minister h5 {
  color: $text-color;
  font-size: 16px;
  letter-spacing: 0.17px;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
}

.minister .heading {
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
}

.minister .navbar-header {
  padding-left: 20px;
  padding-right: 20px;
  background-color: $light-grey;
}

.minister button.navbar-toggle:focus {
  background-color: $light-grey;
}

.minister blockquote {
  border-left-width: 4px;
  border-color: $light-grey;
  font-size: 16px;
  line-height: 22px;
}

.minister .quote-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  background: $light-grey;
  box-shadow: 0px 1px 2px 0px $grey-color-light;
  border-bottom: solid 2px $grey-color-light;
  p {
    font-size: 14px;
  }
  span.quote {
    font-size: 16px;
  }
  img {
    width: 20px;
  }
  img.close-quote {
    margin-top: 130px;
  }
}

.minister span.date {
  font-weight: bold;
}

.minister .news-story {
  border-bottom: solid 6px $light-grey;
  p {
    margin-bottom: 10px;
  }
  span.news-heading {
    font-weight: bold;
    padding-right: 10px;
    color: $primary-alt-color;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.minister .social-box {
  background-color: $light-grey;
  box-shadow: 0px 1px 2px 0px $grey-color-light;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  h1 {
    line-height: 33px;
    font-size: 24px;
    i {
      padding-right: 10px;
      font-size: 30px;
      color: $grey-color;
      line-height: 30px;
    }
  }
  h3 a {
    color: black;
    line-height: 22px;
    font-size: 16px;
    font-weight: 300;
  }
  span.handle {
    font-weight: bold;
  }
  i.fa-circle {
    color: $text-color;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 6px;
    line-height: 20px;
  }
  img {
    width: 100%;
  }
  .icon {
    width: 25px;
  }
}

.minister img.profile-photo {
  width: 100%;
  margin-bottom: 30px;
}

.minister .contact h4 {
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.divider {
  border-bottom: solid 8px $light-grey;
}
