---
layout: three-column
title:  "Starting a business"
section: "Starting a business"
subsection: "Hiring"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.2.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.3.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.4.md %}{% endcapture %}
{{ md_1 | markdownify }}

<!-- Task list -->
<ul class="task-list">
  <div class="anchor"></div>
  <li>
    <div data-toggle="collapse" data-target=".payg" class="task-title">
      <span class="title">Ready to hire</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse payg in">
      <p class="task-heading">Setting up PAYG <i class="fa fa-check" style="color: limegreen; padding-left: 64px;"></i></p>
      <p>
        {{ md_2 | markdownify }}
      </p>
      <div class="input-group container no-side-padding">
        <a href="{% post_url 2015-01-01-business-portal %}" class="button col-xs-12">View your PAYG record</a>
        <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn about PAYG</a>
      </div>
    </div>
    <div class="task-body collapse payg in">
      <p class="task-heading">Setting up super</p>
      <p>
        {{ md_3 | markdownify }}
      </p>
      <div class="input-group container no-side-padding">
        <a href="#" class="button col-xs-12">Set up superannuation</a>
        <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn about super</a>
      </div>
    </div>
    <div class="task-body collapse payg in">
      <p class="task-heading">Do you need workers' compensation?</p>
      <p>
        {{ md_4 | markdownify }}
      </p>
      <div class="input-group container no-side-padding">
        <a href="#" class="button col-xs-12">Check your eligibility</a>
        <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn about workers’ comp</a>
      </div>
    </div>
  </li>
</ul>

<script>
  $(function() {

    $('html, body').animate({
      scrollTop: $('.anchor').offset().top
    }, 1000);

    $('div.task-title').click(function() {
      var chevronEl = $(this).find('i');
      chevronEl.toggleClass('fa-angle-down');
      chevronEl.toggleClass('fa-angle-up');
    });
  });
</script>