---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-country-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-country-help.md %}{% endcapture %}
<p class="steps">1 of 6</p>
{{ md_1 | markdownify }}
<div class="help-block">
    {{ md_2 | markdownify }}
</div>
<form action="{% post_url 2015-01-01-hiring-staff-occupation %}" method="get">
    <input type="hidden" name="sectionName" id="sectionName" value="business" />
    <div class="input-group">
      <div class="ui search input-group">
            <label for="country" class="sr-only">{{ md_3 }}</label>
            <input name="country" id="country"  type="text" class="prompt" />
        </div>
    </div>
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>
<script>
$(function() {
  var content = [
    { title: 'Andorra' },
    { title: 'United Arab Emirates' },
    { title: 'Afghanistan' },
    { title: 'Antigua and Barbuda' },
    { title: 'Anguilla' },
    { title: 'Albania' },
    { title: 'Armenia' },
    { title: 'Angola' },
    { title: 'Antarctica' },
    { title: 'Argentina' },
    { title: 'American Samoa' },
    { title: 'Austria' },
    { title: 'Australia' },
    { title: 'Aruba' },
    { title: 'Azerbaijan' },
    { title: 'Bosnia and Herzegovina' },
    { title: 'Barbados' },
    { title: 'Bangladesh' },
    { title: 'Belgium' },
    { title: 'Burkina Faso' },
    { title: 'Bulgaria' },
    { title: 'Bahrain' },
    { title: 'Burundi' },
    { title: 'Benin' },
    { title: 'Bermuda' },
    { title: 'Brunei Darussalam' },
    { title: 'Bolivia' },
    { title: 'Caribbean Netherlands ' },
    { title: 'Brazil' },
    { title: 'Bahamas' },
    { title: 'Bhutan' },
    { title: 'Bouvet Island' },
    { title: 'Botswana' },
    { title: 'Belarus' },
    { title: 'Belize' },
    { title: 'Canada' },
    { title: 'Cocos (Keeling) Islands' },
    { title: '"Congo' },
    { title: 'Central African Republic' },
    { title: 'Congo' },
    { title: 'Switzerland' },
    { title: 'Cook Islands' },
    { title: 'Chile' },
    { title: 'Cameroon' },
    { title: 'China' },
    { title: 'Colombia' },
    { title: 'Costa Rica' },
    { title: 'Cuba' },
    { title: 'Cape Verde' },
    { title: 'Christmas Island' },
    { title: 'Cyprus' },
    { title: 'Czech Republic' },
    { title: 'Germany' },
    { title: 'Djibouti' },
    { title: 'Denmark' },
    { title: 'Dominica' },
    { title: 'Dominican Republic' },
    { title: 'Algeria' },
    { title: 'Ecuador' },
    { title: 'Estonia' },
    { title: 'Egypt' },
    { title: 'Western Sahara' },
    { title: 'Eritrea' },
    { title: 'Spain' },
    { title: 'Ethiopia' },
    { title: 'Finland' },
    { title: 'Fiji' },
    { title: 'Falkland Islands' },
    { title: '"Micronesia' },
    { title: 'Faroe Islands' },
    { title: 'France' },
    { title: 'Gabon' },
    { title: 'United Kingdom' },
    { title: 'Grenada' },
    { title: 'Georgia' },
    { title: 'French Guiana' },
    { title: 'Guernsey' },
    { title: 'Ghana' },
    { title: 'Gibraltar' },
    { title: 'Greenland' },
    { title: 'Gambia' },
    { title: 'Guinea' },
    { title: 'Guadeloupe' },
    { title: 'Equatorial Guinea' },
    { title: 'Greece' },
    { title: 'South Georgia and the South Sandwich Islands' },
    { title: 'Guatemala' },
    { title: 'Guam' },
    { title: 'Guinea-Bissau' },
    { title: 'Guyana' },
    { title: 'Hong Kong' },
    { title: 'Heard and McDonald Islands' },
    { title: 'Honduras' },
    { title: 'Croatia' },
    { title: 'Haiti' },
    { title: 'Hungary' },
    { title: 'Indonesia' },
    { title: 'Ireland' },
    { title: 'Israel' },
    { title: 'Isle of Man' },
    { title: 'India' },
    { title: 'British Indian Ocean Territory' },
    { title: 'Iraq' },
    { title: 'Iran' },
    { title: 'Iceland' },
    { title: 'Italy' },
    { title: 'Jersey' },
    { title: 'Jamaica' },
    { title: 'Jordan' },
    { title: 'Japan' },
    { title: 'Kenya' },
    { title: 'Kyrgyzstan' },
    { title: 'Cambodia' },
    { title: 'Kiribati' },
    { title: 'Comoros' },
    { title: 'Saint Kitts and Nevis' },
    { title: 'North Korea' },
    { title: 'South Korea' },
    { title: 'Kuwait' },
    { title: 'Cayman Islands' },
    { title: 'Kazakhstan' },
    { title: 'Lebanon' },
    { title: 'Saint Lucia' },
    { title: 'Liechtenstein' },
    { title: 'Sri Lanka' },
    { title: 'Liberia' },
    { title: 'Lesotho' },
    { title: 'Lithuania' },
    { title: 'Luxembourg' },
    { title: 'Latvia' },
    { title: 'Libya' },
    { title: 'Morocco' },
    { title: 'Monaco' },
    { title: 'Moldova' },
    { title: 'Montenegro' },
    { title: 'Saint-Martin (France)' },
    { title: 'Madagascar' },
    { title: 'Marshall Islands' },
    { title: 'Macedonia' },
    { title: 'Mali' },
    { title: 'Myanmar' },
    { title: 'Mongolia' },
    { title: 'Macau' },
    { title: 'Northern Mariana Islands' },
    { title: 'Martinique' },
    { title: 'Mauritania' },
    { title: 'Montserrat' },
    { title: 'Malta' },
    { title: 'Mauritius' },
    { title: 'Maldives' },
    { title: 'Malawi' },
    { title: 'Mexico' },
    { title: 'Malaysia' },
    { title: 'Mozambique' },
    { title: 'Namibia' },
    { title: 'New Caledonia' },
    { title: 'Niger' },
    { title: 'Norfolk Island' },
    { title: 'Nigeria' },
    { title: 'Nicaragua' },
    { title: 'The Netherlands' },
    { title: 'Norway' },
    { title: 'Nepal' },
    { title: 'Nauru' },
    { title: 'Niue' },
    { title: 'New Zealand' },
    { title: 'Oman' },
    { title: 'Panama' },
    { title: 'Peru' },
    { title: 'French Polynesia' },
    { title: 'Papua New Guinea' },
    { title: 'Philippines' },
    { title: 'Pakistan' },
    { title: 'Poland' },
    { title: 'St. Pierre and Miquelon' },
    { title: 'Pitcairn' },
    { title: 'Puerto Rico' },
    { title: 'Palestine' },
    { title: 'Portugal' },
    { title: 'Palau' },
    { title: 'Paraguay' },
    { title: 'Qatar' },
    { title: 'Romania' },
    { title: 'Serbia' },
    { title: 'Russian Federation' },
    { title: 'Rwanda' },
    { title: 'Saudi Arabia' },
    { title: 'Solomon Islands' },
    { title: 'Seychelles' },
    { title: 'Sudan' },
    { title: 'Sweden' },
    { title: 'Singapore' },
    { title: 'Saint Helena' },
    { title: 'Slovenia' },
    { title: 'Svalbard and Jan Mayen Islands' },
    { title: 'Slovakia' },
    { title: 'Sierra Leone' },
    { title: 'San Marino' },
    { title: 'Senegal' },
    { title: 'Somalia' },
    { title: 'Suriname' },
    { title: 'South Sudan' },
    { title: 'Sao Tome and Principe' },
    { title: 'El Salvador' },
    { title: 'Sint Maarten (Dutch part)' },
    { title: 'Syria' },
    { title: 'Swaziland' },
    { title: 'Turks and Caicos Islands' },
    { title: 'Chad' },
    { title: 'French Southern Territories' },
    { title: 'Togo' },
    { title: 'Thailand' },
    { title: 'Tajikistan' },
    { title: 'Tokelau' },
    { title: 'Timor-Leste' },
    { title: 'Turkmenistan' },
    { title: 'Tunisia' },
    { title: 'Tonga' },
    { title: 'Turkey' },
    { title: 'Trinidad and Tobago' },
    { title: 'Tuvalu' },
    { title: 'Taiwan' },
    { title: 'Tanzania' },
    { title: 'Ukraine' },
    { title: 'Uganda' },
    { title: 'United States Minor Outlying Islands' },
    { title: 'United States' },
    { title: 'Uruguay' },
    { title: 'Uzbekistan' },
    { title: 'Vatican' },
    { title: 'Saint Vincent and the Grenadines' },
    { title: 'Venezuela' },
    { title: 'Virgin Islands (British)' },
    { title: 'Virgin Islands (U.S.)' },
    { title: 'Vietnam' },
    { title: 'Vanuatu' },
    { title: 'Wallis and Futuna Islands' },
    { title: 'Samoa' },
    { title: 'Yemen' },
    { title: 'Mayotte' },
    { title: 'South Africa' },
    { title: 'Zambia' },
    { title: 'Zimbabwe' }
    ];

  $('.ui.search').search({
    source : content,
    searchFields : ['title'],
    searchFullText: true
  });
});
</script>
