---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-salary-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-salary-help.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-salary-label.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-salary-error-heading.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-salary-error-text1.md %}{% endcapture %}
<p class="steps">4 of 7</p>
{{ md_1 | markdownify }}
<div class="help-block">
	{{ md_2 | markdownify }}
</div>
<form id="salaryForm" action="{% post_url 2015-01-01-hiring-staff-start-date %}" method="get" novalidate>
  <div class="error-message hide" id="salaryErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>
  <div class="input-group">
    <label for="salary">{{ md_3 }}</label>
    <!-- https://stackoverflow.com/questions/5963158/html5-form-input-pattern-currency-format -->
    <input type="text" name="salary" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,2})?\s*$" id="salary" error-message="{{ md_errortext1 }}" error-message-holder="salaryErrorHolder" required />
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
$(function(){
  $('#salaryForm').alphaValidate();
})
</script>