---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-help.md %}{% endcapture %}
<p class="steps">7 of 7</p>
{{ md_1 | markdownify }}
<div class="help-block">
    {{ md_2 | markdownify }}
</div>
<form action="{% post_url 2015-01-01-hiring-staff-visa-type %}" method="get">
  <div class="input-group radio-btn-group">
    <input type="radio" name="family" id="partner" value="Partner" />
    <label for="partner">Partner</label>
    <input type="radio" name="family" id="family" value="Dependent children" />
    <label for="family">Dependent children</label>
    <input type="radio" name="family" id="no-one-else" value="Other family member(s)" />
    <label for="no-one-else">Other family member(s)</label>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">View relevant visas</button>
  </div>
</form>
