---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---

{% capture md_heading %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-heading.md %}{% endcapture %}
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-intro.1.md %}{% endcapture %}
{% capture md_features %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-features.md %}{% endcapture %}
{% capture md_button %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-button.md %}{% endcapture %}

<div class="row">
    <div class="col-xs-12">
        <span class="thin-heading">Temporary Work</span><br/>
        <span class="thin-heading">Skilled Visa</span><br/>
        <span class="thin-heading">(subclass 457)</span>
        <br/><br/>
        {{ md_intro | markdownify }}
    </div>
    <div class="container" style="border-bottom: 1px dotted #828282; margin-left: 20px; margin-right: 20px;"></div>
</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-xs-12">
        {{ md_features | markdownify }}
        <ul>
            <li>work in Australia for a period of between one day and 4 years</li>
            <li>bring any eligible dependants with them to Australia - dependants can work and study</li>
            <li>after entering Australia, have no limit on the number of times they can travel in and out of Australia.</li>
        </ul>
    </div>
    <div class="container" style="border-bottom: 1px dotted #828282; margin-left: 20px; margin-right: 20px;"></div>
</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-xs-12">
        <h2>Cost</h2>
        <div class="col-xs-12" style="background-color: #e8f5fa; padding-top: 30px; padding-bottom: 30px;">
            <span style="font-weight: bold;">Estimated fees</span>
            <br/>
            <span class="thin-heading">$2,870 AUD</span>
        </div>
    </div>
    <div class="col-xs-10 price-link" style="padding-top: 20px">
        <a href="#">How this price is calculated</a>
    </div>
    <div class="col-xs-2 price-link" style="padding-top: 20px">
        <i class="fa fa-chevron-down"></i>
    </div>
    <div id="cost-content" class="col-xs-12 hide" style="padding-top: 30px;">
        <span style="font-weight: bold">Sponsorship fee</span><br/>
        <span style="font-size: 20px">$420</span><br/><br/>

        <span style="font-weight: bold">Nomination fee</span><br/>
        <span style="font-size: 20px">$330</span><br/><br/>

        <span style="font-weight: bold">Visa applicant fee</span><br/>
        <span style="font-size: 20px">$1060.00</span><br/><br/>

        <span style="font-weight: bold">Additional applicant fee</span><br/>
        <span style="font-size: 20px">$1060.00</span><br/><br/>

        <span style="font-weight: bold">Total fees</span><br/>
        <span style="font-size: 20px">$2,870.00</span><br/><br/>

        <p>Applicants might have to pay other costs, such as the costs of health assessments, police certificates, or any other certificates or tests. <a href="#">Learn more about these costs</a></p>
    </div>
    <div class="col-xs-12" style="border-bottom: 1px dotted #828282; margin-left: 20px; margin-right: 20px; margin-top: 30px;"></div>
</div>
<div class="row" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="col-xs-12">
        <h2>Processing times</h2>

        <div class="col-xs-12" style="background-color: #e8f5fa; padding-top: 30px; padding-bottom: 30px;">
            <span style="font-weight: bold;">Expected processing times</span>
            <br/>
            <span class="thin-heading">2-3 months</span>
        </div>
    </div>
    <div class="col-xs-10 time-link" style="padding-top: 30px">
        <a href="#">Read about processing times</a>
    </div>
    <div class="col-xs-2 time-link" style="padding-top: 30px">
        <i class="fa fa-chevron-down"></i>
    </div>
    <div id="time-content" class="col-xs-12 hide" style="padding-top: 30px">
        <p>The visa processing time could take longer if the applicant needs to:</p>
        <ul>
            <li>be assessed against <a href="#">character requirements</a> or</li>
            <li>complete a <a href="#">health examination</a> (including x-rays) or</li>
            <li>supply more information to Immigration and Border Protection or</li>
            <li>if the application is incomplete</li>
        </ul>
    </div>
</div>
<div class="row" style="padding-top: 30px;">
    <div class="col-xs-12">
        <div class="input-group no-side-padding">
            <a href="/starting-a-business/hiring-staff/sponsor-task-list/2015/01/01/sponsor-task-list.html" class="button col-xs-12">{{ md_button }}</a>
        </div>
    </div>
</div>


<script>
    $(function () {
        var links = [{clickableElement: '.price-link', contentElement: '#cost-content'}, {clickableElement: '.time-link', contentElement: '#time-content'}];

        const HIDE_CLASS = 'hide';
        const CHEVRON_DOWN_CLASS = 'fa-chevron-down';
        const CHEVRON_UP_CLASS = 'fa-chevron-up';
        const ICON_ELEMENT = 'i';

        var toggleContent = function(clickableElement, contentElement) {
            $(contentElement).toggleClass(HIDE_CLASS);
            $(clickableElement + ' ' + ICON_ELEMENT).toggleClass(CHEVRON_DOWN_CLASS);
            $(clickableElement + ' ' + ICON_ELEMENT).toggleClass(CHEVRON_UP_CLASS);
        };

        var registerClick = function(clickableElement, contentElement) {
            $(clickableElement).click(function() {
                toggleContent(clickableElement, contentElement);
            });
        };

        $.each(links, function(index, link) {
            registerClick(link.clickableElement, link.contentElement);
        });
    });
</script>