---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-help.md %}{% endcapture %}
{% capture md_family_info %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-info.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-family-error-heading.md %}{% endcapture %}

{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-family-error-text1.md %}{% endcapture %}

<p class="steps">7 of 7</p>
{{ md_1 | markdownify }}
<div class="help-block">
    {{ md_2 | markdownify }}
</div>
<form id="familyForm" action="{% post_url 2015-01-01-matching-visas %}" method="get" novalidate>
  <div class="error-message hide" id="familyErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>
  <div class="input-group radio-btn-group">
    <input type="checkbox" name="family" id="partner" value="Partner" error-message="{{ md_errortext1 }}" error-message-holder="familyErrorHolder" required  />
    <label for="partner">Partner</label>
    <input type="checkbox" name="family" id="child" value="Dependent children" />
    <label for="child">Dependent children</label>
    <input type="checkbox" name="family" id="other" value="Other family member(s)" />
    <label for="other">Other family member(s)</label>
  </div>
  <p>
    <a href="#" class="dropdown" data-target="#family-info">View definitions <i class="fa fa-caret-down"></i></a>
  </p>
  <div class="information-status fade out" id="family-info">
    <p>
      <i class="fa fa-times pull-right"></i>
      {{ md_family_info | markdownify }}
    </p>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">View relevant visas</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
  $(function() {
    $('#familyForm').alphaValidate();    
  });
</script>
