---
layout: questionnaire
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
categories: [starting-a-business,hiring-staff]
---
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-country-intro.1.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/hiring-staff/2015-01-01-country-help.md %}{% endcapture %}
{% capture md_label %}{% include content/starting-a-business/hiring-staff/2015-01-01-country-label.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-country-error-heading.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-country-error-text1.md %}{% endcapture %}

<p class="steps">2 of 6</p>
{{ md_intro | markdownify }}
<div class="help-block">
    {{ md_help | markdownify }}
</div>
<form action="{% post_url 2015-01-01-hiring-staff-age %}" id="countryForm" method="get" novalidate>
  <div class="error-message hide" id="countryErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>
  <div class="input-group">
    <div class="ui search input-group">
      <label for="country">{{ md_label }} </label>
      <input name="country" id="country"  type="text" class="prompt" error-message="{{ md_errortext1 }}" error-message-holder="countryErrorHolder" required />
    </div>
  </div>
  <div class="input-group">
      <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
{% js 'validation.js' %}
<script>
$(function() {

  $('#countryForm').alphaValidate();

  var content = [
    { title: 'Afghan' },
    { title: 'Albanian' },
    { title: 'Algerian' },
    { title: 'American' },
    { title: 'Andorran' },
    { title: 'Angolan' },
    { title: 'Antiguans' },
    { title: 'Argentinean' },
    { title: 'Armenian' },
    { title: 'Australian' },
    { title: 'Austrian' },
    { title: 'Azerbaijani' },
    { title: 'Bahamian' },
    { title: 'Bahraini' },
    { title: 'Bangladeshi' },
    { title: 'Barbadian' },
    { title: 'Barbudans' },
    { title: 'Batswana' },
    { title: 'Belarusian' },
    { title: 'Belgian' },
    { title: 'Belizean' },
    { title: 'Beninese' },
    { title: 'Bhutanese' },
    { title: 'Bolivian' },
    { title: 'Bosnian' },
    { title: 'Brazilian' },
    { title: 'British' },
    { title: 'Bruneian' },
    { title: 'Bulgarian' },
    { title: 'Burkinabe' },
    { title: 'Burmese' },
    { title: 'Burundian' },
    { title: 'Cambodian' },
    { title: 'Cameroonian' },
    { title: 'Canadian' },
    { title: 'Cape Verdean' },
    { title: 'Central African' },
    { title: 'Chadian' },
    { title: 'Chilean' },
    { title: 'Chinese' },
    { title: 'Colombian' },
    { title: 'Comoran' },
    { title: 'Congolese' },
    { title: 'Costa Rican' },
    { title: 'Croatian' },
    { title: 'Cuban' },
    { title: 'Cypriot' },
    { title: 'Czech' },
    { title: 'Danish' },
    { title: 'Djibouti' },
    { title: 'Dominican' },
    { title: 'Dutch' },
    { title: 'East Timorese' },
    { title: 'Ecuadorean' },
    { title: 'Egyptian' },
    { title: 'Emirian' },
    { title: 'Equatorial Guinean' },
    { title: 'Eritrean' },
    { title: 'Estonian' },
    { title: 'Ethiopian' },
    { title: 'Fijian' },
    { title: 'Filipino' },
    { title: 'Finnish' },
    { title: 'French' },
    { title: 'Gabonese' },
    { title: 'Gambian' },
    { title: 'Georgian' },
    { title: 'German' },
    { title: 'Ghanaian' },
    { title: 'Greek' },
    { title: 'Grenadian' },
    { title: 'Guatemalan' },
    { title: 'Guinea-Bissauan' },
    { title: 'Guinean' },
    { title: 'Guyanese' },
    { title: 'Haitian' },
    { title: 'Herzegovinian' },
    { title: 'Honduran' },
    { title: 'Hungarian' },
    { title: 'Icelander' },
    { title: 'Indian' },
    { title: 'Indonesian' },
    { title: 'Iranian' },
    { title: 'Iraqi' },
    { title: 'Irish' },
    { title: 'Israeli' },
    { title: 'Italian' },
    { title: 'Ivorian' },
    { title: 'Jamaican' },
    { title: 'Japanese' },
    { title: 'Jordanian' },
    { title: 'Kazakhstani' },
    { title: 'Kenyan' },
    { title: 'Kittian and Nevisian' },
    { title: 'Kuwaiti' },
    { title: 'Kyrgyz' },
    { title: 'Laotian' },
    { title: 'Latvian' },
    { title: 'Lebanese' },
    { title: 'Liberian' },
    { title: 'Libyan' },
    { title: 'Liechtensteiner' },
    { title: 'Lithuanian' },
    { title: 'Luxembourger' },
    { title: 'Macedonian' },
    { title: 'Malagasy' },
    { title: 'Malawian' },
    { title: 'Malaysian' },
    { title: 'Maldivan' },
    { title: 'Malian' },
    { title: 'Maltese' },
    { title: 'Marshallese' },
    { title: 'Mauritanian' },
    { title: 'Mauritian' },
    { title: 'Mexican' },
    { title: 'Micronesian' },
    { title: 'Moldovan' },
    { title: 'Monacan' },
    { title: 'Mongolian' },
    { title: 'Moroccan' },
    { title: 'Mosotho' },
    { title: 'Motswana' },
    { title: 'Mozambican' },
    { title: 'Namibian' },
    { title: 'Nauruan' },
    { title: 'Nepalese' },
    { title: 'Netherlander' },
    { title: 'New Zealander' },
    { title: 'Ni-Vanuatu' },
    { title: 'Nicaraguan' },
    { title: 'Nigerian' },
    { title: 'Nigerien' },
    { title: 'North Korean' },
    { title: 'Northern Irish' },
    { title: 'Norwegian' },
    { title: 'Omani' },
    { title: 'Pakistani' },
    { title: 'Palauan' },
    { title: 'Panamanian' },
    { title: 'Papua New Guinean' },
    { title: 'Paraguayan' },
    { title: 'Peruvian' },
    { title: 'Polish' },
    { title: 'Portuguese' },
    { title: 'Qatari' },
    { title: 'Romanian' },
    { title: 'Russian' },
    { title: 'Rwandan' },
    { title: 'Saint Lucian' },
    { title: 'Salvadoran' },
    { title: 'Samoan' },
    { title: 'San Marinese' },
    { title: 'Sao Tomean' },
    { title: 'Saudi' },
    { title: 'Scottish' },
    { title: 'Senegalese' },
    { title: 'Serbian' },
    { title: 'Seychellois' },
    { title: 'Sierra Leonean' },
    { title: 'Singaporean' },
    { title: 'Slovakian' },
    { title: 'Slovenian' },
    { title: 'Solomon Islander' },
    { title: 'Somali' },
    { title: 'South African' },
    { title: 'South Korean' },
    { title: 'Spanish' },
    { title: 'Sri Lankan' },
    { title: 'Sudanese' },
    { title: 'Surinamer' },
    { title: 'Swazi' },
    { title: 'Swedish' },
    { title: 'Swiss' },
    { title: 'Syrian' },
    { title: 'Taiwanese' },
    { title: 'Tajik' },
    { title: 'Tanzanian' },
    { title: 'Thai' },
    { title: 'Togolese' },
    { title: 'Tongan' },
    { title: 'Trinidadian or Tobagonian' },
    { title: 'Tunisian' },
    { title: 'Turkish' },
    { title: 'Tuvaluan' },
    { title: 'Ugandan' },
    { title: 'Ukrainian' },
    { title: 'Uruguayan' },
    { title: 'Uzbekistani' },
    { title: 'Venezuelan' },
    { title: 'Vietnamese' },
    { title: 'Welsh' },
    { title: 'Yemenite' },
    { title: 'Zambian' },
    { title: 'Zimbabwean' }
    ];

  if ($('#country').val() !== '') {
    $('.ui.search').addClass('valid');
  }

  $('.ui.search').search({
    source : content,
    searchFields : ['title'],
    searchFullText: true,
    onSelect : function(result, response) {   
      $(this).addClass('valid');
    },
    onResultsOpen: function(result) {
      if ($('.ui.search').hasClass('valid'))
      {
        $('.ui.search').removeClass('valid');
      }
    }
  });
});
</script>
