---
layout: questionnaire
title: "Hiring staff"
section:  "Coming to Australia"
subsection: "Visas"
categories: [coming-to-australia,hiring-staff]
---
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-intro.1.md %}{% endcapture %}

{% capture md_family_info %}{% include content/starting-a-business/hiring-staff/2015-01-01-family-info.md %}{% endcapture %}

{% capture md_labeltext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/labels/2015-01-01-family-label-text1.md %}{% endcapture %}

{% capture md_labeltext2 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/labels/2015-01-01-family-label-text2.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-family-error-heading.md %}{% endcapture %}

{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-family-error-text1.md %}{% endcapture %}

{% capture md_errortext2 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-family-error-yes-no-text.md %}{% endcapture %}

<p class="steps">6 of 6</p>
{{ md_intro | markdownify }}

<div class="help-block">

</div>
<form id="familyForm" action="{% real_post_url 2015-01-01-matching-visas %}" method="get" novalidate>
  <input type="hidden" name="sectionName" id="sectionName" value="hiring-visa"/>
  <div class="error-message hide" id="familyErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>

  <div class="input-group radio-btn-group">
    <fieldset>
      <legend class="hidden-text">{{ md_labeltext1 }}</legend>
      <input type="radio" name="bringing" id="no" value="No" data-error-message="{{ md_errortext2 }}" data-error-message-holder="familyErrorHolder" required />
      <label for="no">No</label>
      <input type="radio" name="bringing" id="yes" value="Yes" class="other" data-target-input="family" data-target="whichFamily" />
      <label for="yes">Yes</label>
    </fieldset>
  </div>

  <div class="which-family" id="whichFamily" style="display: none">
    <fieldset>
      <legend class="hidden-text">{{ md_labeltext2 }}</legend>
        <input type="checkbox" name="family" id="partner" value="Partner" data-error-message="{{ md_errortext1 }}" data-error-message-holder="familyErrorHolder"  />
        <label for="partner">Partner</label>
        <input type="checkbox" name="family" id="child" value="Dependent children" />
        <label for="child">Dependent children</label>
        <input type="checkbox" name="family" id="other" value="Other family member(s)" />
        <label for="other">Other family members</label>
        <p>
          <a href="#" class="dropdown" data-target="#family-info">View definitions <i class="fa fa-caret-down"></i></a>
        </p>

      </fieldset>
      <div class="information-status fade out" id="family-info">
        {{ md_family_info | markdownify }}
      </div>
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% js 'validation.js' %}
<script>
  $(function() {
    $('#familyForm').alphaValidate();
  });
</script>
<script>
  $(function() {
    if ($('#yes').is(':checked'))
    {
      $('#whichFamily').show();
      $('input[name="family"]').attr('required',true);
    }
    $('input[name="bringing"]:radio').on('change', function() {
      if ($('#yes').is(':checked'))
      {
        $('#whichFamily').show();
        $('input[name="family"]').attr('required',true);
      }
      else
      {
        $('#whichFamily').hide();
        $('input[name="family"]').attr('required',false);
        $('input[name="family"]').removeAttr('checked');
      }
    });
  });
</script>
