---
layout: three-column-intro
title:  "Working in Australia"
section: "Coming to Australia"
subsection: "Licences and permits"
categories: [coming-to-australia,working-in-australia]
screen_help: "For Bobbi’s to find out if she can become an approved sponsor and find the right visa to sponsor a skilled worker from overseas, she’ll need to answer a few questions."
intro: true
---
{% capture md_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-intro.md %}{% endcapture %}
{% capture md_time_to_complete %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-time-to-complete.md %}{% endcapture %}
{% capture md_button_text %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-button.md %}{% endcapture %}

{{ md_intro | markdownify }}
<tiny>
  <p>
    <i class="fa fa-clock-o"></i>&nbsp; {{ md_time_to_complete }}
  </p>
</tiny>
<a href="{% post_url 2015-01-01-hiring-staff-occupation %}" class="button icon-next">{{ md_button_text }} <i class="fa fa-icon-next"></i></a>
