---
layout: questionnaire
title: "Hiring staff"
section:  "Coming to Australia"
subsection: "Visas"
categories: [coming-to-australia,hiring-staff]
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-salary-intro.1.md %}{% endcapture %}

{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-salary-label.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-salary-error-heading.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-salary-error-text1.md %}{% endcapture %}

<p class="steps">4 of 6</p>
{{ md_1 | markdownify }}
<div class="help-block">
</div>

<form id="salaryForm" action="{% real_post_url 2015-01-01-hiring-staff-duration %}" method="get" novalidate>
  <input type="hidden" name="sectionName" id="sectionName" value="hiring-visa"/>
  <div class="error-message hide" id="salaryErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>

  <div class="input-group">
    <label for="salary">{{ md_3 }}</label>
    <!-- https://stackoverflow.com/questions/5963158/html5-form-input-pattern-currency-format -->
    <!-- pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,2})?\s*$"  -->
    <input type="number" name="salary" id="salary"
           data-currency="true" min="34158.80" max="100000000"
           data-error-message="{{ md_errortext1 }}" data-currency-breach-message="Please enter salary higher than the minimum of $34,158.80" data-error-message-holder="salaryErrorHolder" required />
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% js 'validation.js' %}
<script>
$(function(){
  $('#salaryForm').alphaValidate();
})
</script>
