---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-help.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-visa-type-button.md %}{% endcapture %}

{{ md_1 | markdownify }}
<div class="help-block">
    {{ md_2 | markdownify }}
</div>

<div class="container">
  <div class="row">
    <div class="input-group no-side-padding">
        <a href="/starting-a-business/hiring-staff/sponsor-task-list/2015/01/01/sponsor-task-list.html" class="button col-xs-12">{{ md_3 }}</a>
    </div>
  </div>
</div>
