---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Hiring"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.2.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.3.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/hiring-staff/2015-01-01-index.4.md %}{% endcapture %}
{{ md_1 | markdownify }}

<!-- Task list -->
<div class="container">
    <div class="row">
        <h3>Register for PAYG tax</h3>
        <p>
            {{ md_2 | markdownify }}
        </p>
    </div>
    <div class="row">
        <div class="input-group no-side-padding">
            <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn how PAYG tax works</a>
            <a href="{% post_url 2015-01-01-business-portal %}" class="button col-xs-12">Register for PAYG tax <i class="fa fa-external-link"></i></a>
        </div>
    </div>

    <div class="row">
        <h3>Set up super</h3>
        <p>
            {{ md_3 | markdownify }}
        </p>
    </div>
    <div class="row">
        <div class="input-group no-side-padding">
            <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn how super works</a>
            <a href="#" class="button col-xs-12">Set up superannuation <i class="fa fa-external-link"></i></a>
        </div>
    </div>

    <div class="row">
        <h3>Check staff insurance requirements</h3>
        <p>
            {{ md_4 | markdownify }}
        </p>
    </div>
    <div class="row">
        <div class="input-group no-side-padding">
            <a href="#" class="secondary-button col-xs-12" style="margin: 0;">Learn how insurance works</a>
            <a href="#" class="button col-xs-12">Check insurance directory <i class="fa fa-external-link"></i></a>
        </div>
    </div>
</div>