---
layout: questionnaire
title: "Hiring staff"
section:  "Coming to Australia"
subsection: "Visas"
categories: [coming-to-australia,hiring-staff]
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-occupation-intro.1.md %}{% endcapture %}

{% capture md_4 %}{% include content/starting-a-business/hiring-staff/2015-01-01-occupation-label.md %}{% endcapture %}
{% capture occupation_info_text %}{% include content/starting-a-business/hiring-staff/2015-01-01-occupation-info.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-occupation-error-heading.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-occupation-error-text1.md %}{% endcapture %}

<p class="steps">1 of 6</p>
{{ md_1 | markdownify }}
<div class="help-block">

</div>

<form action="{% real_post_url 2015-01-01-hiring-staff-country %}" id="occupationForm" method="get" novalidate>
  <input type="hidden" name="sectionName" id="sectionName" value="hiring-visa"/>
  <div class="error-message hide" id="occupationErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>

  <div class="input-group">
    <input type="hidden" name="sectionName" id="sectionName" value="hiring-visa"/>
    <div class="ui search input-group">
      <label for="occupation">{{ md_4 }}</label>
      <input type="text" class="prompt" id="occupation" name="occupation" data-error-message="{{ md_errortext1 }}" data-error-message-holder="occupationErrorHolder" required />
    </div>
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% js 'validation.js' %}
<script>
$(function() {

  $('#occupationForm').alphaValidate();

  var content = [
    { title: 'Fashion Designer' },
    { title: 'Industrial Designer' },
    { title: 'Jewellery Designer' },
    { title: 'Graphic Designer' },
    { title: 'Illustrator' },
    { title: 'Multimedia Designer' },
    { title: 'Web Designer' },
    { title: 'Interior Designer' },
    { title: 'Engineering Professionals' },
    { title: 'Construction Project Manager' },
    { title: 'Project Builder' },
    { title: 'Engineering Manager' },
    { title: 'Production Manager (Mining)' },
    { title: 'Child Care Centre Manager' },
    { title: 'Medical Administrator' },
    { title: 'Nursing Clinical Director' },
    { title: 'Primary Health Organisation Manager' },
    { title: 'Welfare Centre Manager' },
    { title: 'Accountant (General)' },
    { title: 'Management Accountant' },
    { title: 'Taxation Accountant' },
    { title: 'External Auditor' },
    { title: 'Internal Auditor' },
    { title: 'Actuary' },
    { title: 'Land Economist' },
    { title: 'Valuer' },
    { title: 'Ships Engineer' },
    { title: 'Ships Master' },
    { title: 'Ships Officer' },
    { title: 'Architect' },
    { title: 'Landscape Architect' },
    { title: 'Cartographer' },
    { title: 'Other Spatial Scientist' },
    { title: 'Surveyor' },
    { title: 'Urban and Regional Planner' },
    { title: 'Chemical Engineer' },
    { title: 'Materials Engineer' },
    { title: 'Civil Engineer' },
    { title: 'Geotechnical Engineer' },
    { title: 'Quantity Surveyor' },
    { title: 'Structural Engineer' },
    { title: 'Transport Engineer' },
    { title: 'Electrical Engineer' },
    { title: 'Electronics Engineer' },
    { title: 'Industrial Engineer' },
    { title: 'Mechanical Engineer' },
    { title: 'Production or Plant Engineer' },
    { title: 'Mining Engineer (Excluding Petroleum)' },
    { title: 'Petroleum Engineer' },
    { title: 'Aeronautical Engineer' },
    { title: 'Agricultural Engineer' },
    { title: 'Biomedical Engineer' },
    { title: 'Engineering Technologist' },
    { title: 'Environmental Engineer' },
    { title: 'Naval Architect' },
    { title: 'Agricultural Consultant' },
    { title: 'Agricultural Scientist' },
    { title: 'Forester' },
    { title: 'Medical Laboratory Scientist' },
    { title: 'Veterinarian' },
    { title: 'Metallurgist' },
    { title: 'Physicist (Medical Physicist only)' },
    { title: 'Early Childhood (Pre-Primary School) Teacher' },
    { title: 'Secondary School  Teacher' },
    { title: 'Special Needs Teacher' },
    { title: 'Teacher of the Hearing Impaired' },
    { title: 'Teacher of the Sight Impaired' },
    { title: 'Special Education Teachers' },
    { title: 'Medical Diagnostic Radiographer' },
    { title: 'Medical Radiation Therapist' },
    { title: 'Nuclear Medicine Technologist' },
    { title: 'Sonographer' },
    { title: 'Environmental Health Officer' },
    { title: 'Occupational Health and Safety Adviser' },
    { title: 'Optometrist' },
    { title: 'Chiropractor' },
    { title: 'Osteopath' },
    { title: 'Dental Specialist' },
    { title: 'Dentist' },
    { title: 'Occupational Therapist' },
    { title: 'Physiotherapist' },
    { title: 'Podiatrist' },
    { title: 'Speech Pathologist' },
    { title: 'General Practitioner' },
    { title: 'Anaesthetist' },
    { title: 'Specialist Physician (General Medicine)' },
    { title: 'Cardiologist' },
    { title: 'Clinical Haematologist' },
    { title: 'Medical Oncologist' },
    { title: 'Endocrinologist' },
    { title: 'Gastroenterologist' },
    { title: 'Intensive Care Specialist' },
    { title: 'Neurologist' },
    { title: 'Paediatrician' },
    { title: 'Renal Medicine Specialist' },
    { title: 'Rheumatologist' },
    { title: 'Thoracic Medicine Specialist' },
    { title: 'Specialist Physicians' },
    { title: 'Psychiatrist' },
    { title: 'Surgeon (General)' },
    { title: 'Cardiothoracic Surgeon' },
    { title: 'Neurosurgeon' },
    { title: 'Orthopaedic Surgeon' },
    { title: 'Otorhinolaryngologist' },
    { title: 'Paediatric Surgeon' },
    { title: 'Plastic and Reconstructive Surgeon' },
    { title: 'Urologist' },
    { title: 'Vascular Surgeon' },
    { title: 'Dermatologist' },
    { title: 'Emergency Medicine Specialist' },
    { title: 'Obstetrician and Gynaecologist' },
    { title: 'Ophthalmologist' },
    { title: 'Pathologist' },
    { title: 'Diagnostic and Interventional Radiologist' },
    { title: 'Radiation Oncologist' },
    { title: 'Medical Practitioners' },
    { title: 'Midwife' },
    { title: 'Nurse Practitioner' },
    { title: 'Registered Nurse (Aged Care)' },
    { title: 'Registered Nurse (Child and Family Health)' },
    { title: 'Registered Nurse (Community Health)' },
    { title: 'Registered Nurse (Critical Care and Emergency)' },
    { title: 'Registered Nurse (Developmental Disability)' },
    { title: 'Registered Nurse (Disability and Rehabilitation)' },
    { title: 'Registered Nurse (Medical)' },
    { title: 'Registered Nurse (Medical Practice)' },
    { title: 'Registered Nurse (Mental Health)' },
    { title: 'Registered Nurse (Perioperative)' },
    { title: 'Registered Nurse (Surgical)' },
    { title: 'Registered Nurse (Paediatric)' },
    { title: 'Registered Nurses' },
    { title: 'ICT business Analyst' },
    { title: 'Systems Analyst' },
    { title: 'Analyst Programmer' },
    { title: 'Developer Programmer' },
    { title: 'Software Engineer' },
    { title: 'Computer Network and Systems Engineer' },
    { title: 'Telecommunications Engineer' },
    { title: 'Telecommunications Network Engineer' },
    { title: 'Barrister' },
    { title: 'Solicitor' },
    { title: 'Clinical Psychologist' },
    { title: 'Educational Psychologist' },
    { title: 'Organisational Psychologist' },
    { title: 'Psychotherapist' },
    { title: 'Psychologists' },
    { title: 'Social Worker' },
    { title: 'Civil Engineering Draftsperson' },
    { title: 'Civil Engineering Technician' },
    { title: 'Electrical Engineering Draftsperson' },
    { title: 'Electrical Engineering Technician' },
    { title: 'Radio Communications Technician' },
    { title: 'Telecommunications Field Engineer' },
    { title: 'Telecommunications Network Planner' },
    { title: 'Telecommunications Technical Officer or Technologist' },
    { title: 'Automotive Electrician' },
    { title: 'Motor Mechanic (General)' },
    { title: 'Diesel Motor Mechanic' },
    { title: 'Motorcycle Mechanic' },
    { title: 'Small Engine Mechanic' },
    { title: 'Sheetmetal Trades Worker' },
    { title: 'Metal Fabricator' },
    { title: 'Pressure Welder' },
    { title: 'Welder (First Class)' },
    { title: 'Fitter (General)' },
    { title: 'Fitter and Turner' },
    { title: 'Fitter-Welder' },
    { title: 'Metal Machinist (First Class)' },
    { title: 'Locksmith' },
    { title: 'Bricklayer' },
    { title: 'Stonemason' },
    { title: 'Carpenter and Joiner' },
    { title: 'Carpenter' },
    { title: 'Joiner' },
    { title: 'Painting trades workers' },
    { title: 'Glazier' },
    { title: 'Fibrous Plasterer' },
    { title: 'Solid Plasterer' },
    { title: 'Wall and Floor Tiler' },
    { title: 'Plumber (General)' },
    { title: 'Airconditioning and Mechanical Services Plumber' },
    { title: 'Drainer' },
    { title: 'Gasfitter' },
    { title: 'Roof plumber' },
    { title: 'Electrician (General)' },
    { title: 'Electrician (Special Class)' },
    { title: 'Lift Mechanic' },
    { title: 'Airconditioning and Refrigeration Mechanic' },
    { title: 'Electrical Linesworker' },
    { title: 'Technical Cable Jointer' },
    { title: 'Electronic Equipment Trades Worker' },
    { title: 'Electronic Instrument Trades Worker (General)' },
    { title: 'Electronic Instrument Trades Worker (Special Class)' },
    { title: 'Chef***' },
    { title: 'Boat Builder and Repairer' },
    { title: 'Shipwright' },
    { title: 'Dental Hygienist' },
    { title: 'Dental Prosthetist' },
    { title: 'Dental Technician' },
    { title: 'Dental Therapist' },
    { title: 'Chief Executive or Managing Director' },
    { title: 'Corporate General Manager' },
    { title: 'Defence Force Senior Officer' },
    { title: 'Aquaculture Farmer' },
    { title: 'Cotton Grower' },
    { title: 'Flower Grower' },
    { title: 'Fruit or Nut Grower' },
    { title: 'Grain, Oilseed or Pasture Grower (Aus) / Field Crop Grower (NZ)' },
    { title: 'Grape Grower' },
    { title: 'Mixed Crop Farmer' },
    { title: 'Sugar Cane Grower' },
    { title: 'Turf Grower' },
    { title: 'Vegetable Grower (Aus) / Market Gardener (NZ)' },
    { title: 'Crop Farmers' },
    { title: 'Apiarist' },
    { title: 'Beef Cattle Farmer' },
    { title: 'Dairy Cattle Farmer' },
    { title: 'Deer Farmer' },
    { title: 'Goat Farmer' },
    { title: 'Horse Breeder' },
    { title: 'Mixed Livestock Farmer' },
    { title: 'Pig Farmer' },
    { title: 'Poultry Farmer' },
    { title: 'Sheep Farmer' },
    { title: 'Livestock Farmers' },
    { title: 'Mixed Crop and Livestock Farmer' },
    { title: 'Sales and Marketing Manager' },
    { title: 'Advertising Manager' },
    { title: 'Public Relations Manager' },
    { title: 'Corporate Services Manager' },
    { title: 'Finance Manager' },
    { title: 'Human Resource Manager' },
    { title: 'Policy and Planning Manager' },
    { title: 'Research and Development Manager' },
    { title: 'Importer or Exporter' },
    { title: 'Wholesaler' },
    { title: 'Manufacturer' },
    { title: 'Production Manager (Forestry)' },
    { title: 'Production Manager (Manufacturing)' },
    { title: 'Supply and Distribution  Manager' },
    { title: 'Procurement Manager' },
    { title: 'Health and Welfare Services Managers' },
    { title: 'School Principal' },
    { title: 'Faculty Head' },
    { title: 'Regional Education Manager' },
    { title: 'Education Managers' },
    { title: 'Chief Information Officer' },
    { title: 'ICT Project Manager' },
    { title: 'ICT Managers' },
    { title: 'Commissioned Defence Force Officer' },
    { title: 'Commissioned Fire Officer' },
    { title: 'Commissioned Police Officer' },
    { title: 'Senior Non-Commissioned Defence Force Member' },
    { title: 'Arts Administrator or Manager' },
    { title: 'Environmental Manager' },
    { title: 'Laboratory Manager' },
    { title: 'Quality Assurance Manager' },
    { title: 'Sports Administrator' },
    { title: 'Specialist Managers' },
    { title: 'Cafe or Restaurant Manager' },
    { title: 'Caravan Park and Camping Ground Manager' },
    { title: 'Hotel or Motel Manager' },
    { title: 'Licensed Club Manager' },
    { title: 'Bed and Breakfast Operator' },
    { title: 'Retirement Village Manager' },
    { title: 'Accommodation and Hospitality Managers' },
    { title: 'Antique Dealer' },
    { title: 'Betting Agency Manager' },
    { title: 'Hair or Beauty Salon Manager' },
    { title: 'Post Office Manager' },
    { title: 'Travel Agency Manager' },
    { title: 'Amusement Centre Manager' },
    { title: 'Fitness Centre Manager' },
    { title: 'Sports Centre Manager' },
    { title: 'Call or Contact Centre Manager' },
    { title: 'Customer Service Manager' },
    { title: 'Conference and Event Organiser' },
    { title: 'Fleet Manager' },
    { title: 'Railway Station Manager' },
    { title: 'Transport Company Manager' },
    { title: 'Boarding Kennel or Cattery Operator' },
    { title: 'Cinema or Theatre Manager' },
    { title: 'Facilities Manager' },
    { title: 'Financial Institution Branch Manager' },
    { title: 'Equipment Hire Manager' },
    { title: 'Actor' },
    { title: 'Dancer or Choreographer' },
    { title: 'Entertainer or Variety Artist' },
    { title: 'Actors, Dancers and Other Entertainers' },
    { title: 'Composer' },
    { title: 'Music Director' },
    { title: 'Musician (Instrumental)' },
    { title: 'Singer' },
    { title: 'Music Professionals' },
    { title: 'Photographer' },
    { title: 'Painter (Visual Arts)' },
    { title: 'Potter or Ceramic Artist' },
    { title: 'Sculptor' },
    { title: 'Visual Arts and Crafts Professionals' },
    { title: 'Artistic Director' },
    { title: 'Media Producer (excluding Video)' },
    { title: 'Radio Presenter' },
    { title: 'Television Presenter' },
    { title: 'Author' },
    { title: 'Book or Script Editor' },
    { title: 'Art Director (Film, Television or Stage)' },
    { title: 'Director (Film, Television, Radio or Stage)' },
    { title: 'Director of Photography' },
    { title: 'Film and Video Editor' },
    { title: 'Program Director (Television or Radio)' },
    { title: 'Stage Manager' },
    { title: 'Technical Director' },
    { title: 'Video Producer' },
    { title: 'Film, Television, Radio and Stage Directors' },
    { title: 'Copywriter' },
    { title: 'Newspaper or Periodical Editor' },
    { title: 'Print Journalist' },
    { title: 'Radio Journalist' },
    { title: 'Technical Writer' },
    { title: 'Television Journalist' },
    { title: 'Journalists and Other Writers' },
    { title: 'Company Secretary' },
    { title: 'Corporate Treasurer' },
    { title: 'Commodities Trader' },
    { title: 'Finance Broker' },
    { title: 'Insurance Broker' },
    { title: 'Financial Brokers' },
    { title: 'Financial Market Dealer' },
    { title: 'Futures Trader' },
    { title: 'Stockbroking Dealer' },
    { title: 'Financial Dealers' },
    { title: 'Financial Investment Adviser' },
    { title: 'Financial Investment Manager' },
    { title: 'Human Resource Adviser' },
    { title: 'Recruitment Consultant' },
    { title: 'Workplace Relations Adviser' },
    { title: 'ICT Trainer' },
    { title: 'Training and Development Professional' },
    { title: 'Mathematician' },
    { title: 'Statistician' },
    { title: 'Archivist' },
    { title: 'Gallery or Museum Curator' },
    { title: 'Health Information Manager' },
    { title: 'Records Manager' },
    { title: 'Economist' },
    { title: 'Intelligence Officer' },
    { title: 'Policy Analyst' },
    { title: 'Librarian' },
    { title: 'Management Consultant' },
    { title: 'Organisation and Methods Analyst' },
    { title: 'Electorate Officer' },
    { title: 'Liaison Officer' },
    { title: 'Migration Agent (Aus)' },
    { title: 'Patents Examiner' },
    { title: 'Information and Organisation Professionals' },
    { title: 'Advertising Specialist' },
    { title: 'Market Research Analyst' },
    { title: 'Marketing Specialist' },
    { title: 'ICT Account Manager' },
    { title: 'ICT Business Development Manager' },
    { title: 'ICT Sales Representative' },
    { title: 'Public Relations Professional' },
    { title: 'Sales Representative (Industrial Products)' },
    { title: 'Sales Representative (Medical and Pharmaceutical Products)' },
    { title: 'Technical Sales Representatives' },
    { title: 'Aeroplane Pilot' },
    { title: 'Air Traffic Controller' },
    { title: 'Flying Instructor' },
    { title: 'Helicopter Pilot' },
    { title: 'Air Transport Professionals' },
    { title: 'Master Fisher' },
    { title: 'Marine Surveyor' },
    { title: 'Marine Transport Professionals' },
    { title: 'Chemist' },
    { title: 'Food Technologist' },
    { title: 'Wine Maker' },
    { title: 'Conservation Officer' },
    { title: 'Environmental Consultant' },
    { title: 'Environmental Research Scientist' },
    { title: 'Park Ranger' },
    { title: 'Environmental Scientists' },
    { title: 'Geologist' },
    { title: 'Geophysicist' },
    { title: 'Hydrogeologist' },
    { title: 'Life Scientist (General)' },
    { title: 'Biochemist' },
    { title: 'Biotechnologist' },
    { title: 'Botanist' },
    { title: 'Marine Biologist' },
    { title: 'Microbiologist' },
    { title: 'Zoologist' },
    { title: 'Life Scientists' },
    { title: 'Conservator' },
    { title: 'Meteorologist' },
    { title: 'Physicist' },
    { title: 'Exercise Physiologist' },
    { title: 'Natural and Physical Science Professionals ' },
    { title: 'Primary School Teacher' },
    { title: 'Middle School Teacher (Aus) / Intermediate School Teacher (NZ)' },
    { title: 'University Lecturer (Suitable for the position of Research Associate or Research Fellow in a University)' },
    { title: 'University Tutor' },
    { title: 'Vocational Education Teacher (Non Trades)' },
    { title: 'Vocational Education Teacher (Trades)' },
    { title: 'Education Adviser' },
    { title: 'Education Reviewer' },
    { title: 'Art Teacher (Private Tuition)' },
    { title: 'Dance Teacher (Private Tuition)' },
    { title: 'Drama Teacher (Private Tuition)' },
    { title: 'Music Teacher (Private Tuition)' },
    { title: 'Private Tutors and Teachers' },
    { title: 'Teacher of English to Speakers of Other Languages' },
    { title: 'Dietitian' },
    { title: 'Nutritionist' },
    { title: 'Orthoptist' },
    { title: 'Hospital Pharmacist' },
    { title: 'Industrial Pharmacist' },
    { title: 'Retail Pharmacist' },
    { title: 'Health Promotion Officer' },
    { title: 'Orthotist or Prosthetist' },
    { title: 'Health Diagnostic and Promotion Professionals' },
    { title: 'Acupuncturist' },
    { title: 'Homoeopath' },
    { title: 'Naturopath' },
    { title: 'Traditional Chinese Medicine Practitioner' },
    { title: 'Complementary Health Therapists' },
    { title: 'Audiologist' },
    { title: 'Resident Medical Officer' },
    { title: 'Nurse Researcher' },
    { title: 'Nurse Manager' },
    { title: 'Nurse Educator' },
    { title: 'Multimedia Specialist' },
    { title: 'Web Developer' },
    { title: 'Software Tester' },
    { title: 'Software and Applications Programmers' },
    { title: 'Database Administrator' },
    { title: 'ICT Security Specialist' },
    { title: 'Systems Administrator' },
    { title: 'Network Administrator' },
    { title: 'Network Analyst' },
    { title: 'ICT Quality Assurance Engineer' },
    { title: 'ICT Support Engineer' },
    { title: 'ICT Systems Test Engineer' },
    { title: 'ICT Support and Test Engineers' },
    { title: 'Judge*' },
    { title: 'Magistrate*' },
    { title: 'Tribunal Member**' },
    { title: 'Intellectual Property Lawyer' },
    { title: 'Judicial and Other Legal Professionals' },
    { title: 'Careers Counsellor' },
    { title: 'Drug and Alcohol Counsellor' },
    { title: 'Family and Marriage Counsellor' },
    { title: 'Rehabilitation Counsellor' },
    { title: 'Student Counsellor' },
    { title: 'Counsellors' },
    { title: 'Minister of Religion****' },
    { title: 'Historian' },
    { title: 'Interpreter' },
    { title: 'Translator' },
    { title: 'Archaeologist' },
    { title: 'Social Professionals' },
    { title: 'Community Arts Worker' },
    { title: 'Recreation Officer' },
    { title: 'Welfare Worker' },
    { title: 'Agricultural Technician' },
    { title: 'Anaesthetic Technician' },
    { title: 'Cardiac Technician' },
    { title: 'Medical Laboratory Technician' },
    { title: 'Operating Theatre Technician' },
    { title: 'Pharmacy Technician' },
    { title: 'Pathology Collector (Aus) / Phlebotomist (NZ)' },
    { title: 'Medical Technicians' },
    { title: 'Fisheries Officer' },
    { title: 'Meat Inspector' },
    { title: 'Quarantine Officer' },
    { title: 'Primary Products Inspectors' },
    { title: 'Chemistry Technician' },
    { title: 'Earth Science Technician' },
    { title: 'Life Science Technician' },
    { title: 'School Laboratory Technician' },
    { title: 'Hydrographer' },
    { title: 'Science Technicians' },
    { title: 'Architectural Draftsperson' },
    { title: 'Building Associate' },
    { title: 'Building Inspector' },
    { title: 'Construction Estimator' },
    { title: 'Plumbing Inspector' },
    { title: 'Surveying or Spatial Science Technician' },
    { title: 'Architectural, Building and Surveying Technicians' },
    { title: 'Electronic Engineering Draftsperson' },
    { title: 'Electronic Engineering Technician' },
    { title: 'Mechanical Engineering Draftsperson' },
    { title: 'Mechanical Engineering Technician' },
    { title: 'Safety Inspector' },
    { title: 'Maintenance Planner' },
    { title: 'Metallurgical or Materials Technician' },
    { title: 'Mine Deputy' },
    { title: 'Building and Engineering Technicians' },
    { title: 'Hardware Technician' },
    { title: 'ICT Customer Support Officer' },
    { title: 'Web Administrator' },
    { title: 'ICT Support Technicians' },
    { title: 'Blacksmith' },
    { title: 'Electroplater' },
    { title: 'Farrier' },
    { title: 'Metal Casting Trades Worker' },
    { title: 'Metal Polisher' },
    { title: 'Aircraft Maintenance Engineer (Avionics)' },
    { title: 'Aircraft Maintenance Engineer (Mechanical)' },
    { title: 'Aircraft Maintenance Engineer (Structures)' },
    { title: 'Textile, Clothing and Footwear Mechanic' },
    { title: 'Metal Fitters and Machinists' },
    { title: 'Engraver' },
    { title: 'Gunsmith' },
    { title: 'Precision Instrument Maker and Repairer' },
    { title: 'Saw Maker and Repairer' },
    { title: 'Watch and Clock Maker and Repairer' },
    { title: 'Engineering Patternmaker' },
    { title: 'Toolmaker' },
    { title: 'Panelbeater' },
    { title: 'Vehicle Body Builder' },
    { title: 'Vehicle Trimmer' },
    { title: 'Vehicle Painter' },
    { title: 'Floor Finisher' },
    { title: 'Roof Tiler' },
    { title: 'Business Machine Mechanic' },
    { title: 'Communications Operator' },
    { title: 'Cabler (Data and Telecommunications)' },
    { title: 'Telecommunications Cable Jointer' },
    { title: 'Telecommunications Linesworker' },
    { title: 'Telecommunications Technician' },
    { title: 'Baker' },
    { title: 'Pastrycook' },
    { title: 'Butcher or Smallgoods Maker (Excluding the activity of slaughtering animals, or primarily boning, slicing or packaging meat in a non-retail setting.)' },
    { title: 'Cook***' },
    { title: 'Dog Handler or Trainer' },
    { title: 'Horse Trainer' },
    { title: 'Zookeeper' },
    { title: 'Kennel Hand' },
    { title: 'Animal Attendants and Trainers' },
    { title: 'Shearer' },
    { title: 'Veterinary Nurse' },
    { title: 'Florist' },
    { title: 'Gardener (General)' },
    { title: 'Arborist' },
    { title: 'Landscape Gardener' },
    { title: 'Greenkeeper' },
    { title: 'Nurseryperson' },
    { title: 'Hairdresser' },
    { title: 'Print Finisher' },
    { title: 'Screen Printer' },
    { title: 'Graphic Pre-press Trades Worker' },
    { title: 'Printing Machinist' },
    { title: 'Small Offset Printer' },
    { title: 'Canvas Goods Fabricator' },
    { title: 'Leather Goods Maker' },
    { title: 'Sail Maker' },
    { title: 'Shoemaker' },
    { title: 'Apparel Cutter' },
    { title: 'Clothing Patternmaker' },
    { title: 'Dressmaker or Tailor' },
    { title: 'Clothing Trades Workers' },
    { title: 'Upholsterer' },
    { title: 'Cabinetmaker' },
    { title: 'Furniture Finisher' },
    { title: 'Picture Framer' },
    { title: 'Wood Machinist' },
    { title: 'Wood Turner' },
    { title: 'Wood Machinists and Other Wood Trades Workers' },
    { title: 'Chemical Plant Operator' },
    { title: 'Gas or Petroleum Operator' },
    { title: 'Power Generation Plant Operator' },
    { title: 'Gallery or Museum Technician' },
    { title: 'Library Technician' },
    { title: 'Jeweller' },
    { title: 'Broadcast Transmitter Operator' },
    { title: 'Camera Operator (Film, Television or Video)' },
    { title: 'Light Technician' },
    { title: 'Make Up Artist' },
    { title: 'Musical Instrument Maker or Repairer' },
    { title: 'Sound Technician' },
    { title: 'Television Equipment Operator' },
    { title: 'Performing Arts Technicians' },
    { title: 'Signwriter' },
    { title: 'Diver' },
    { title: 'Interior Decorator' },
    { title: 'Optical Dispenser' },
    { title: 'Optical Mechanic' },
    { title: 'Plastics Technician' },
    { title: 'Wool Classer' },
    { title: 'Fire Protection Equipment Technician' },
    { title: 'Technicians and Trades Workers' },
    { title: 'Ambulance Officer' },
    { title: 'Intensive Care Ambulance Paramedic' },
    { title: 'Diversional Therapist' },
    { title: 'Enrolled Nurse' },
    { title: 'Mothercraft Nurse' },
    { title: 'Aboriginal and Torres Strait Islander Health Worker' },
    { title: 'Massage Therapist' },
    { title: 'Community Worker' },
    { title: 'Disabilities Services Officer' },
    { title: 'Family Support Worker' },
    { title: 'Parole or Probation Officer' },
    { title: 'Residential Care Officer' },
    { title: 'Youth Worker' },
    { title: 'Defence Force Member – Other Ranks' },
    { title: 'Emergency Service Worker' },
    { title: 'Fire Fighter' },
    { title: 'Detective' },
    { title: 'Police Officer' },
    { title: 'Prison Officer' },
    { title: 'Driving Instructor' },
    { title: 'Funeral Director' },
    { title: 'Funeral Workers' },
    { title: 'Flight Attendant' },
    { title: 'Travel Attendants' },
    { title: 'First Aid Trainer' },
    { title: 'Diving Instructor (Open Water)' },
    { title: 'Gymnastics Coach or Instructor' },
    { title: 'Horse Riding Coach or Instructor' },
    { title: 'Snowsport Instructor' },
    { title: 'Swimming Coach or Instructor' },
    { title: 'Tennis Coach' },
    { title: 'Other Sports Coach or Instructor' },
    { title: 'Dog or Horse Racing Official' },
    { title: 'Sports Development Officer' },
    { title: 'Sports Umpire' },
    { title: 'Other Sports Official' },
    { title: 'Footballer' },
    { title: 'Golfer' },
    { title: 'Jockey' },
    { title: 'Sportspersons' },
    { title: 'Contract Administrator' },
    { title: 'Program or Project Administrator' },
    { title: 'Conveyancer' },
    { title: 'Legal Executive' },
    { title: 'Court Bailiff or Sheriff (Aus) / Court Collections Officer (NZ)' },
    { title: 'Insurance Investigator' },
    { title: 'Insurance Loss Adjuster' },
    { title: 'Insurance Risk Surveyor' },
    { title: 'Clinical Coder' },
    { title: 'Auctioneer' },
    { title: 'Stock and Station Agent' },
    { title: 'Insurance Agent' },
    { title: 'Business Broker' },
    { title: 'Property Manager' },
    { title: 'Real Estate Agency Principal' },
    { title: 'Real Estate Agent' },
    { title: 'Real Estate Representative' },
    { title: 'Retail Buyer' },
    { title: 'Wool Buyer' },
    { title: 'Driller' }
    ];

  $('.success-message.notice').each(function() {
    var $info = $(this);
    var $icon = $(this).find('.fa-times');
    $icon.on('click', function() {
      $info.removeClass('in');
      $info.addClass('out');
    });
  });

  $('#occupation').keypress(function(e) {
    var code = e.which; // recommended to use e.which, it's normalized across browsers
    if(code==13)e.preventDefault();
  });

  if ($('#occupation').val() !== '') {
    $('.ui.search').addClass('valid');
  }

  $('.ui.search').search({
    source : content,
    searchFields : ['title'],
    searchFullText: true,
    onSelect : function(result, response) {
      var $info = $('.success-message.fade.out.notice');
      $info.removeClass('out');
      $info.addClass('in');
      $(this).addClass('valid');
    },
    onResultsOpen: function(result) {
      if ($('.ui.search').hasClass('valid'))
      {
        $('.ui.search').removeClass('valid');
      }
    }
  });
});
</script>
