---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-start-date-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-start-date-help.md %}{% endcapture %}

{% capture md_errorheading %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-start-date-error-heading.md %}{% endcapture %}

{% capture md_errortext1 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-start-date-day-error-text1.md %}{% endcapture %}

{% capture md_errortext2 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-start-date-month-error-text1.md %}{% endcapture %}


{% capture md_errortext3 %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/questionnaire/errors/2015-01-01-start-date-year-error-text1.md %}{% endcapture %}

<p class="steps">5 of 7</p>
{{ md_1 | markdownify }}
<div class="help-block">
    {{ md_2 | markdownify }}
</div>
<form id="frmStartDate" action="{% post_url 2015-01-01-hiring-staff-duration %}" method="get" novalidate>
  <div class="error-message hide" id="startDateErrorHolder">
    <p>{{ md_errorheading }}</p>
  </div>
  <div class="input-group">
    <div class="float-left">
      <label for="startDay">Day</label>
      <input type="number" name="start-date" id="startDay" min="1" max="31" pattern="[0-9]*" error-message="{{ md_errortext1 }}" outside-scope-error-message="Enter a day from 1 to 31" not-numeric-error-message="Start day must be a number." error-message-holder="startDateErrorHolder" class="two-char-input" group-name="start-date-group" required />
    </div>
    <div class="float-left spaced-left-15">
      <label for="startMonth">Month</label>
      <input type="number" name="start-date" id="startMonth" maxlength="2" min="1" max="12" pattern="[0-9]*" error-message="{{ md_errortext2 }}" outside-scope-error-message="Enter a month from 1 to 12" not-numeric-error-message="Start date must be a number." error-message-holder="startDateErrorHolder" class="two-char-input" group-name="start-date-group" required />
    </div>
    <div class="float-left spaced-left-15">
      <label for="startYear">Year</label>
      <input type="number" name="start-date" id="startYear" maxlength="4" min="2015" max="2035" pattern="[0-9]*" error-message="{{ md_errortext3 }}" outside-scope-error-message="Enter a year between 2015 and 2035." not-numeric-error-message="Start date must be a number." error-message-holder="startDateErrorHolder" class="four-char-input" group-name="start-date-group" required />
    </div>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

<script src="/js/validation.js"></script>
<script>
$(function() {
  $('#frmStartDate').alphaValidate({
    groupNames: ['start-date-group']
  });
})
</script>
