/**
* Site header
*/
.badge-prototype {
  margin-bottom: -30px;
  margin-left: 8px;
  background-color: #c72572 !important;
  font-weight: normal !important;
}
.site-header {
  border-top: 5px solid $grey-dark-colour;
  border-bottom: 1px solid $frame-colour;
  min-height: 56px;
  z-index: 1000;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &, &:visited {
    color: $grey-dark-colour;
  }
}



/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $contrast-text-colour;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.links-list {
  background-color: white;
  padding: 20px;
  p {
    a {
      display: block;
      color: black;
      text-decoration: none;
    }
    a:visited {
      color: black; }

    a:hover {
      color: $button-hover-colour; }

    margin-bottom: 8px;
  }

  h4 {
    margin-bottom: 10px;
    margin-top: 20px;

  }
}
