H3.bas {
	FONT-SIZE: 13pt; MARGIN-LEFT: 65px; COLOR: BLACK; TEXT-ALIGN: left
}
LI.bas {
	MARGIN-LEFT: 75px
}
H1 {
	FONT-SIZE: 12pt; 
	COLOR: black; 
	FONT-FAMILY: Arial;
	TEXT-ALIGN: left;
	FONT-WEIGHT: bold;
	margin: 0px 0px 1em 0px;
}

H2 {
	FONT-SIZE: 12pt; 
	COLOR: BLACK; 
	TEXT-ALIGN: left;
	MARGIN: 0.5em 0px 0px 0px;;;
}

H3 {
	FONT-SIZE: 11pt; 
	COLOR: BLACK; 
	TEXT-ALIGN: left;
	margin: 1em 0px 0.4em 0px;
}
H4 {
	FONT-SIZE: 10pt; 
	COLOR: BLACK; 
	TEXT-ALIGN: left;
	margin: 0 0 0.4em 0;
}
H5 {
	FONT-SIZE: 10pt; 
	COLOR: BLACK; 
	TEXT-ALIGN: left;
	margin: 1.3em 0 1.3em 0
}
H6 {
	FONT-SIZE: 10pt; COLOR: BLACK; TEXT-ALIGN: left
}


body
{
	font-size: x-small;
	margin-left: 10px;
	color: black;
	text-indent: 0px;
	font-family: arial, helvetica, sans-serif, verdana;
	letter-spacing: 0px;
}

ADDRESS {
	FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: italic
}
B {
	
}
BLOCKQUOTE {
	FONT-SIZE: 10pt; MARGIN-LEFT: 50px; COLOR: black; MARGIN-RIGHT: 50px; TEXT-ALIGN: left
}
CITE {
	FONT-SIZE: 10pt; COLOR: black; FONT-STYLE: italic
}
CODE {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Courier,monospace
}
.DISCLAIMER {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 6pt; PADDING-BOTTOM: 3px; COLOR: black; PADDING-TOP: 3px; FONT-FAMILY: Arial,Helvetica,Sans-Serif; BACKGROUND-COLOR: #F5F5F5
}
EM {
	FONT-STYLE: italic
}
I {
	FONT-STYLE: italic
}
KBD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Courier,monospace
}
PRE {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Courier,monospace
}
SAMP {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Courier,monospace
}
TH {
	background-color: #007faa;
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	padding: 0.3em;
	text-align: left;
}
TR {
	PADDING-RIGHT: 0px; FONT-SIZE: 10pt; VERTICAL-ALIGN: top;
}
TT {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Courier,monospace
}
.white {
	COLOR: white
}
.white8pt {
	PADDING-RIGHT: 5px; FONT-SIZE: 8pt; COLOR: white; FONT-FAMILY: Geneva,Arial,Helvetica,Sans-Serif
}
A.white:link {
	COLOR: white
}
A.white:visited {
	COLOR: white
}
A:hover
{
	text-decoration:none;
	color: Blue;
}


.list_header {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; COLOR: black; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: powderblue
}
.greybox {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #F5F5F5
}
.example {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #F5F5F5
}
.note {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #ddeee0
}
.UpdatesLink {
	COLOR: black! important
}
.hottopic {
	FONT-WEIGHT: bold; FONT-SIZE: 11pt; MARGIN-LEFT: 10px; COLOR: white; FONT-FAMILY: Arial, helvetica, Sans-Serif; TEXT-ALIGN: left; TEXT-DECORATION: underline
}
.black8pt {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Geneva, Arial, helvetica, Sans-Serif
}
.updates {
	FONT-SIZE: 8pt; MARGIN-LEFT: 10px; COLOR: black; FONT-FAMILY: Geneva, Arial, Helvetica, Sans-Serif
}
.LeftPanelItem {
	FONT-SIZE: 8pt; MARGIN-LEFT: 4px; COLOR: white; FONT-FAMILY: Geneva, Arial, Helvetica, Sans-Serif
}
.content {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial,Helvetica,Sans-Serif
}
.question {
	FONT-WEIGHT: bolder; FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Arial, Helvetica, Sans-Serif; TEXT-ALIGN: left
}
.note {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Geneva, Arial, helvetica, Sans-Serif
}
.warn {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bolder; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BACKGROUND-COLOR: #F5F5F5
}
.invalidwarning {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; PADDING-BOTTOM: 3px; COLOR: red; PADDING-TOP: 3px; BACKGROUND-COLOR: #F5F5F5
}
.copyright {
	FONT-SIZE: 8pt; COLOR: black; FONT-FAMILY: Geneva, Arial, Helvetica, Sans-Serif
}

TABLE {
	width:100%;
}

TR.UpdateRow {
	PADDING-BOTTOM: 3px
}
TR.oddshade {
	BACKGROUND-COLOR: #EAEAEA;
}
TR.evenshade {
	BACKGROUND-COLOR: #F5F5F5;
}

TR.oddshade > td, TR.oddshade > th, TR.evenshade > td, TR.evenshade > th, TR.whiteRow > td, TR.whiteRow > th
{
	padding-top: 0.2em;
	padding-right: 0.2em;
	padding-bottom: 0.1em;
	padding-left: 0.2em;
}

.RTL {
	TEXT-ALIGN: right
}
.NoFont {
	FONT-FAMILY: notarealfont
}
TR.tabs {
	VERTICAL-ALIGN: middle
}
span.BizDocLabel
{
    width:200px;
    font-family:Century Gothic;
    font-style:normal;
    font-weight:normal;
}
span.BizDocStatusLabel
{
    width:200px;
}
textBox.BizDocTextBox
{
    width:200px;
}
textarea
{
	font-family: arial, helvetica, sans-serif, verdana;	
}
