/* ------------Shared Portal Styles ----------------------------*/
/*  Shared between the various portal pages
 *	The first code block in BP.css is considered the master copy
 * -------------------------------------------------------------*/

/************* Main Layout ************/
	html, body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
	}

	.portalHeaderWrapper
	{
		height: 54px;
		width: 100%;
		background-color: #003366;
	}

	.portalHeaderLeft 
	{
		float: left;
		height: 54px;
		width: 181px;
	}

	.portalHeaderRight
	{
		height: 54px;
		overflow: hidden;
	}

	.portalTopNavBox
	{
		height: 25px;
		padding-top: 3px;
		padding-right: 6px;
	}

	.mainContainerWrapper
	{
		position: relative; 
		width: 100%;
		left: 0px;
	}

	.mainNavMenu
	{
		position: absolute; 
		width: 130px;
		left: 0px;
	}

	.mainContainer
	{
		position: relative; 
		margin-left: 130px;
	}

	.mainContainerBody
	{
		font-size: 10pt;
		padding: 10px;	
	}

	#contents
	{
		/*position: relative;*/
	}

	.contentsWrap 
	{	
		min-height: 90%;	
	}

	#pnlCentre
	{
		top: 0;
		left: 0;
		overflow: auto;
		padding-bottom: 50px;
	}

	.footer
	{
		position: relative;
		clear: both;
		height: 50px;
	}

	#footerSpacer
	{
		height: 1em;
	}

/************* Helper Classes ************/

	.clearFix 
	{
		clear: both;
	}

	.tall
	{
		height: 100%;
	}

	.toUpperCase
	{
		text-transform: uppercase;
	}

/************* WCAG Enhancements ************/
	.buttonCheckAll
	{
	    margin-left: 0.2em;
		margin-bottom: 0.5em;
	}
	
	.buttonCheckAll input
	{
		color: #d3d3d3;
	    height: 16px;
	    width: 16px;
	    font-size: 0px;
	}

	.buttonCheckAll label
	{
		vertical-align: bottom;
		margin-left: 0.5em;
		margin-top:0.2em;
	}

/************* Table-like styles *************/
	
.colOne, 
.colTwo				{ float: left; width: 25%; }
.colHalf 			{ float: left; width: 50%; }
.colThird			{ float: left; width: 33%; }
.colMedium 			{ float: left; width: 30%; }
.colSmall 			{ float: left; width: 16em; }
.colNarrow 			{ float: left; width: 9em; }
.colWide 			{ float: left; width: 60%; }
.colExtraWide 		{ float: left; width: 80%; }
.colAmount			{ float: left; width: 6em; }
.colValidator 		{ float: left; vertical-align: top; }
.colRadioButton		{ float: left; width: 2em; }
.colCheckBox 		{ float: left; width: 3em; }
.colTextBox	 		{ float: left; width: 14em; }
.colLast 			{ float: left; overflow: auto; }
.colOneReport       { float: left; width:3em; margin-right:0.3em; }
.colTwoReport       { float: left; margin-right:1em; }
.colDisplay    		{ float: left; }
.colForty 			{ float: left; width: 40%; }
	
.colOneWithIndent
{
	float: left; 
	width: 20%;
	margin-left: 5%;
}

/* secure messaging start */

.colOneMessageNoBackground
{
	float: left; 
	width: 25%; 
}
	
.colOneMessage		
{ 
	float: left; 
	width: 33%;  
	background-color: #F5F5F5;	
}

.colTwoMessage	    
{
	float: left; 
	width: 33%; 
	margin-left: 0 !important;
	background-color:#F5F5F5;
}

.colLastMessage 	
{ 
	float: none; 
	overflow: auto;  
	background-color: #F5F5F5;	
}

.cellMessage, .colOneMessageNoBackground, .colOneMessage, .colTwoMessage, .colLastMessage
{
	padding: 0.3em 0.5em 0.3em 0.5em;
	margin: 0.1em 0.2em 0.1em 0.2em;
	color: #000000;
}

.colAsterisk, .colAsteriskRed 		
{ 
	float: left; 
	width: 2em; 
	text-align: center; 
	font-family: courier;
	font-size: 10pt;
}

.colAsteriskRed { 
	color: red;
}

.colAsteriskDollar
{
	float: left; 
	width: 3em; 
	text-align: center; 
}

.colDollar
{
	float:left;
	text-align:right;
	width: 2em;
	padding: 0.2em 0.3em 0.2em 0;
}

.colHelp
{
	text-align: center !important; 
}

.informationBorder
{
	border: 1px solid #ffcc00;
	padding: 1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.informationBorderSplash
{
	border: 1px solid #ffcc00;
	padding: 1em;
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.informationMessage
{
	padding-left: 0.7em;
	padding-top: 0.2em;
	padding-bottom: 1.0em;
	color: #000000;
	font-weight: bold;
}

.informationImage
{
/*	text-align: center; 
	width: 2%; */
}

.mailboxList
{
	margin-left: 2.5em;
	list-style: none;
	list-style-type: none;
}

/* secure messaging end */

/* aol start */

.aolRowSpacer
{
	clear:both;
	min-height: 1.3em;
	height:auto; 
	overflow:auto;
	margin: 0.1em 0 0.1em 0;
}

.aolCell, .aolColOne, .aolColOneIndent, .aolColAmount, .aolColCR
{
	padding: 0.4em 0.5em 0.4em 0.5em;
}

.aolColOne, .aolColOneIndent
{
	float: left;
	width: 32em;
	margin: 0 0 0 0;
}

.aolColOneIndent
{
	text-indent: 7em;
}

.aolColAmount	        
{ 
	float: left; 
	width: 9em; 
	text-align: right; 	
	background-color:#EAEAEA;
	margin: 0 0.1em 0 0;
	overflow:auto;
}

.aolColCR	           
{ 
	float: left; 
	width: 2em; 
	background-color:#EAEAEA;
	margin: 0 0.1em 0 0;
	overflow:auto;
}

.tdCR
{
	width: 2em;
	text-align: left;
}
/* aol end */


/************* Spiffy form styles ************/
/* 	spiffy form styles
	These styles are used to line up form elements.
	To use them, your top level div (avove rowSpacer divs) should
	use the spiffyForm class */

	.spiffyForm input {
	    left: 0px !important;
	    margin-left: 0px !important;
	}

	.spiffyForm .fieldIndicator {
		display: inline-block;
		width: 20px;
	}

	.spiffyForm .fieldindicator: before { 
		display: inline-block;
		content: "\00a0 \00a0"; /* non breaking space */
	}

	.spiffyForm .fieldrequired: before {
		content: '*';
		font-weight: bold;
		font-family: courier;
	}

	.spiffyForm .fieldcurrency: after{
		content: ' $';
	}

	.spiffyForm .fieldRequired > .screenreader: after {
		content: 'mandatory field';
	}


/* --------------------------------------------------------------
 *  End Shared Portal CSS block
 * -------------------------------------------------------------*/

/* formatting tags */
.loggedOnBanner
{
	color: #003366;
	padding-bottom: 5px;
	font-size: 10pt;
}

.error {
	color: #f00;
}
.warning {
	color: #000;
}
.information {
	color: #000;
}

.Label, .label {
	font-weight: bold
}

.SplashLink 
{
	font-weight: normal;
}

caption {
	caption-side: top;
	text-align: left;
	font-weight: bold;
	font-size: 10pt;
}

.EasBanner {
	color: #fff;
	font-size: 12pt;
	font-weight: bold;
}

.BPDefaultHeading1
{
	font-weight: bold;
	font-size: 25px;
	text-align: left;
}

.evenshade {  /*use to match td*/
	background-color: #F5F5F5;	
}

.oddshade {  /*use to match td*/
	background-color: #EAEAEA;	
}

.BPDefaultHeading2
{
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}

.DefaultTextBold
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 13px;
}

.DefaultText
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

.DefaultTextSmall
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
}
.DefaultTextSmallBold
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
}

.DefaultTextVerySmall
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 9px;
}

.DocFieldLabelSmallWidth
{
	font-weight: bold;
	float: left;
	font-size: 13px;
	width: 40%;
}

.DocFieldLabelMediumWidth
{
	font-weight: bold;
	float: left;
	font-size: 13px;
	width: 300px;
}

.DocFieldLabelLargeWidth
{
	font-weight: bold;
	float: left;
	font-size: 13px;
	width: 500px;
}

.TableFirstCoulmn
{
	width: 300px;
}
.SmallWidthTextBox
{
	width: 35px;
}

.MediumWidthTextBox
{
	width: 220px;
}

.LargeWidthTextBox
{
	width: 300px
}

.TapLargeWidthTextBox
{
	width: 27em;
	height: 7em;
	font-size: 1.1em;
}

form {
	margin-top: 0;
}

input {
	font-size: 1em;
}

textarea
{
	font-size: 1em;
}

input[type=submit], input[type=button], input[type=file], button
{
	padding: 0.2em 0.3em 0.2em 0.3em;
	margin: 0.1em 0.1em 0.2em 0.1em;
	text-align: center;
}

#atoFileUploadButton
{
	min-width: 0 !important;
	padding: 0.2em 0.6em 0.1em 0.6em;
	margin: 0.1em 0.1em 0.2em 0.5em;
}

input[type="text"][disabled]
{
    color: #333333;	
}

input[type=submit][disabled], input[type=button][disabled], button[disabled]  
{
    color: #545430;	
}

.TableIndentSmall
{
	font-size: 13px;
	width: 30px;
}


/* doc field tags */

.DocFieldLabel
{
	font-weight: bold;
	float: left;
	width: 40%;
}

/* doc field error handling tags */

.DFEr
{
	font-weight: bold;
	color: red;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

.DocFieldError
{
	font-weight: bold;
	color: red;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
}

.DFEB
{
	border-right: red thin ridge;
	border-top: red thin ridge;
	border-left: red thin ridge;
	border-bottom: red thin ridge;
	font-family: verdana;
}

.DocFieldErrorBorder
{
	border-right: red thin ridge;
	border-top: red thin ridge;
	border-left: red thin ridge;
	border-bottom: red thin ridge;
	font-family: verdana;
}

.ValidationSummary
{
	font-weight: bold;
	font-size: small;
	color: red;
}

/*** Doc Field Edit Controls ***/

.DocFieldEdit
{
	text-align: left;
}

.DocFieldEditShort
{
	width: 25%;
}

.DocFieldEditReadOnly
{
	text-align: left;
}


.DocFieldNormalBorder
{
	border-right: white thin solid;
	border-top: white thin solid;
	border-left: white thin solid;
	border-bottom: white thin solid;
}

/* used for hyperlinks, and the process menu items */

a:hover
{
	text-decoration: underline;
}

.starthere
{
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	text-decoration: none;
	color: white;
}

.startherebox
{
	background-color: #007faa;
	color: #fff;
	height:18px;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	padding-left: 2px;
}

.clientdetailsarea
{
	font-weight: normal;
	font-size: 10pt;
	text-align: left;
	text-decoration: none;
	color: white;
	padding-left: 10px;
}

.clientdetailsareabox
{
	background-color: #007faa;
	color: #fff;
	border-left-style:solid;
	border-left-width:2px;
	border-top-style:solid;
	border-top-width:1px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	height: 18px;
}

/* These styles are referenced in the process map (left navigation bar) */
.currentmenu
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	height:18px;
	background-color: #000000;
	color: #fff;
	padding-left:3px;
}

.currentmenuColor
{
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	text-decoration: none;
	color: white;
}

a.currentmenuColor:hover
{
	text-decoration: underline;
	color: #ffffff;
}

.menuitem
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	height:18px;
	background-color: #D9D9D9;
	color: #fff;
	padding-left:3px;
}

.menuitemColor
{
	font-weight: bold;
	font-size: 10pt;
	text-align: left;
	color: black;
	text-decoration: none;
}

a.menuitemColor:hover
{
	text-decoration: underline;
	color: #000000;
}

.submenuitem
{
	border-bottom-style:solid;
	border-bottom-width:1px;
	height:18px;
	background-color: #D9D9D9;
	color: #fff;
	padding-left:13px;
}

.submenuitemColor
{
	font-weight: normal;
	font-size: 10pt;
	color: black;
	text-align: left;
	text-decoration: none;
}

a.submenuitemColor:hover
{
	text-decoration: underline;
	color: #000000;
}

.DefaultASPXHeaderOutline
{
	width: 100%;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-top-color: black;
	border-top-style: solid;
	border-top-width: thin;
	border-left-color: black;
	border-left-style: solid;
	border-left-width: thin;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: thin;
}

/* header styles */
.topNavBarBorder
{
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: thin;
	border-right-color: black;
	border-right-style: solid;
	border-right-width: thin;
	border-left-style: none;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: thin;
}

.topNavBarMenuItem
{
	font-size: 9pt;
	color: #ffffff;
	text-indent: 0px;
	text-align: right;
	text-decoration: none;
	background-color: #003366;
}

a.topNavBarMenuItem
{
	font-size: 9pt;
	color: #ffffff;
	text-indent: 0px;
	text-align: right;
	text-decoration: none;
	background-color: #003366;
}

.topNavBarMenuItem:visited
{
	color: #ffffff;
}

a.topNavBarMenuItem:hover
{
	color: #ffffff;
	text-decoration: underline;
}

.portalTitleBox
{
	background-color: #003366;
	height:29px;
	padding-bottom: 0;
	padding-left:12px;
	bottom:0;
}
/* header styles */

/* footer styles */
.footerDivider
{
    padding-bottom: 10px;
	color: #006699;
}

.footerLink, a.footerLink
{
	font-family: arial, verdana, helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
	float: none;
	color: #003399;
	text-indent: 0px;
	text-align: left;
	text-decoration: none;
}

.footerlink:visited
{
	color: #990099;
}

.footerlink:hover
{
	color: #003399;
	text-decoration: underline;
}

.footerCopyright
{
	font-size: small;
	color: black;
}

/* site map formats */
.sitemapitem
{
	color: black;
	font-size: 14px;

}

.sitemapsubnavitem
{
	color: black;
	font-size: 14px;
	padding-left: 2.0em;
	padding-top: 0.3em;
}

/* DO NOT REMOVE */
.BPLogoFont
{
	font-weight: bold;
	font-size: 14pt;
	text-align: left;
	color: white;
	text-align: right;
}

.brHeight br
{
	line-height:1.5em;
}

span.block, spanBlock
{
	display:inline-block;
	width:6em;
}

.easHeader,
.tableHeaderLinks,
.tableHeaderLinks a,
.tableHeaderLinks a:hover
{
	background-color: #007faa;
	font-size: 10pt;
	color: #ffffff;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	padding: 0.2em;
}

th.tableHeaderLinks, 
tr.tableHeaderLinks th,
tr.tableHeaderLinks td
{
	text-align:left;
}

tr.tableHeaderLinks td {
	background-color: #007faa;
	COLOR: #FFFFFF; 
	FONT-WEIGHT: bold;
	padding: 0.3em;
}

.homepageFixBG
{
	background-color: white;
	width: 100%;
}

.headingBlue
{
	color: #006699;
	font-weight: bold;
}

.headingYellow
{
	color: #ff9900;
	font-weight: bold;
}

.headingGrey
{
	color: #000000;
	font-weight: bold;
}

.headingReport
{
	font-size: 12pt;
	color: black;
	font-family: arial;
	text-align: center;
	font-weight: bold;
	margin: 0px;
	padding-bottom: 10px;
}

/* used the the Banner displaying the Selected Clients Details */
.clBannerMediumFontBold
{
	color: black;
	font-size: x-small;
	font-weight:bold;
}

.clBannerLargeFontBold
{
	color: black;
	font-weight: bold;
	font-size: small;
}

.clBannerSmallFont
{
	color: black;
	font-family: verdana;
	font-weight: normal;
	font-size: x-small;
}

.clBannerSmallFontBold
{
	color: black;
	font-family: verdana;
	font-weight: bold;
	font-size: x-small;
}

.bulletindent
{
	margin-left: 10px;
	padding-left: 10px;
}

.TransactionSigning
{
	font-size: 12pt;
	color: black;
	font-family: courier new;
	text-align: left;
	font-weight: bold;
}

.noteSmallText
{
    font-size: 8pt;
}

em.auralonly
{
	display: none; font-size: 10;
}

.display
{
	display: inline;
	speak: spell-out;
	speak-numeral: digits;
}
.say
{
	display: none;
}

/* new style for R10 - start*/

.headerSubHeading
{
	font-size: 10;
	font-weight: 700;
	color: black;	
}

.linkNotes
{
	font-size: 8pt;
	color: black;
	margin-top: 0;
	margin-bottom: 0;	
}

.divBorder
{
	border: 1px solid #999999;
	height:auto;
	overflow:auto;
}

.divBorderStyle
{
	border: 1px solid;
	border-color: black;
	margin: 8px;
}

.checkStatusBorder
{
	border: 1px solid #999999;
	background-color: #F5F5F5;	
	padding: 1em 1em 1em 1em;
}

.wordBold	
{
	font-weight: bold;
}

.tableBorder
{
	border: 1px solid #999999;
}

.tableTopic
{
	width:100%;
	border: 1px solid #999999;
}

.tableTopic td
{
   margin: 1px;
   padding: 0.5em;
}

.FlowStandard   
{
	line-height: 22px; 
	padding-top: 1px; 
	padding-bottom: 1px; 
	padding-left: 5px; 
	padding-right: 10px; 
}

.FlowSelected   
{
	font-weight: bold;
	 line-height: 22px; 
	 padding-top: 1px; 
	 padding-bottom: 1px; 
	 padding-left: 5px; 
	 padding-right: 10px; 
	 border: solid thin #ffcc00; 
}

.divTableHeader
{
	background-color: #999999;
	font-size: 10pt;
	color: #ffffff;
	font-family: arial;
	text-align: left;
	font-weight: bold;
	padding: 0.3em;
	margin: 0.1em 0.1em 0em 0.1em;
}

.ReportDataGrid
{
	color: black;
	font-family: arial;
}

.ReportDataGridHeader
{
	font-weight: bold;
	color: white;
	background-color: #006699;
	text-align: center;
}

/* new style for R10 - end*/

/* BDE file upload & status */
.FileStatusSearch td
{
  padding:2px 4px 3px 2px;
  vertical-align:middle;
}

.FileStatusRepeater
{
	margin-top:10px;
}
.FileStatusRepeater th, .FileStatusRepeater td
{
    padding: 3px;
}

.DisplayLink
{
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

/* use this style so as to leave the original untouched */
.ui-datepicker th {  color: black; background-color:white;  }

/* BDE end */

@media aural
{
	.THIS_MUST_BE_THE_FIRST_THING_AFTER_THE_MEDIA_AURAL_RULE_DO_NOT_REMOVE {
		/* otherwise JAWS will ignore the first aural style rule */
	}
	em.auralonly
	{
		display: inline;
	}
	.say {
		display: inline;
		speak: spell-out;
		speak-numeral: digits;
	}
	.display {
		display: none;
	}
}

/* when these are sorted add to other css files  */
.screenReader {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.noAsteriskFixedWidth { 
	float:left; 
	white-space:nowrap; 
	padding-left: 10px;
	padding-right: 10px;
	font-family: courier;
	font-size: 10pt;
}

.asteriskRed { 
	float:left; 
	padding-left: 5px;
	padding-right: 5px;
	font-family: courier;
	font-size: 10pt;
	color:red;
}

.asteriskBold { 
	padding-left: 5px;
	padding-right: 5px;
	font-family: courier;
	font-size: 10pt;
	font-weight:bold;
	display:inline;
}

.asterisk { 
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-family: courier;
	font-size: 10pt;
	display:inline;
}

.borderNone {
   border:0 none;
}

fieldset.borderNone {
	padding: 0;  
	margin: 0;
    border: 0 none;
}

.borderShaded {
	border-bottom: #808080 1px solid; 
	border-left: #808080 1px solid; 
	border-top: #808080 1px solid; 
	border-right: #808080 1px solid;
}

tr.spaceUnderRow > td
{
  padding-bottom: 2em;
}

.expandVertical
{
	height: auto;
	overflow: auto;
}

.rowSpacer, .rowSpacerMarginLeft
{
	clear:both;
	padding: 0.4em 0.1em 0.4em 0.1em;
	min-height: 1.3em;
	height:auto; 
	overflow:auto;
}

.rowSpacerNarrow
{
	clear: both;
	padding: 0.2em 0.1em 0.2em 0.1em;
	min-height: 1.2em;
	height: auto; 
	overflow: auto;
}

.rowSpacerNoPadding
{
	clear:both;
	min-height: 1.3em;
	height:auto; 
	overflow:auto;
}

.rowSpacerMarginLeft
{
	margin-left:0.5em;
}

.rowSpacerTextQuestion
{
	clear: both;
	padding-top: 1.0em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-bottom: 1.0em;
	min-height: 4.0em;
}

.rowSpacerYesNoQuestion
{
	clear: both;
	padding-top: 1.0em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-bottom: 1.0em;
	min-height: 1.5em;
}

.radioButtonRowSpacer
{
	clear: both;
	padding-top: 0.2em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-bottom: 0.2em;
}

.asteriskNewMessage { 
	padding-left: 0;
	padding-right: 0.4em;
	font-family: courier;
	font-size: 10pt;
	display:inline;
}

.rowHeader
{
	font-weight: bold;
	padding-top: 1em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	padding-bottom: 0.1em;
}

.divExpand
{
	height: auto;
	overflow: auto;
}

.navigationButtons
{
	clear:both;
	padding-top: 1em;
}

/*  eAS  - 	The negative margin in the wrapper should equal the full height of the footer, including any padding or borders. */

.easFooter {
	height: 4em;
	margin-top: 6em;
}

.easOuterContainer {
	border-left:solid 2px #007faa;
}

.easTableContainer {
	margin-left: 1em;
}

.easHeader {
	font-style: italic;
	padding: 0.3em 0.3em 0.3em 0.5em;
}

/* GST Item Code Column i.e. G1, G2, G3, etc */
.easColOne
{
	float:left;
	width: 3em;
	/*max-width: 30px;*/
}

/* GST Item Description Column i.e. 'Total Sales' */
.easColTwo
{
	float:left;
	width: 40%;
	max-width: 36em;
}

INPUT.borderless 
{ 
	BORDER-BOTTOM: white 0px solid; BORDER-LEFT: white 0px solid; BORDER-TOP: white 0px solid; BORDER-RIGHT: white 0px solid 
}

/*  eAS  */



