{% capture md_content %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-text.md %}{% endcapture %}
{% capture md_button %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-button.md %}{% endcapture %}

<div class="task-body collapse register-business">
    {{ md_content | markdownify }}
    <div class="input-group">
      <a href="{% post_url 2015-01-01-registration-register-business %}" class="button">{{ md_button }}</a>
    </div>
</div>

