{% capture md_title %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-title.md %}{% endcapture %}
{% capture md_content %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-tasks-text.md %}{% endcapture %}
{% capture md_downloads_text %}{% include content/starting-a-business/questionnaire/summary/grants/2015-01-01-questionnaire-summary-grants-downloads-text.md %}{% endcapture %}

<li>
  <div class="task-title" data-toggle="collapse" data-target=".grants">
      <span class="title">{{ md_title | markdownify }}</span>
      <span class="badge">2</span>
      <i class="fa fa-angle-down chevron"></i>
  </div>
  <div class="task-body collapse grants">
      {{ md_content | markdownify }}
      <form>
          <div class="input-group checkbox-group">
            <input type="checkbox" name="grants" id="grant-1" value="Yes" />
            <label for="grant-1">Business development and assistance programs <span class="help-text">Closing date: ongoing</span></label>
          </div>
          <div class="input-group checkbox-group">
            <input type="checkbox" name="grants" id="grant-2" value="Yes" />
            <label for="grant-2">Small business jobs bonus <span class="help-text">Closing date: ongoing</span></label>              
          </div>
          <div class="input-group">
              <button class="button">Apply for funding</button>
          </div>
      </form>
  </div>
  <div class="task-body collapse grants">
      {{ md_downloads_text | markdownify }}
  </div>
</li>