---
layout: three-column
title:  "Licences and permits"
section: "Starting a business"
subsection: "Licences and permits"
---

{% capture md_intro %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-intro.md %}{% endcapture %}

{% capture md_liquor_title %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquortitle.md %}{% endcapture %}
{% capture md_liquor_content %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquorcontent.md %}{% endcapture %}
{% capture md_liquor_button %}{% include content/starting-a-business/permits-and-licenses/summary/liquor/2015-01-01-licences-summary-liquorbutton.md %}{% endcapture %}

{% capture md_appointingfss %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-appointingfss.md %}{% endcapture %}
{% capture md_settingupshop %}{% include content/starting-a-business/permits-and-licenses/summary/2015-01-01-licences-summary-settingupshop.md %}{% endcapture %}

{{ md_intro | markdownify }}

<ul class="task-list">
  <li>
    <div data-toggle="collapse" data-target=".handling-and-selling-food" class="task-title">
      <span class="title">Handling and selling food</span>
      <span class="badge">2</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse handling-and-selling-food">
      <p class="steps">Task <strong>1</strong> of <strong>2</strong></p>
      <p class="task-heading">{{ md_liquor_title }}</p>
      <p>
        {{ md_liquor_content | markdownify }}
      </p>
      <div class="input-group">
        <a href="#" class="button">{{ md_liquor_button }}</a>
      </div>
    </div>
    <div class="task-body collapse handling-and-selling-food">
      <p class="steps">Task <strong>1</strong> of <strong>1</strong></p>
      <p class="task-heading">Appointing a Food Safety Supervisor (FSS).</p>
      <p>
        {{  md_appointingfss | markdownify }}
      </p>
      <div class="input-group">
        <a href="{% post_url 2015-01-01-permits-and-licenses-appoint-a-fss %}" class="button">Learn more</a>
      </div>
    </div>
  </li>
  <li>
    <div data-toggle="collapse" data-target="#settingUpShop" class="task-title">
      <span class="title">Setting up shop</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse" id="settingUpShop">
      <p>
{{ md_settingupshop | markdownify }}
        <a href="#">Learn more</a>
      </p>
      <div class="input-group">
        <a href="#" class="button">Set up your shop</a>
      </div>
    </div>
  </li>
</ul>

<script>
$(function() {
  $('div.task-title').click(function() {
    var chevronEl = $(this).find('i');
    chevronEl.toggleClass('fa-angle-down');
    chevronEl.toggleClass('fa-angle-up');
  });
});
</script>

<script>
  $(function() {
    DTO.LocalStorage.storeValue('licenses');
  });
</script>
