---
layout: three-column
title:  "Workers Insurance"
section: "Starting a business"
subsection: "Licences and permits"
---
<!-- {% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-summary.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-summary.2.md %}{% endcapture %}
{{ md_1 | markdownify }} -->



<h2>Workers compensation insurance</h2>

<p>You may need to get workers compensation insurance.</p>


<form id="insuranceForm" action="{% post_url 2015-01-01-permits-and-licenses-index %}" method="get" novalidate>

  <h5>Do you have people in your business and expect to pay more than $7500 a year in total wages?</h5>

  <div class="error-message hide" id="insuranceErrorHolder">
    <p>Insurance input error.</p>
  </div>
    
  <div class="input-group checkbox-group">
    <input type="radio" name="insurance" id="insuranceYes" value="yes" error-message="Select an option." error-message-holder="insuranceErrorHolder" required />
    <label for="insuranceYes">No</label>

    <input type="radio" name="insurance" id="insuranceNo" value="no" required />
    <label for="insuranceNo">Yes</label>
    
  </div>

  
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

<script src="/js/validation.js"></script>

<script>
$(function() {
  // form validation
  $('#insuranceForm').alphaValidate();  
});
</script>


<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>
