---
layout: three-column
title:  "Licenses and Permits"
section: "Licenses and permits"
subsection: "Licenses and Permits"
---
{% capture md_1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-dairy.md %}{% endcapture %}
{{ md_1 | markdownify }}

<form class="notification" action="#" method="get" data-main-notification="Your licence has been somethingd" data-main-button="Go to briefcase" data-main-button-link="{% post_url 2015-01-01-briefcase %}">
  <button type="submit" class="button icon-next show-notification">Apply for a licence</button>
</form>

<a href="{% post_url 2015-01-01-briefcase %}">click this</a>

{% include your-business.html %}

<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>
