---
layout: three-column
title:  "Licenses and Permits"
section: "Licenses and permits"
subsection: "Licenses and Permits"
---
{% capture md_1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-intro.md %}{% endcapture %}
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-permits-and-licenses-location %}" metho="get">
  <button type="submit" class="button icon-next">Next</button>
</form>

{% include your-business.html %}

<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>
