---
layout: three-column
title:  "Storage"
section: "Starting a business"
subsection: "Licences and permits"
---
{% capture md_1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-storage-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-storage-help.md %}{% endcapture %}


<p class="steps">3 of 3</p>
{{ md_1 | markdownify }}

<div class="help-block">
  {{ md_2 | markdownify }}
</div>


<form id="shopLocationForm" action="{% post_url 2015-01-01-permits-and-licenses-index %}" method="get">
  <div class="input-group">

    <label for="address">Street address of storage facility</label>
    <input type="text" class="auto-complete" id="address" name="storage-address" />
  </div>

  <div class="input-group checkbox-group left-align">
    <input type="checkbox" name="storage-address" id="sameAsAddress" value="Same as shop location"/>
    <label for="sameAsAddress">Same as shop location</label>
  </div>

  
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>



<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>

