---
layout: three-column
title:  "Licences and permits"
section: "Starting a business"
subsection: "Licences and permits"
---
{% capture md_1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-intro.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-help.md %}{% endcapture %}

<p class="steps">1 of 3</p>

{{ md_1 | markdownify }}

<div class="help-block">
    {{ md_2 | markdownify }}
</div>

<form id="shopLocationForm" action="{% post_url 2015-01-01-permits-and-licenses-modify-premises %}" method="get" novalidate>
  <!-- <input type="hidden" name="street-number" id="street_number" />
  <input type="hidden" name="route" id="route" />
  <input type="hidden" name="locality" id="locality" />
  <input type="hidden" name="administrative-area-level-1" id="administrative_area_level_1" />
  <input type="hidden" name="postcode" id="postal_code" />
  <input type="hidden" name="country" id="country" />
  <input type="hidden" name="lat" id="lat" />
  <input type="hidden" name="lng" id="lng" /> -->
  <div class="input-group">
    <div class="error-message hide" id="shopLocationErrorHolder">
      <p>Address input error.</p>
    </div>

    <label for="address">Street address</label>
    <input type="text" placeholder="" class="auto-complete" name="shopAddress" id="shopAddress" error-message="Enter your shop address." error-message-holder="shopLocationErrorHolder" required />

  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% include your-business.html %}

<script src="/js/validation.js"></script>
<script>
  $(function() {
    $('#shopLocationForm').alphaValidate();
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
    DTO.LocalStorage.storeValue('licenses');  
  });
</script>