---
layout: three-column
title:  "Licences and permits"
section: "Starting a business"
subsection: "Licences and permits"
---
{% capture md_intro %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-intro.1.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-help.md %}{% endcapture %}
{% capture md_labeltext1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-labeltext1.md %}{% endcapture %}
{% capture md_labeltext2 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-labeltext2.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location-errorheading.md %}{% endcapture %}
<p class="steps">1 of 3</p>

{{ md_intro | markdownify }}

<div class="help-block">
  {{ md_help | markdownify }}
</div>

<form id="shopLocationForm" action="{% post_url 2015-01-01-permits-and-licenses-renovatepremises %}" method="get"
      novalidate>
  <div class="input-group">
    <input type="hidden" name="sectionName" id="sectionName" value="licences"/>
    <div class="error-message hide" id="addressErrorHolder">
      <p> {{md_errorheading}}</p>
    </div>
    <label for="shop-location">{{ md_labeltext1 }} </label>
    <!--Please leave placeholders empty as we don't want placeholder text appearing.-->
    <input type="text" class="auto-complete" id="shop-location" name="shop-location" placeholder=""
           error-message="{{ md_errortext1 }}" error-message-holder="addressErrorHolder" required/>
  </div>
  <div class="input-group checkbox-group">
    <input type="checkbox" id="sameAsAddress" value="Same as registered business location"/>
    <label for="sameAsAddress">{{ md_labeltext2 }}</label>
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
  $(function () {
    $('#shopLocationForm').alphaValidate();
    var licencesLocalStorage = JSON.parse(localStorage.getItem('licences'));
    var businessLocalStorage = JSON.parse(localStorage.getItem('business'));
    if (businessLocalStorage['business-location']) {
      $('label[for="sameAsAddress"]').html($('label[for="sameAsAddress"]').text() + " <br/><font style='font-weight: normal'> (" + businessLocalStorage['business-location'] + ")</font>");

      $('#sameAsAddress').attr('checked', true);
      $('#shop-location').val(businessLocalStorage['business-location']);
    }
    if (licencesLocalStorage['shop-location'] === businessLocalStorage['business-location']) {
      $('#sameAsAddress').attr('checked', true);
    }
    $('#shop-location').on('change', function () {
      if ($('#shop-location').val() == businessLocalStorage['business-location']) {
        $('#sameAsAddress').attr('checked', true);
      } else {
        $('#sameAsAddress').attr('checked', false);
      }
    });
    $('#sameAsAddress').on('change', function () {
      if ($(this).is(':checked')) {
        $('#shop-location').val(businessLocalStorage['business-location'])
      }
      else {
        $('#shop-location').val('');
      }
    });
  });
</script>
