---
layout: three-column
title:  "Licenses and Permits"
section: "Starting a business"
subsection: "Licenses and Permits"
---
{% capture md_1 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-location.md %}{% endcapture %}

<span class="question-progress">Question 1 of 3</span>

{{ md_1 | markdownify }}
<form id="shopLocationForm" action="{% post_url 2015-01-01-permits-and-licenses-modify-premises %}" method="get" novalidate>
  <div class="input-group">
    <h5>What is the address of your shop?</h5>
    <div class="error-message hide" id="shopLocationErrorHolder">
      <p>Address input error.</p>
    </div>
    <label for="shoplocation">Address</label>
    <input placeholder="Enter a street address..." name="shoplocation" id="shoplocation" type="text" class="auto-complete" error-message="Enter your shop address." error-message-holder="shopLocationErrorHolder" />
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% include your-business.html %}

<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>
