---
layout: three-column
date_published: 20 Nov 2015
type: "Article"
title: "Appointing a Food Safety Supervisor (FSS)"
section: "Starting a business"
subsection: "Licences and permits"
description: This is a template page for articles.
include_on_homepage: false
---
<p class="article-heading">
  {{ page.title }}
</p>
<hr />
<p class="date-type">
  {{ page.date_published }} / <span>{{ page.type }}</span>
</p>
{% capture intro %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-intro.md %}{% endcapture %}
{% capture certificate %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-certificate.md %}{% endcapture %}
{% capture training %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-training.md %}{% endcapture %}
{% capture course %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-course-info.md %}{% endcapture %}
{% capture feature %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-feature-box.md %}{% endcapture %}
{% capture bottom %}{% include content/starting-a-business/permits-and-licenses/appoint-a-fss/2015-01-01-appoint-a-fss-bottom-text.md %}{% endcapture %}
{{ intro | markdownify }}
{{ certificate | markdownify }}
{{ training | markdownify }}
{{ course | markdownify }}
<div class="feature-box">
  {{ feature | markdownify }}
  <a href="https://www.hosptrain.nsw.edu.au/cart/checkout" class="button">Apply now</a>
</div>
{{ bottom | markdownify }}
<a href="http://www.foodauthority.nsw.gov.au/_Documents/industry_pdf/certificate_request_form.pdf" class="button">Apply now</a>
