---
layout: three-column
title:  "Modify premises"
section: "Starting a business"
subsection: "Permits and Licenses"
---
<!-- {% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-summary.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-summary.2.md %}{% endcapture %}
{{ md_1 | markdownify }} -->



<h2>Modify premises</h2>

<p>You may need to get approval for modifications to your premises.</p>


<form id="modifyForm" action="{% post_url 2015-01-01-permits-and-licenses-workers-insurance %}" method="get" novalidate>

  <h5>Will you modify or fit out your premises?</h5>

  <div class="error-message hide" id="modifyErrorHolder">
    <p>Shop type input error.</p>
  </div>
    
  <div class="input-group checkbox-group">
    <input type="radio" name="modify" id="modifyYes" value="yes" error-message="Select an option." error-message-holder="modifyErrorHolder" required />
    <label for="modifyYes">No</label>

    <input type="radio" name="modify" id="modifyNo" value="no" required />
    <label for="modifyNo">Yes</label>
    
  </div>

  
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

<script src="/js/validation.js"></script>

<script>
$(function() {
  // form validation
  $('#modifyForm').alphaValidate();  
});
</script>


<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>
