{% capture md_intro_content %}{% include content/starting-a-business/questionnaire/summary/2015-01-01-questionnaire-summary-introtext.md %}{% endcapture %}
{% capture md_register_biz_title %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-title.md %}{% endcapture %}
{% capture md_employ_title %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-title.md %}{% endcapture %}


{{ md_intro_content | markdownify }}
<ul class="task-list">

    <li>
        <div class="task-title" data-toggle="collapse" data-target=".registerBusiness">
            <span class="title">{{ md_register_biz_title | markdownify }}</span>
            <span class="badge">1</span>
            <i class="fa fa-angle-down chevron"></i>
        </div>
        {% include my-task-list/tasks/registering-a-business/registering-a-business-1.html %}
    </li>

    {% if include.licenceComplete == true %}
        {% include my-task-list/tasks/licences-and-permits/licences-and-permits-2.html %}
    {% else %}
        {% include my-task-list/tasks/licences-and-permits/licences-and-permits-1.html %}
    {% endif %}

    <li>
        <div class="task-title" data-toggle="collapse" data-target=".employ-staff">
            <span class="title">{{ md_employ_title | markdownify }}</span>
            <span class="badge">1</span>
            <i class="fa fa-angle-down chevron"></i>
        </div>
        {% include my-task-list/tasks/employing-staff/employing-staff-1.html %}
    </li>

    {% if include.grantsComplete == true %}
        {% include my-task-list/tasks/grants-and-funding/grants-and-funding-2.html %}
    {% else %}
        {% include my-task-list/tasks/grants-and-funding/grants-and-funding-1.html %}
    {% endif %}
</ul>

<script>
    $(function() {
        {% if include.displayNotification == true %}
            DTO.Notifications.fadeIn();
        {% endif %}

        // what is this?!
        DTO.LocalStorage.storeValue(false);
    });
</script>