{% capture md_intro_content %}{% include content/starting-a-business/questionnaire/summary/2015-01-01-questionnaire-summary-introtext.md %}{% endcapture %}
{% capture md_register_biz_title %}{% include content/starting-a-business/questionnaire/summary/register/2015-01-01-questionnaire-summary-register-title.md %}{% endcapture %}
{% capture md_employ_title %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-title.md %}{% endcapture %}


{{ md_intro_content | markdownify }}
<ul class="task-list">

    <li>
        <div class="task-title" data-toggle="collapse" data-target=".register-business">
            <span class="title">{{ md_register_biz_title | markdownify }}</span>
            <span class="badge">1</span>
            <i class="fa fa-angle-down chevron"></i>
        </div>
        {% include my-task-list/tasks/registering-a-business/registering-a-business-1.html %}
    </li>

    <div id="licences1">
        {% include my-task-list/tasks/licences-and-permits/licences-and-permits-1.html %}
    </div>

    {% if include.scrollLicences %}
    <div class="anchor"></div>
    {% endif %}
    <div id="licences2" class="hide">
        {% include my-task-list/tasks/licences-and-permits/licences-and-permits-2.html %}
    </div>

    <li>
        <div class="task-title" data-toggle="collapse" data-target=".employ-staff">
            <span class="title">{{ md_employ_title | markdownify }}</span>
            <span class="badge">1</span>
            <i class="fa fa-angle-down chevron"></i>
        </div>
        {% include my-task-list/tasks/employing-staff/employing-staff-1.html %}
    </li>

    <div id="grants1">
        {% include my-task-list/tasks/grants-and-funding/grants-and-funding-1.html %}
    </div>

    {% if include.scrollGrants %}
    <div class="anchor"></div>
    {% endif %}
    <div id="grants2" class="hide">
        {% include my-task-list/tasks/grants-and-funding/grants-and-funding-2.html %}
    </div>
</ul>

<script>
    $(function() {

        var scrollToAnchor = function() {
            $('html, body').animate({
                scrollTop: $('.anchor').offset().top
            }, 1000);
        };

        var autoScroll = function(id) {
            $(id + ' .task-body').removeClass('collapse');
            $(id + ' .task-body').addClass('in');
            $(id + ' .task-title i').removeClass('fa-angle-down');
            $(id + ' .task-title i').addClass('fa-angle-up');

            scrollToAnchor();
        };

        var switchTasks = function(fromId, toId) {
            $(fromId).addClass('hide');
            $(toId).removeClass('hide');
        };

        var toggleTaskStates = function(state1Id, state2Id) {
            switchTasks(state1Id, state2Id);
        };

        {% if include.displayNotification == true %}
            DTO.Notifications.fadeIn();
        {% endif %}

        if (JSON.parse(localStorage.getItem('licenceComplete'))) {
            toggleTaskStates('#licences1', '#licences2');
        }

        {% if include.scrollLicences %}
            autoScroll('#licences2');
        {% endif %}

        if (JSON.parse(localStorage.getItem('grantsComplete'))) {
            toggleTaskStates('#grants1', '#grants2');
        }

        {% if include.scrollGrants %}
            autoScroll('#grants2');
        {% endif %}
    });
</script>

