{% capture md_intro_content %}{% include content/starting-a-business/questionnaire/summary/2015-01-01-questionnaire-summary-introtext.md %}{% endcapture %}
{% capture md_employ_title %}{% include content/starting-a-business/questionnaire/summary/employing/2015-01-01-questionnaire-summary-employing-title.md %}{% endcapture %}
<form></form>
{{ scrollRegistration }}

{{ md_intro_content | markdownify }}
<ul class="task-list">

  <div id="register1">
    {% include my-task-list/tasks/registering-a-business/registering-a-business-1.html %}
  </div>

  {% if include.scrollRegistration %}
  <div class="anchor"></div>
  {% endif %}
  <div id="register2" class="hide">
      {% include my-task-list/tasks/registering-a-business/registering-a-business-2.html %}
  </div>

  <div id="licences1">
      {% include my-task-list/tasks/licences-and-permits/licences-and-permits-1.html %}
  </div>

  {% if include.scrollLicences %}
  <div class="anchor"></div>
  {% endif %}
  <div id="licences2" class="hide">
      {% include my-task-list/tasks/licences-and-permits/licences-and-permits-2.html %}
  </div>

  {% include my-task-list/tasks/employing-staff/employing-staff-1.html %}

  <div id="grants1">
      {% include my-task-list/tasks/grants-and-funding/grants-and-funding-1.html %}
  </div>

  {% if include.scrollGrants %}
  <div class="anchor"></div>
  {% endif %}
  <div id="grants2" class="hide">
      {% include my-task-list/tasks/grants-and-funding/grants-and-funding-2.html %}
  </div>
</ul>

<script>
    $(function() {
        DTO.MyTaskList.init(['.permits', '.employ', '.register', '.grants']);

        if (JSON.parse(localStorage.getItem('registerComplete'))) {
            DTO.MyTaskList.switchVisibleTasks('#register1', '#register2');
        }

        if (JSON.parse(localStorage.getItem('licenceComplete'))) {
            DTO.MyTaskList.switchVisibleTasks('#licences1', '#licences2');
        }

        if (JSON.parse(localStorage.getItem('grantsComplete'))) {
            DTO.MyTaskList.switchVisibleTasks('#grants1', '#grants2');
        }

        {% if include.displayNotification == true %}
            DTO.Notifications.fadeIn();
        {% endif %}
    
        {% if include.scrollRegistration == true %}
            DTO.MyTaskList.autoScroll('.register');
        {% endif %}

        {% if include.scrollLicences == true %}
            DTO.MyTaskList.autoScroll('.permits');
        {% endif %}

        {% if include.scrollGrants == true %}
            DTO.MyTaskList.autoScroll('.grants');
        {% endif %}
    });
</script>

