---
layout: three-column
title:  "Starting a business"
description: "Starting a business section"
section: "Starting a business"
subsection: "Starting a business"
include_on_homepage: true
---
{% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-aboutyou.1.md %}{% endcapture %}
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-questionnaire-benefits %}" method="get">
    <div class="input-group">
        <div class="input-group checkbox-group" name="benefits">
            <input type="checkbox" name="benefits" id="austudy" />
            <label for="austudy">Austudy</label>

            <input type="checkbox" name="benefits" id="newstart" required />
            <label for="newstart">Newstart</label>

            <input type="checkbox" name="benefits" id="carerallowance" required />
            <label for="carerallowance">Carers' Allowance</label>

            <input type="checkbox" name="benefits" id="unknown" required />
            <label for="unknown">I'd rather not say</label>
        </div>
    </div>

    <p class="help-block">
        {% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-benefits.2.md %}{% endcapture %}
        {{ md_2 | markdownify }}
    </p>
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>
