---
layout: three-column
title:  "Starting a business"
section: "Questionnaire"
subsection: "Employing Staff"
---

{% capture md_intro %}{% include content/starting-a-business/questionnaire/Q4-employing-staff/2015-01-01-questionnaire-employing-introtext.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/questionnaire/Q4-employing-staff/2015-01-01-questionnaire-employing-helptext.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/questionnaire/Q4-employing-staff/2015-01-01-questionnaire-employing-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/questionnaire/Q4-employing-staff/2015-01-01-questionnaire-employing-errorheading.md %}{% endcapture %}

<p class="steps">4 of 4</p>
{{ md_intro | markdownify }}

<div class="help-block">
    {{ md_help | markdownify }}
</div>

<form action="{% post_url 2015-01-01-questionnaire-summary %}" method="get" id="hiringForm" novalidate>
  <div class="error-message hide" id="modifyErrorHolder">
    <p> {{md_errorheading}}</p>
  </div>
    <div class="input-group radio-btn-group">
      <fieldset><legend class="hidden-text">{{ md_intro | split:'?' | first | replace:'#'}}?</legend>
        <input id="yes" name="employees" type="radio" value="Yes"
               error-message="{{ md_errortext1 }}" error-message-holder="modifyErrorHolder" required />
        <label for="yes">Yes</label>
        <input id="no" name="employees" type="radio" value="No" />
        <label for="no">No</label>
        <input id="notSure" name="employees" type="radio" value="Not sure" />
        <label for="notSure">Not sure</label>
      </fieldset>
    </div>

    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>

{% js 'validation.js' %}
<script>
  $(function() {
    $('#hiringForm').alphaValidate();
    });
</script>