---
layout: three-column
title:  "Starting a business"
description: "Starting a business section"
section: "Starting a business"
subsection: "Starting a business"
include_on_homepage: true
---
{% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-aboutyou.1.md %}{% endcapture %}
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-questionnaire-benefits %}" method="get">
    <div class="input-group">
        <label>Do you live in rural / remote Australia?</label>
        <div class="input-group radio-btn-group" name="location">
            <input type="radio" name="location" id="yes" />
            <label for="yes">Yes</label>

            <input type="radio" name="location" id="no" required />
            <label for="no">No</label>

            <input type="radio" name="location" id="unknown" required />
            <label for="unknown">I'd rather not say</label>
        </div>
    </div>

    <p class="help-block">
        {% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-location.2.md %}{% endcapture %}
        {{ md_2 | markdownify }}
    </p>
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>