---
layout: three-column
title:  "Starting a business"
section: "Starting a business"
subsection: "Questionnaire"
---
{% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-aboutyourbusiness.1.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-activities.2.md %}{% endcapture %}

<span style="padding-left: 1%;
    width: 10%;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;">0%</span>

<div class="progress-container">
    <div class="progress pull-left">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
            <span class="sr-only">0% Complete</span>
        </div>
    </div>
</div>
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-questionnaire-selling-where %}" method="get">
    <div class="input-group">
        <label>What are your main business activities?</label>
        <div class="input-group">
            <input placeholder="My business will ..." name="activities" id="activities" type="text" />
        </div>
    </div>
    <div class="help-block">
        {{ md_2 | markdownify }}
    </div>
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>
