---
layout: questionnaire
title:  "Questionnaire"
section: "Starting a business"
subsection: "Business Location"
questionnaire_incomplete: "true"
categories: [starting-a-business]
screen_help: "This screen is for demonstration purposes and shows that the registered address of Bobbi’s business is the location of the business in <strong>Macquarie Street, Parramatta.</strong>"
---

{% capture md_intro %}{% include content/starting-a-business/questionnaire/Q3-business-location/2015-01-01-questionnaire-location-introtext.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/questionnaire/Q3-business-location/2015-01-01-questionnaire-location-helptext.md %}{% endcapture %}
{% capture md_label %}{% include content/starting-a-business/questionnaire/Q3-business-location/2015-01-01-questionnaire-location-labeltext.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/questionnaire/Q3-business-location/2015-01-01-questionnaire-location-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/questionnaire/Q3-business-location/2015-01-01-questionnaire-location-errorheading.md %}{% endcapture %}

<p class="steps">3 of 4</p>
{{ md_intro | markdownify }}

<div class="help-block">
  {{ md_help | markdownify }}
</div>

<form action="{% post_url 2015-01-01-questionnaire-hiring %}" method="get" id="locationForm" novalidate>
  <div class="error-message hide" id="modifyErrorHolder">
    <p> {{md_errorheading}}</p>
  </div>
  <div class="input-group">
    <input type="hidden" id="street_number"/>
    <label for="business-location" class="hidden-text">{{ md_label }}</label>
    <!--Please leave placeholders empty as we don't want placeholder text appearing.-->
    <input placeholder="" id="business-location" class="auto-complete" name="business-location" type="text" error-message="{{ md_errortext1 }}" error-message-holder="modifyErrorHolder" required />
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

{% js 'validation.js' %}
<script>
  $(function() {
    $('#locationForm').alphaValidate();
});
</script>
