---
layout: three-column
title:  "Starting a business"
description: "Starting a business section"
section: "Starting a business"
subsection: "Starting a business"
include_on_homepage: true
---
{% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-gender.1.md %}{% endcapture %}
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-questionnaire-disability %}" method="get">
    <div class="input-group">
        <label>What is your gender?</label>
        <div class="input-group radio-btn-group" name="yourgender">
            <input type="radio" name="gender" id="genderFemale" />
            <label for="genderFemale">Female</label>

            <input type="radio" name="gender" id="genderMale" required />
            <label for="genderMale">Male</label>

            <input type="radio" name="gender" id="genderOther" required />
            <label for="genderOther">Other</label>
        </div>
    </div>

    {% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-gender.2.md %}{% endcapture %}
    {{ md_2 | markdownify }}
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>