---
layout: three-column
title:  "Starting a business"
section: "Questionnaire"
subsection: "Store Type"
---

{% capture md_1 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-introtext.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-helptext.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext1.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext2.md %}{% endcapture %}
{% capture md_5 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext3.md %}{% endcapture %}

<p class="steps">2 of 4</p>
{{ md_1 | markdownify }}

<div class="help-block">
  {{ md_2 | markdownify }}
</div>
  
<form action="{% post_url 2015-01-01-questionnaire-bizlocation %}" method="get">
  <div class="input-group checkbox-group">
      <input id="online" name="source" type="checkbox" value="Online" />
      <label for="online">{{ md_3 }}</label>

      <input id="shop" name="source" type="checkbox" value="In a shop" />
      <label for="shop">{{ md_4 }}</label>

      <input id="other" name="source" type="checkbox" value="other" />
      <label for="other">{{ md_5 }}</label>
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

<script>
  $(function() {
    DTO.Forms.MockPersistence.setTextContentOfSpanElements();
  });
</script>