---
layout: questionnaire
title:  "Questionnaire"
section: "Starting a business"
subsection: "Store Type"
questionnaire_incomplete: "true"
categories: [starting-a-business]
screen_help: "This screen is for demonstration purposes and shows that Matt’s business is in a shop but to trade online she’ll need to select <strong>Online</strong> from the list."
---

{% capture md_intro %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-introtext.md %}{% endcapture %}
{% capture md_label1 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext1.md %}{% endcapture %}
{% capture md_label2 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext2.md %}{% endcapture %}
{% capture md_label3 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-labeltext3.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/questionnaire/Q2-store-type/2015-01-01-questionnaire-store-errorheading.md %}{% endcapture %}

<p class="steps">2 of 4</p>
{{ md_intro | markdownify }}

<div class="help-block">
</div>

<form action="{% post_url 2015-01-01-questionnaire-bizlocation %}" method="get" id="typeForm" novalidate>
  <fieldset>
    <legend class="hidden-text">{{ md_intro | split:'?' | first | replace:'#'}}?</legend>
    <div class="input-group checkbox-group">
    <div class="error-message hide" id="modifyErrorHolder">
      <p> {{md_errorheading}}</p>
    </div>

    <input id="online" name="source" type="checkbox" value="Online"
           data-error-message="{{ md_errortext1 }}" data-error-message-holder="modifyErrorHolder" required />
    <label for="online">{{ md_label1 }}</label>

    <input id="shop" name="source" type="checkbox" value="In a shop" />
    <label for="shop">Shop</label>

    <input id="pop-up" name="source" type="checkbox" value="In a pop-up shop" />
    <label for="pop-up">Pop-up shop</label>

    <input id="home" name="source" type="checkbox" value="In a home office" />
    <label for="home">Home</label>

    <input id="office" name="source" type="checkbox" value="In a commercial office" />
    <label for="office">Office</label>

    <a href="#">Show all options</a>
  </div>

  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
  </fieldset>
</form>

{% js 'validation.js' %}
<script>
  $(function() {
    $('#typeForm').alphaValidate();
  });
</script>
