---
layout: three-column
title:  "Starting a business"
description: "Starting a business section"
section: "Starting a business"
subsection: "Starting a business"
include_on_homepage: true
---
{% capture md_1 %}{% include content/starting-a-business/questionnaire/2015-01-01-aboutyou.1.md %}{% endcapture %}
{{ md_1 | markdownify }}
<form action="{% post_url 2015-01-01-questionnaire-heritage %}" method="get">
    <div class="input-group">
        <label>Are you of indigenous heritage?</label>
        <div class="input-group radio-btn-group" name="heritage">
            <input type="radio" name="heritage" id="yes" />
            <label for="yes">Yes</label>

            <input type="radio" name="heritage" id="no" required />
            <label for="no">No</label>

            <input type="radio" name="heritage" id="unknown" required />
            <label for="unknown">I'd rather not say</label>
        </div>
    </div>

    {% capture md_2 %}{% include content/starting-a-business/questionnaire/2015-01-01-heritage.2.md %}{% endcapture %}
    {{ md_2 | markdownify }}
    <div class="input-group">
        <button id="next" type="submit" class="icon-next">Next</button>
    </div>
</form>