---
layout: three-column
title:  "Starting a business"
section: "Questionnaire"
subsection: "Activities"
---

{% capture md_intro %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-introtext.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-helptext.md %}{% endcapture %}
{% capture md_labeltext %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-labeltext.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-errorheading.md %}{% endcapture %}

<p class="steps">1 of 4</p>
{{ md_intro | markdownify }}
<div class="help-block">
  {{ md_help | markdownify }}
</div>
<form id="activitiesForm" action="{% post_url 2015-01-01-questionnaire-selling-where %}" method="get" novalidate>
  <input type="hidden" name="sectionName" id="sectionName" value="business"/>
  <div class="error-message hide" id="activitiesErrorHolder">
    <p> {{md_errorheading}}</p>
  </div>
  <div class="input-group">
    <div class="ui search input-group">
      <label for="activities" class="sr-only">{{ md_3 }}</label>
      <input name="activities" id="activities-1" data-count="1" type="text" class="entry prompt" error-message="{{ md_errortext1 }}" error-message-holder="activitiesErrorHolder" required />
    </div>
    <div class="input-group add-more">
      <a href="#" class="add-more" disabled>Add more activities</a>
    </div>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
  $(function () {
    DTO.Forms.TextInputLists.init([
      { title: 'Clothing accessory retailing', description: 'Clothing Retailing' },
      { title: 'Clothing retailing', description: 'Clothing Retailing' },
      { title: 'Foundation garment retailing', description: 'Clothing Retailing' },
      { title: 'Fur clothing retailing', description: 'Clothing Retailing' },
      { title: 'Glove retailing', description: 'Clothing Retailing' },
      { title: 'Hosiery retailing', description: 'Clothing Retailing' },
      { title: 'Leather clothing retailing', description: 'Clothing Retailing' },
      { title: 'Millinery retailing', description: 'Clothing Retailing' },
      { title: 'Sports clothing retailing', description: 'Clothing Retailing' },
      { title: 'Work clothing retailing', description: 'Clothing Retailing' },
      { title: 'Bar operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Hotel bar operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Night club operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Pub operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Tavern operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Wine bar operation', description: 'Pubs, Taverns and Bars'},
      { title: 'Cafe operation', description: 'Cafes and Restaurants'},
      { title: 'Restaurant operation', description: 'Cafes and Restaurants'},
      { title: 'Serving alcohol', description: 'Cafes, Pubs, Taverns and Bars'}
    ]);

    

    $('#activitiesForm').alphaValidate();
  });
</script>
