---
layout: three-column
title:  "Starting a business"
section: "Questionnaire"
subsection: "Activities"
---

{% capture md_intro %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-introtext.md %}{% endcapture %}
{% capture md_help %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-helptext.md %}{% endcapture %}
{% capture md_labeltext %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-labeltext.md %}{% endcapture %}
{% capture md_errortext1 %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-errortext1.md %}{% endcapture %}
{% capture md_errorheading %}{% include content/starting-a-business/questionnaire/Q1-activities/2015-01-01-questionnaire-activities-errorheading.md %}{% endcapture %}

<p class="steps">1 of 4</p>
{{ md_intro | markdownify }}
<div class="help-block">
  {{ md_help | markdownify }}
</div>
<form id="activitiesForm" action="{% post_url 2015-01-01-questionnaire-selling-where %}" method="get" novalidate>
  <input type="hidden" name="sectionName" id="sectionName" value="business"/>
  <div class="error-message hide" id="modifyErrorHolder">
    <p> {{md_errorheading}}</p>
  </div>
  <div class="input-group">
    <div class="ui search input-group">
      <label for="activities" class="sr-only">{{ md_3 }}</label>
      <input name="activities" id="activities"  type="text" class="entry prompt" />
    </div>
    <div class="input-group add-more">
      <i class="fa fa-plus-circle"></i>&nbsp; <a href="#">Add more activities</a>
    </div>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>
<script src="/js/validation.js"></script>
<script>
  $(function () {
    $('#activitiesForm').alphaValidate();
    DTO.LocalStorage.storeValue(true);
  });
</script>
