---
layout: default
---

<div class="post">

  <div class="breadcrumbs col-xs-12 col-md-7">
    <p><a href="#">Home</a><i class="fa fa-angle-right"></i><a href="#">Working, jobs and plan your retirement pensions</a><i class="fa fa-angle-right"></i><a href="#">Workplace and personal pensions</a><i class="fa fa-angle-right"></i>Working after retirement
  </div>

  <div class="container">
    <div class="column main-col col-xs-12 col-md-6">
      <div class="row page-content">{{ content }}</div>
    </div>

    <div class="col-md-1"></div>

    <div class="column side-bar col-xs-12 col-md-3 col-md-offset-1">
      <h5>Workplace and personal pensions</h5>
      <p><a href="#">Tax when you get a pension</a>
      <p><a href="#">Types of private pensions</a>
      <p><a href="#">Early retirement and your pension</a>
      <p><a href="#">More in workplace and personal pensions</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Working, jobs and pensions</h5>
      <p><a href="#">National insurance and tax after pension age</a>
      <p><a href="#">Pension calculator</a>
      <p><a href="#">More in working, jobs and pensions</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Elsewhere on GOV.AU</h5>
      <p><a href="#">Moving or retiring abroad</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
