---
layout: three-column
title:  "Starting a business"
description: "Starting a business section"
section: "Starting a business"
subsection: "Starting a business"
include_on_homepage: true
---
{% capture md_1 %}{% include content/starting-a-business/2015-01-01-index.1.md %}{% endcapture %}
{{ md_1 | markdownify }}
<a href="#" class="button icon-next">Help me explore</a>
{% capture md_2 %}{% include content/starting-a-business/2015-01-01-index.2.md %}{% endcapture %}
{{ md_2 | markdownify }}
<a href="/starting-a-business/registration/index.html" class="button icon-next">Take me there now</a>
