#bushfire-alert {
   font-weight: normal;
   text-align: center;
   background-color: #F8E71C;
   padding: 20px;
   .fa-times-circle {
     float: right;
     font-size: 24px;
     line-height: 25px;
   }
   .fa-exclamation-triangle {
     font-size: 47px;
     line-height: 48px;
     display: block;
     clear: both;
     padding-top: 20px;
   }
   img {
     border: solid 4px white;
     margin-top: 20px;
   }
   h1 {
     margin-bottom: 5px;
   }
   h2 {
     margin-bottom: 0px;
     font-size: 24px;
     font-weight: normal;
   }
   p {
     margin-bottom: 0px;
   }
   p.narrow-para {
     padding: 20px;
   }
   .fa-external-link {
     padding-left:5px;
   }
   p.updates-link {
     padding-bottom: 30px;
     margin-bottom: 20px;
     border-bottom: solid 6px $text-color;
   }
}
