
#coat-of-arms {
  height: 120px;
}

footer {
  font-size: 14px;
  background: $primary-text-colour;
  padding-top: $default-padding;
  padding-bottom: $default-padding/2;

  ul li {
    padding-left: 0;

    a {
      text-decoration: none;
      color: white;
    }
  }

  #images {
    text-align: center;

    img {
      padding: 8px;
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover, &:focus, &:active {
      color: white;
      text-decoration: underline;
    }

    &:visited {
      color: white;
      background-color: $primary-text-colour;
    }
  }
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  line-height: $line-height-base;
}


  footer #images #coat-of-arms {
    height: 76px;
  }
.ie8 footer #images #coat-of-arms {
  width: 150px;
}

@media only screen and (min-width: 960px) {

  footer {
    margin: 1em 0 0 0;
  }

  footer li {
    display: inline-block;
    padding: 0.1em 0;
    margin: 0.4em 0.5em 0.4em 0.5em;
  }

  footer li:last-child {
    margin: 0.4em 0 0.4em 0.5em;
  }

  footer li:first-child {
    margin: 0.4em 0.5em 0.4em 0;
  }
}
