.intro {
  h1 {
    font-weight: 100;
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 20px;
    padding: 0px;
  }

  [class*="col-"]{
    padding: 40px 20px;
  }

  p {
    font-size: 22px;
    margin-bottom: 30px;
  }
}
