
.intro {
  color: #fff;
  background-color: $primary-colour;
  background-image: linear-gradient(-90deg, $primary-colour , $primary-dark-colour);
  background: $primary-colour;
  background: linear-gradient(-90deg, $primary-colour, $primary-dark-colour);
}

.intro {

  .section-nav {
    border-bottom: 1px dotted #fff;

    a, a:visited, a:hover {
      color: #fff;
    }
  }
}

.intro {

  .intro-body {
    padding: 40px 20px;
  }
}

.intro h1 {
    font-weight: 100;
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 35px;
    margin-top: 0px;
    padding: 0px;
}

.intro-body > p {
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.15px;
}


.intro {
  margin-bottom: 30px;
  padding: 0;
}

.intro .container {
  padding: 0;
}
