
.intro {
  color: #fff;
  background-color: $primary-color;
  background-image: linear-gradient(-90deg, $primary-color , $primary-dark-color);
  background: $primary-color;
  background: linear-gradient(-90deg, $primary-color, $primary-dark-color);

}

.intro > .section-nav {
  border-bottom: 1px dotted #fff;

  a, a:visited, a:hover {
    color: #fff;
  }
}

.intro > .intro-body {
  padding: 20px;
}

.intro h1 {
    font-weight: 100;
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 35px;
    margin-top: 0px;
    padding: 0px;
}

.intro p {
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.15px;
}