.fa-twitter-square, .fa-instagram, .fa-facebook-square {
  color: $contrast-text-colour;
  padding-right: 5px;
}

.social-box {
  background-color: $contrast-background-colour;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  word-break: break-word;
  //makes youtube iframe height responsive
  .video-container {
    position: relative;
    padding-bottom: 48.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border:none;
    }
  }
  p {
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 28px;
  }

  h1 {
    line-height: 33px;
    font-size: 24px;

    i {
      padding-right: 10px;
      font-size: 30px;
      color: $contrast-text-colour;
      line-height: 30px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 33px;
    margin-top: 0px;

    a {
      color: black;
      line-height: 22px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  small.handle {
    font-weight: bold;
  }

  i.fa-circle {
    color: $primary-text-colour;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 6px;
    line-height: 20px;
  }

  img {
    width: 100%;
  }

  .icon {
    width: 25px;
  }
}

.social-box h1 {
  line-height: 33px;
  font-size: 24px;
}

.social-box h3 a {
  color: black;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
}

.social-box i.fa-retweet {
  padding-right: 5px;
  line-height: 20px;
  font-size: 16px;
  color: $button-hover-colour;
}

.social-box span.handle {
  font-weight: bold;
}

.social-box i.fa-circle {
  color: $primary-text-colour;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 6px;
  line-height: 20px;
}
