---
layout: questionnaire
title:  "Funding and support"
section: "Starting a business"
subsection: "Questionnaire"
categories: [funding-and-support]
---
{% capture md_intro %}{% include content/starting-a-business/funding-and-support/2015-01-01-metcriteria-intro.1.md %}{% endcapture %}

{% capture md_indigenous %}{% include content/starting-a-business/funding-and-support/2015-01-01-metcriteria-fieldtext-indigenous.md %}{% endcapture %}
{% capture md_gender %}{% include content/starting-a-business/funding-and-support/2015-01-01-metcriteria-fieldtext-gender.md %}{% endcapture %}
{% capture md_disability %}{% include content/starting-a-business/funding-and-support/2015-01-01-metcriteria-fieldtext-disability.md %}{% endcapture %}
{% capture md_rural %}{% include content/starting-a-business/funding-and-support/2015-01-01-metcriteria-fieldtext-rural.md %}{% endcapture %}

  {{ md_intro | markdownify }}
<div class="help-block">

</div>
<form action="{% post_url 2015-01-01-funding-and-support-task-list %}" method="get" id="indigenousForm" novalidate>

  <div class="input-group radio-btn-group">
    <fieldset><legend class="hidden-text">{{ md_intro | split:'?' | first | replace:'#'}}?</legend>

      <input type="hidden" name="sectionName" id="sectionName" value="grants" />
    <input type="checkbox" name="rural" id="rural" value="Yes" />
    <label for="rural"> {{ md_rural }} </label>
    <div class="fieldDescription"></div>

    <input type="checkbox" name="indigenous" id="indigenous" value="Yes" />
    <label for="indigenous"> {{ md_indigenous }} </label>
    <div class="fieldDescription"></div>

    <input type="checkbox" name="gender" id="gender" value="Yes" />
    <label for="gender"> {{ md_gender }} </label>
    <div class="fieldDescription"></div>

    <input type="checkbox" name="disability" id="disability" value="Yes" />
    <label for="disability"> {{ md_disability }} </label>
    <div class="fieldDescription"></div>
</fieldset>
  </div>
  <div class="input-group">
    <button id="next" type="submit" class="icon-next">Next</button>
  </div>
</form>

<script>
  $(function() {
    DTO.LocalStorage.storeValue(true);

    $('#next').click(function () {
      localStorage.setItem('grantsComplete', true);
    });
  });
</script>
