---
layout: default
---
{% include breadcrumbs.html %}

<div class="page-content container post article">
  <div class="column side-bar col-md-4">
    </div>
    <div class="column main-col col-xs-12 col-md-8">
          <div class="backbar"><span class="fa fa-angle-left"></span>&nbsp;<a href="#" id="globalBackBtn1" class="back" onclick="history.go(-1);">Back</a>
            <div class="print visible-md-block visible-lg-block"><a href="#" onclick="window.print();">Print this page</a> <span class="fa fa-print"></span></div>
          </div>
      <div class="row page-content">
        <p class="article-heading">{{ page.title }} </p>
        <hr />
        <!-- <p class="date-type">{{ page.date_published }} / <span>{{ page.type }}</span></p> -->
      </div>
      <div class="row page-content">
        {% if page.section %}
          <p class="section-header">{{ page.section }}</p>
        {% endif %}
          
        {{ content }}
        <hr />
      </div>
    </div>
</div>
