---
layout: default
---
{% include breadcrumbs.html %}

<div class="page-content container post article">
  <div class="column main-col col-xs-12">
    <div class="backbar">
      <span class="fa fa-angle-left">
      </span>&nbsp;
      <a href="#" class="globalBackBtn back">Back</a>
      <div class="print visible-md-block visible-lg-block"><a href="#" onclick="window.print();">Print this page</a>
        <span class="fa fa-print"></span>
      </div>
    </div>

    <div class="row page-content">
      <h1>{{ page.title }} </h1>
      <hr/>
    </div>

    <div class="row page-content" id="article">
      {% if page.section %}
        <p class="section-header">{{ page.section }}</p>
      {% endif %}

      {{ content | markdownify }}
      <hr />
    </div>
  </div>
</div>
