<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <header class="page-header">
      <div class="container">
        <div>
           <span class="subtitle-row"></span>
           <span class="subtitle">Agency identifier goes here across one or two lines</span>
        </div>
      </div>
    </header>

    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
