---
layout: default
---
<div class="post">

  <div class="container">
    <div class="column main-col col-xs-12 col-md-7">

      <div class="sg__colour--text" style="color: white;">text colour</div>
      <div class="sg__colour--light-grey">light grey colour</div>
      <div class="sg__colour--brand">brand colour</div>
      <div class="sg__colour--primary-alt">primary alt colour</div>
      <div class="sg__colour--primary-alt-darkest">primary alt darkest colour</div>
      <div class="sg__colour--primary-alt-dark">primary alt dark colour</div>
      <div class="sg__colour--primary-alt-light">primary alt light colour</div>
      <div class="sg__colour--primary-alt-lightest">primary alt lightest colour</div>

    <div class="row page-content">{{ content }}</div>

    </div>

    <div class="column side-bar col-xs-12 col-md-3 col-md-offset-1">
      <h5>Some links here</h5>
      <p><a href="#">A link</a>
      <p><a href="#">Another link</a>
      <p><a href="#">Some third link</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Some second link cluster</h5>
      <p><a href="#">Links here too</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
