---
layout: default
---
<div class="post">

  <div class="breadcrumbs col-xs-12 col-md-7">
    <p><a href="#">Home</a><i class="fa fa-angle-right"></i><a href="#">Working, jobs and plan your retirement pensions</a><i class="fa fa-angle-right"></i><a href="#">Workplace and personal pensions</a><i class="fa fa-angle-right"></i>Workplace and personal pension
  </div>

  <div class="container">
    <div class="column main-col col-xs-12 col-md-7">
      <div class="row blue-box">
        <h1>Plan your retirement income for when you'll get older</h1>
        <ol>
          <li>Overview</li>
          <li><a href="#">Your pension options</a></li>
          <li><a href="#">Private pension schemes</a></li>
          <li><a href="#">Pensions from the government</a></li>
          <li><a href="#">Working past pension age</a></li>
          <li><a href="#">Get financial advice</a></li>
        </ol>
        <small>Last updated: 14 October 2015</small>
      </div>

      <div class="row page-content">{{ content }}</div>

      <div class="row navigation">
        <div class="column back col-xs-2 col-sm-6 col-md-6">
          <p class="direction hidden-xs">Back
          <p><a href="#"><i class="fa fa-arrow-left"></i><span class="hidden-xs">When long name this happ...</span></a>
        </div>
        <div class="column next col-xs-10 col-sm-6 col-md-6">
          <p class="direction">Next
          <p><a href="#">Your pension options<i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

    <div class="column side-bar col-xs-12 col-md-3 col-md-offset-1">
      <h5>Workplace and personal pensions</h5>
      <p><a href="#">Tax when you get a pension</a>
      <p><a href="#">Types of private pensions</a>
      <p><a href="#">Early retirement and your pension</a>
      <p><a href="#">More in workplace and personal pensions</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Working, jobs and pensions</h5>
      <p><a href="#">National insurance and tax after pension age</a>
      <p><a href="#">Pension calculator</a>
      <p><a href="#">More in working, jobs and pensions</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
      <br/><br/>
      <h5>Elsewhere on GOV.AU</h5>
      <p><a href="#">Moving or retiring abroad</a>
      <p><a href="#" class="more">More<i class="fa fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
