---
layout: default
---

{% if page.has_overlay %}
{% include overlay-template.html %}
{% endif %}

<div class="questionnaire">
  {% include breadcrumbs.html %}
  <div class="container">
    <div class="row">

      <div class="col-xs-12 hidden-sm hidden-lg hidden-md">
        <div class="section-nav">
          <span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a>
          {% if page.subsection != "Your details" and page.subsection != "Visas" %}
          <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 hidden-sm hidden-xs page-content">
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="success-message notification saved fade out hidden-md hidden-lg">
          <p>
            <i class="fa fa-times pull-right"></i>
            Your answers have been saved.
          </p>
        </div>
        <div class="information-message fade out col-lg-5">
          <div class="information-status">
            <i class="fa fa-times pull-right"></i>
            <span></span>
          </div>
        </div>
        <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-12 form-container page-content">
            <p class="hidden-xs"><span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a></p>
            <div class="border">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      {% if page.subsection != "Your details" and page.subsection != "Visas" %}

      <div class="col-lg-3 hidden-sm hidden-xs page-content">
        <div class="success-message notification saved fade out side-bar-success">
          <p>
            <i class="fa fa-times pull-right"></i>
            Your answers have been saved.
          </p>
        </div>
        <ul id="taskList" class="task-list">
          <li>
            <div id="your-details-sidebar">
              <div class="task-title your-details-sidebar closed">
                <p>Your details</p>
              </div>
              <div class="task-body task-body-content your-details-sidebar closed">
                <div id="cardHolder" >
                  <!-- dynamic content goes here -->
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    {% endif %}
    </div>
  </div>
</div>


<script>

  $(function() {
    DTO.MyTaskList.init(['.your-details-sidebar'], { slideToggleSpeed: 'fast', pageScrollSpeed: 1000 });
  });

  $(function() {
    $.getJSON( '{% asset_path "localStorageMap.json" %}', function( data ) {

      var o = null, n = null;
      var storageObj = null;
      var dataType = null;

      for (o in data) {
        storageObj = JSON.parse(localStorage.getItem(o));
        if (storageObj)
        {
          if (data[o]['section-title'] !== undefined && data[o]['section-title'] !== null) {
            renderSectionTitle(data[o]['section-title']);
          }
          for (n in data[o])
          {
            if (storageObj[n] === undefined && storageObj[n] !== null)
            {
              storageObj[n] = data[o][n]['default'];
            }

            if( Object.prototype.toString.call( data[o][n]['default'] ) === '[object Array]' )
            {
              if (storageObj[n].constructor !== Array)
              {
                storageObj[n] = storageObj[n].split(',');
              }
              if (storageObj[n].length > 0)
              {
                renderMultiple(storageObj[n],data[o][n]);
              }
            }
            else
            {
              if (storageObj[n])
              {
                if (data[o][n]['isDate'] !== undefined) {
                  storageObj[n] = storageObj[n].replace(/,/g,'/');
                  storageObj[n] = storageObj[n].replace(/ /g,'');
                }
                renderSingle(storageObj[n],data[o][n]);
              }
            }
          }
        }
      }
    });

  function renderSectionTitle(title) {
    var renderHTML = '<h2>'+title+'</h2>';
    $(renderHTML).appendTo('#cardHolder');
  }

    function renderSingle(storageVal,mapObj)
    {
      var warnClass = '', changeText = 'Change answer';
      if (!storageVal) {
        warnClass = ' warn';
        storageVal = '-';
        changeText = 'Add answer';
      }
      var renderHTML = '<div class="'+warnClass+'">';
      renderHTML += '<div>';
      renderHTML += '<h3>'+mapObj['title']+'</h3>';
      renderHTML += '<div class="single-container"><p>'+storageVal+'</p>';
      renderHTML += '</div>';
      renderHTML += '</div>';
      $(renderHTML).appendTo('#cardHolder');
    }

    function renderMultiple(storageArr,mapObj)
    {
      var warnClass = '', changeText = 'Change answer';
      var holderClass = 'multi-container';
      var renderHTML = '';
      var topBorderClass = ' no-top-border';
      var i = 0;
      if (storageArr.length === 0) {
        warnClass = ' warn';
        storageArr[0] = '-';
        changeText = 'Add answer';
        holderClass = 'single-container';
      }
      else if (storageArr.length == 1)
      {
        holderClass = 'single-container';
      }
      renderHTML = '<div class="'+warnClass+'">';
      renderHTML += '<div>';
      renderHTML += '<h3>'+mapObj['title']+'</h3>';
      for (i=0;i<storageArr.length;i++)
      {
        if (storageArr[i].trim().length > 0)
        {
          renderHTML += '<div class="'+holderClass+topBorderClass+'"><p>'+storageArr[i]+'</p>';
          renderHTML += '<a href="#" class="change">'+changeText+'</a></div>';
          topBorderClass = '';
        }
      }
      renderHTML += '</div>';
      renderHTML += '</div>';
      $(renderHTML).appendTo('#cardHolder');
    }
  });
</script>
