---
layout: default
---

{% if page.has_overlay %}
{% include overlay-template.html %}
{% endif %}

<div class="questionnaire">
  {% include breadcrumbs.html %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12 hidden-lg hidden-md section-nav">
        <span class="fa fa-angle-left"></span>&nbsp;<a href="#" id="globalBackBtn1" class="back">Back</a>
        {% if page.subsection != "Your details" %}

        <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>

        {% endif %}

      </div>

    </div>

    <div class="row">
      <div class="col-lg-3 hidden-sm hidden-xs page-content">
        <ul class="helpful-links-sidebar">
          <li><a href="/">Home</a></li>
          <li><a href="#">Guide</a></li>
          <li><a href="starting-a-business/registration/registration-form.html">Business Name</a></li>
          <li><a href="#">Business Structure</a></li>
          <li><a href="#">Tax</a></li>
          <li><a href="#">Protection</a></li>
          <li><a href="starting-a-business/hiring-staff/hiring-index.html">Employees</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="success-message notification saved fade out">
          <p>
            <i class="fa fa-times pull-right"></i>
            Your answers have been saved.
          </p>
        </div>
        <div class="information-message fade out">
          <div class="information-status">
            <i class="fa fa-times pull-right"></i>
            <span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 form-container page-content">
            <div class="border">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 hidden-sm hidden-xs page-content">
        <ul id="taskList" class="task-list">
          <li>
            <div id="register1">
              <div class="task-title your-details-sidebar">
                <p>Your details</p>
              </div>
              <div class="task-body task-body-content your-details-sidebar ">
                <div>
                  <p>About your business</p>
                  <p>I want to start a cheese business that imports french premium cheese.</p>
                  <a href="#">Change Answer</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#clearLocal').click(function () {
      localStorage.clear();
    });
  });

  $(function() {
    $('.back').click(function(e, i) {
      e.preventDefault();
      window.history.back();
    })
  })

  $(function() {

    DTO.MyTaskList.init(['.your-details-sidebar'], { slideToggleSpeed: 'fast', pageScrollSpeed: 1000 });

  });

</script>
