---
layout: default
---
{% include breadcrumbs.html %}

  <!-- Idiomatic intro markup block -->
<div class="container-fluid intro">
  <div class="container">
    <div class="col-sm-12">
      <div class="section-nav">
        <span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" class="globalBackBtn back">Back</a>
      </div>
    </div>
    <div class="col-sm-12 intro-body">
      {% capture md_questionnaire_content %}{% include
      content/starting-a-business/questionnaire/introduction/2015-01-01-questionnaire-intro-introtext.md %}{% endcapture
      %}
      {{ md_questionnaire_content | markdownify }}

      <a href="{% post_url 2015-01-01-questionnaire-activities %}" class="button icon-next">
        Start a business
        <i class="fa fa-icon-next"></i>
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-content">
    <div class="row">
      <div class="col-xs-12 col-sm-12 form-container">
        <div class="anchor"></div>
        {{ content }}
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    $('#the-link').click(function () {
      $('html, body').animate({
        scrollTop: $('.anchor').offset().top
      }, 1000);
    });
  });
</script>
