---
layout: default
---
{% include breadcrumbs.html %}

<div class="container-fluid intro">
  <div class="container">
    <div class="col-sm-12">
      <div class="section-nav">
        <span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" class="globalBackBtn back">Back</a>
      </div>
    </div>

    <div class="col-sm-12 intro-body">
      {% capture md_visa_approved_title %}{% include content/starting-a-business/hiring-staff/visa-approved/2015-01-01-visa-approval-task-title.md %}{% endcapture %}
      {{ md_visa_approved_title | markdownify }}
      {% capture md_visa_approved_button %}{% include content/starting-a-business/hiring-staff/visa-approved/2015-01-01-visa-approved-button.md %}{% endcapture %}
      <a href="#" class="button">{{ md_visa_approved_button }}</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="page-content">
    <div class="row">
      <div class="col-sm-12 form-container">
        {{ content }}
      </div>
    </div>
  </div>
</div>
