---
layout: default
---
{% capture md_2 %}{% include content/starting-a-business/grants-and-funding/2015-01-01-links-list.md %}{% endcapture %}

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>
          <a href="#">Home</a><i class="fa fa-angle-right"></i>
          {% if page.section %}
          <a href="#">{{ page.section }}</a><i class="fa fa-angle-right"></i>
          {% endif %}
          {{ page.title }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="intro section-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <a href="#" id="globalBackBtn" class="back">Back</a>
      </div>
      <div class="col-xs-6 col-md-6">
        <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="summary" id="summary">Your details</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="questionnaire-intro intro column">
      {{ content }}
    </div>
    <div class="links-list">
      {{ md_2 | markdownify }}
    </div>
  </div>
</div>

<script>

</script>