---
layout: default
---

<div class="container">
  {% include breadcrumbs.html %}
  <div class="row intro">
    <div class="section-nav">
      <span class="fa fa-angle-left"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a>
      <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>
    </div>
    <div class="col-sm-12 intro-body">
      {% capture md_hiring_content %}{% include content/starting-a-business/hiring-staff/2015-01-01-index-introtext.md
      %}{% endcapture %}
      {{ md_hiring_content | markdownify }}
    </div>
  </div>
  <div class="page-content">
    <div class="row">
      {{ content }}
    </div>
  </div>

</div>


<script>
  $(function () {

    $('#the-link').click(function () {
      $('html, body').animate({
        scrollTop: $('.anchor').offset().top
      }, 1000);
    });
  });
</script>
