---
layout: default
---
{% include breadcrumbs.html %}

<div class="container">
  <div class="row intro">
    <div class="section-nav">
      <span class="fa fa-angle-left"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a>
      <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>
    </div>
    <div class="col-sm-12 intro-body">
      {% capture md_register_content %}{% include
      content/starting-a-business/registration/2015-01-01-registration-introtext.md %}{% endcapture %}
      {{ md_register_content | markdownify }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-container">
      {{ content }}
      <a href="{% post_url 2015-01-01-registration-form%}" class="button">
        Register an Australian business<i class="fa fa-icon-next"></i>
      </a>
    </div>
  </div>
</div>

<script>
  $(function () {


    $('#the-link').click(function () {
      $('html, body').animate({
        scrollTop: $('.anchor').offset().top
      }, 1000);
    });
  });
</script>
