---
layout: default
---

<div class="breadcrumbs">
  <div class="container">
    <p>
      <a href="#">Home</a><i class="fa fa-angle-right"></i> 
      {% if page.section %}
        <a href="#">{{ page.section }}</a><i class="fa fa-angle-right"></i> 
      {% endif %}
      {{ page.title }}
    </p>
  </div>
</div>

<div class="page-content container">

  <!-- Left Column -->
  <div class="column side-bar col-xs-12 col-md-3">

    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-angle-down"></i>
          </button>
          <span class="visible-xs navbar-brand">In this section</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden-xs"><h4>In this section</h4></li>
            <li><a href="#">Home</a></li>
            <li><a href="/starting-a-business/2015/01/01/landing.html">Registering your business</a></li>
            <li><a href="#">Operating safely</a></li>
            <li><a href="#">Equipment</a></li>
            <li><a href="#">Trading</a></li>
            <li><a href="#">Supply and distribution</a></li>
            <li><a href="#">Hiring people</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Your files &amp; licences</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="column main-col col-xs-12 col-md-6">
    <div class="form-container">
      {{ content }}
    </div>
    <div class="page-content"></div>
  </div>
  <div class="column side-bar col-xs-12 col-md-3">
    <div class="feature-box">
      <h3>Costs involved</h3>
      <p class="display-h2">$435</p>
      <p>More details <a href="#">online</a> or visit a Business office or call 132 300.</p>
    </div>

  </div>
</div>
