---
layout: default
---
{% include breadcrumbs.html %}

<div class="container-fluid intro">
  <div class="container">
    <div class="col-sm-12">
      <div class="section-nav">
        <span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a>
      </div>
    </div>
    <div class="col-sm-12 intro-body">
      {% capture md_hiring_content %}{% include content/starting-a-business/hiring-staff/2015-01-01-index-introtext.md
      %}{% endcapture %}
      {{ md_hiring_content | markdownify }}
    </div>
  </div>
</div>

<div class="container page-content">
  <div class="row">
    {{ content }}
  </div>
</div>




<script>
  $(function () {

    $('#the-link').click(function () {
      $('html, body').animate({
        scrollTop: $('.anchor').offset().top
      }, 1000);
    });
  });
</script>
