---
layout: default
---

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>
          <a href="#">Home</a><i class="fa fa-angle-right"></i> 
          {% if page.section %}
            <a href="#">{{ page.section }}</a><i class="fa fa-angle-right"></i> 
          {% endif %}
          {{ page.title }}
        </p>
      </div>
    </div>
  </div>
</div>

{% capture subsection_downcased %}{{ page.subsection | downcase }}{% endcapture %}

{% if subsection_downcased == "licenses and permits" %}
<nav class="slide-from-right">
  <ul class="list-unstyled main-menu">

    <!--Include your navigation here-->
    <li><strong>{{ page.section }}</strong><a href="#" id="navClose"></a></li>
    <li><a href="#">Register a business<span class="icon"></span></a></li>
    {% if subsection_downcased == "licenses and permits" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}
    <a href="#">Licenses and Permits<span class="icon"></span></a></li>

    <li><a href="#">Hiring staff<span class="icon"></span></a></li>
    <li><a href="#">Find a local import supplier<span class="icon"></span></a></li>
    <li><a href="#">Grants and funding<span class="icon"></span></a></li>
  </ul>
</nav>

<div class="section-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <a href="#" class="back">Back</a>
      </div>
      <div class="col-xs-6 col-md-6">
        <a href="#" class="menu" id="sectionNav">Menu</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div class="page-content">
  <div class="container">
    <!-- Left Column -->
    <div class="row">
      <div class="column main-col col-xs-12 col-md-6">
        <div class="form-container">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){                       

   //Navigation Menu Slider
    $('#sectionNav').on('click',function(e){
      e.preventDefault();
      $('body').toggleClass('nav-expanded');
    });
    $('#navClose').on('click',function(e){
      e.preventDefault();
      $('body').removeClass('nav-expanded');
    });

    

  });
</script>