---
layout: default
---
{% capture md_2 %}{% include content/starting-a-business/permits-and-licenses/2015-01-01-licences-links-list.md %}{% endcapture %}

{% include breadcrumbs.html %}

<div class="container-fluid intro">
  <div class="container">
    <div class="section-nav">
      <span class="fa fa-angle-left" aria-hidden="true"></span>&nbsp;<a href="#" id="globalBackBtn" onclick="history.go(-1);return false;" class="back">Back</a>
    </div>
    <div class="col-sm-12 intro-body">
      {{ content }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 link-list">
      {{ md_2 | markdownify }}
    </div>
  </div>
</div>
