---
layout: default
---
{% capture md_2 %}{% include content/starting-a-business/funding-and-support/2015-01-01-grants-links-list.md %}{% endcapture %}

<div class="container">
  {% include breadcrumbs.html %}
  <div class="row intro">
    <div class="section-nav">
      <span class="fa fa-angle-left"></span>&nbsp;<a href="#" id="globalBackBtn" class="back">Back</a>
      <a href="{% post_url 2015-01-01-my-details-after-questionnaire %}" class="pull-right" id="summary">Your details</a>
    </div>
    <div class="col-sm-12 intro-body">
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 link-list">
      {{ md_2 | markdownify }}
    </div>
  </div>

</div>
