---
layout: default
---

<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <p>
          <a href="#">Home</a><i class="fa fa-angle-right"></i> 
          {% if page.section %}
            <a href="#">{{ page.section }}</a><i class="fa fa-angle-right"></i> 
          {% endif %}
          {{ page.title }}
        </p>
      </div>
    </div>
  </div>
</div>

{% capture subsection_downcased %}{{ page.subsection | downcase }}{% endcapture %}
<nav class="slide-from-right">
  <ul class="list-unstyled main-menu">

    <!--Include your navigation here-->
    <li><strong><a href="{% post_url 2015-01-01-questionnaire-index %}">{{ page.section }}</a></strong><a href="#" id="navClose"></a></li>
    {% if subsection_downcased == "register a business" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}<a href="{% post_url 2015-01-01-registration-index %}">Register a business<span class="icon"></span></a></li>
    {% if subsection_downcased == "licenses and permits" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}
    <a href="{% post_url 2015-01-01-permits-and-licenses-intro %}">Licenses and Permits<span class="icon"></span></a></li>

    {% if subsection_downcased == "hiring staff" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}<a href="{% post_url 2015-01-01-hiring-index %}">Hiring staff<span class="icon"></span></a></li>
    
    {% if subsection_downcased == "find a local import supplier" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}<a href="{% post_url 2015-01-01-importing-index %}">Find a local import supplier<span class="icon"></span></a></li>
    
    {% if subsection_downcased == "grants and funding" %}
    <li class="selected">
    {% else %}
    <li>
    {% endif %}<a href="{% post_url 2015-01-01-grants-and-funding-gender %}">Grants and funding<span class="icon"></span></a></li>

    <li><a href="{% post_url 2015-01-01-questionnaire-summary %}">Questionnaire summary<span class="icon"></span></a><span class="badge">For testing only</span></li>
  </ul>
</nav>

<div class="section-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-6">
        <a href="#" id="globalBackBtn" class="back">Back</a>
      </div>
      <div class="col-xs-6 col-md-6">
        <a href="#" class="menu" id="sectionNav">Menu</a>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <!-- Left Column -->
    <div class="row">
      <div class="column main-col col-xs-12 col-md-6">
        <div class="form-container">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){                       

   //Navigation Menu Slider
    $('#sectionNav').on('click',function(e){
      e.preventDefault();
      $('body').toggleClass('nav-expanded');
    });
    $('#navClose').on('click',function(e){
      e.preventDefault();
      $('body').removeClass('nav-expanded');
    });

  $('#globalBackBtn').on('click',function(e) {
    e.preventDefault();
    window.history.back();
  })
    

  });
</script>