/**
 * Homepage
 */

span.thin-heading {
  font-weight: 100;
  font-size: 32px;
  line-height: 39px;
}

button.search {
  font-size: 24px !important;
  width: 48px;
  height: 48px;
  line-height: 24px;
  background-color: $primary-darkest-color;
  color: white;
  padding: 10px 10px;
  float: right;
  position: relative;
}

.search-group {
  display: flex;
}

input[type="text"].search-input {
  flex: 1;
  color: $text-color;
}

.homepage p {
  margin-bottom: 8px;
}

.homepage.row.page-content {
  padding-bottom: 20px;

  a {
    text-decoration: none;
    display: block;
  }
}

/**
 * Emergency Alert
 */

 #bushfire-alert {
    font-weight: normal;
    text-align: center;
    background-color: #F8E71C;
    padding: 20px;
    .fa-times-circle {
      float: right;
      font-size: 24px;
      line-height: 25px;
    }
    .fa-exclamation-triangle {
      font-size: 47px;
      line-height: 48px;
      display: block;
      clear: both;
      padding-top: 20px;
    }
    img {
      border: solid 4px white;
      margin-top: 20px;
    }
    h1 {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 0px;
      font-size: 24px;
      font-weight: normal;
    }
    p {
      margin-bottom: 0px;
    }
    p.narrow-para {
      padding: 20px;
    }
    .fa-external-link {
      padding-left:5px;
    }
    p.updates-link {
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: solid 6px $text-color;
    }
}

.ui.fluid.dropdown > .dropdown.icon {
  float: right;
  font-size: 26px;
  top: 8px !important;
}

.ui.selection.dropdown .menu > .item {
  line-height: 1.8em;
}

.holidays-widget {
  [class*="col-"]:nth-child(2) {
    padding-top: 0;
  }

  [class*="col-"]:nth-child(1) {
    padding-top: 20px;
  }

  strong {
    line-height: 24px;
    margin-bottom: 2px;
    display: block;
  }
}

.business-widget {
  [class*="col-"]:nth-child(1) {
    padding-top: 20px;
  }

  strong {
    font-size: 24px;
    line-height: 30px;
  }
}

.homepage {
  h2 {
    font-size: 32px;
    line-height: 39px;
  }
}
