/**
 * Homepage
 */

.homepage-top-padding {
  background-color: $light-grey;
  height: 50px;
}

.homepage-banner {
  height: 260px;
  background-color: $light-grey;
}


.homepage-header {
  padding-bottom: 36px;

  &.container {
    padding-top: 40px;
    padding-left: 20px;
    color: white;
    font-size: 14px;
    line-height: 24px;
    background-color: $primary-color;
    background-image: linear-gradient(-90deg, $primary-color, $primary-dark-color);
    background: $primary-color;
    background: linear-gradient(-90deg, $primary-color, $primary-dark-color);
  }
}

.homepage-menu {
  color: #fff;
  padding-left: 20px;
  padding-top: 28px;
  padding-bottom: 30px;
  font-size: 12px;
  line-height:12px;
  background-color: $primary-darkest-color;

  p {
    margin: 0px;
    padding-bottom: 8px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  h5 {
    margin-bottom: 10px;
  }
}

h2.thin-heading {
  margin-bottom: 8px;
  font-weight: 100;
  font-size:32px;
  line-height: 39px;
}

.mini-menu {
  margin-top: 20px;
  margin-bottom: 20px;
}

span.thin-heading {
  font-weight: 100;
  font-size: 32px;
  line-height: 39px;
}

span.huge-thin-heading {
  font-weight: 100;
  font-size: 60px;
  line-height: 50px;
}

span.thin-subheading {
  font-weight: 100;
  font-size: 18px;
  line-height: 25px;
}

button.search {
  font-size: 24px !important;
  width: 48px;
  height: 48px;
  line-height: 24px;
  background-color: $primary-darkest-color;
  color: white;
  padding: 10px 10px;
  float: right;
  position: relative;
}

.search-group {
  display: flex;
}

input[type="text"].search-input {
  flex: 1;
  color: $text-color;
}

.homepage h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.homepage p {
  margin-bottom: 8px;
}

.homepage.row.page-content {
  padding-bottom: 20px;

  a {
    text-decoration: none;
    display: block;
  }
}

.homepage-lower-menu {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  padding-top: 28px;
  p {
    margin-bottom: 8px;
  }
  h5 {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    display: block;
  }
  .list {
    padding-bottom: 20px;
  }
  div {
    padding-top: 10px;
  }
}

.separator {
  margin-top: 20px;
  margin-bottom: 30px;
  border-top: solid 8px $light-grey;
}

.homepage-link-box {
  padding: 15px;
  padding-bottom: 30px;
  background-color: $light-grey;
  box-shadow: 0px 1px 2px 0px $grey-color-light;
  a {
    color: $primary-darkest-color;
  }
  ul li {
    padding-left: 0px;
    list-style: none !important;
    &:before {
      content: '';
    }
  }
  .more {
    color: $text-color;
  }
  h5 {
    margin-bottom: 10px;
  }
}

.tile {
  padding: 20px;
}

.stats {
  padding: 0px;
  border-bottom: solid 2px $light-grey;
  h2 {
    font-weight: 100;
  }
  h5 {
    margin-bottom: 20px;
  }
  .image {
    margin-bottom: 20px;
    text-align: center;
  }
  .left-image {
    padding: 20px;
    text-align: center;
  }
  .right-text {
    padding-top: 40px;
    flex: 1;
    vertical-align: center;
    h3 {
      padding-top: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.tile.row.stats {
  border: none;
}

.two-col {
    display: flex;
    text-align: center;
}

.color-box {
  background-color: $primary-darkest-color;
  color: white;
  h5 {
    margin-bottom: 20px;
  }
  .row {
    padding-top: 20px;
    border-top: solid 4px white;
    .content {
      h6 {
        color: white;
        font-weight: bold;
        line-height: 20px;
        font-size: 16px;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 5px;
        line-height: 18px;
        font-size: 14px;
      }
    }
    .image {
      padding: 10px;
      margin-bottom: 20px;
      text-align: center;
      img {
        height: 120px;
      }
    }
  }
}

.tile-top-image .content {
  padding: 20px;
  margin-bottom: 30px;
  height: 165px;
  background-color: $light-grey;
  box-shadow: 0px 1px 2px 0px $grey-color-light;
  color: $text-color;
  h5 {
    margin-bottom: 10px;
  }
}

.tile-top-image .image img {
  width: 100%;
}

/**
 * Emergency Alert
 */

 #bushfire-alert {
    font-weight: normal;
    text-align: center;
    background-color: #F8E71C;
    padding: 20px;
    .fa-times-circle {
      float: right;
      font-size: 24px;
      line-height: 25px;
    }
    .fa-exclamation-triangle {
      font-size: 47px;
      line-height: 48px;
      display: block;
      clear: both;
      padding-top: 20px;
    }
    img {
      border: solid 4px white;
      margin-top: 20px;
    }
    h1 {
      margin-bottom: 5px;
    }
    h2 {
      margin-bottom: 0px;
      font-size: 24px;
      font-weight: normal;
    }
    p {
      margin-bottom: 0px;
    }
    p.narrow-para {
      padding: 20px;
    }
    .fa-external-link {
      padding-left:5px;
    }
    p.updates-link {
      padding-bottom: 30px;
      margin-bottom: 20px;
      border-bottom: solid 6px $text-color;
    }
}

.ui.fluid.dropdown > .dropdown.icon {
  float: right;
  font-size: 26px;
  top: 8px !important;
}

.ui.selection.dropdown .menu > .item {
  line-height: 1.8em;
}

h5.underlined {
  border-bottom: 3px solid #fff;
  padding-bottom: 1em;
}

.homepage-state {
  padding-bottom: 1em;
  font-size:1em;

  .ui.selection.dropdown {
    margin-top: 28px;
    border-radius: 0;
    border: none;
  }
}

.homepage-header {
  .thin-subheading {
    font-size:22px;
  }
}

/**
 * Category pages
 */

.category h5 {
  margin-bottom: 10px;
}

.holidays-widget {
  [class*="col-"]:nth-child(2) {
    padding-top: 0;
  }

  [class*="col-"]:nth-child(1) {
    padding-top: 20px;
  }

  strong {
    line-height: 24px;
    margin-bottom: 2px;
    display: block;
  }
}

.business-widget {
  [class*="col-"]:nth-child(1) {
    padding-top: 20px;
  }

  strong {
    font-size: 24px;
    line-height: 30px;
  }
}