/**
  * Minister pages
  */
.article {
  hr {
    height: 4px;
  }
  .backbar {
    @media print { display: none;}
    padding-bottom: 20px;
    margin-left: -20px;
    .print {
      float: right;
    }
  }
}
.news-story {
  padding-bottom: 20px;
}

.agency-summary {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
}

.minister .navbar-header button {
  width: 50px;
}

.fa-angle-double-right {
  padding-left: 10px;
}

span.thin-name-heading {
  font-weight: 100;
  font-size: 32px;
  line-height: 40px;
}

.bio {
  p {
    margin-bottom: 10px;
  }
  h3 {
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}

.minister .crest {
  padding-right: 0px;
}

.minister h2 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.minister h5 {
  color: $text-colour;
  font-size: 16px;
  letter-spacing: 0.17px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 20px;
  padding-top: 35px;
  border-bottom: solid 2px black;
}

.minister .heading {
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  img {
    width: 100%;
  }
}

.minister, .agency {
  .navbar-header {
    padding-left: 20px;
    padding-right: 20px;
    background-color: $contrast-background-colour;
  }

  button.navbar-toggle:focus {
   background-color: $contrast-background-colour;
  }
}


.minister blockquote {
  border-left-width: 4px;
  border-color: $contrast-background-colour;
  font-size: 16px;
  line-height: 22px;
}

.minister .quote-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  background: $contrast-background-colour;
  border-bottom: solid 2px $frame-colour;

  p {
    font-size: 16px;
  }

  span.quote {
    font-size: 16px;
  }

  img {
    width: 20px;
  }

  .quote {
    padding-right: 10px;
  }

  .left-quote {
    padding-left: 5px;
    clear: both;
    float: right;
    margin-top: -40px;
  }

  .right-quote {
    padding-right: 5px;
  }
}

.minister img.profile-photo {
  width: 100%;
  margin-bottom: 30px;
}

.minister .contact h4 {
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.readMore {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
}

.divider {
  border-bottom: solid 8px $contrast-background-colour;
}

button.secondary {
  background-color: white;
  color: $text-colour;
  border: solid 1px $text-colour;
}

.minister, .agency {
  .row.sidebar-nav {
    [class*="col-"] {
      padding: 0;
    }
  }

  .profile-photo {
    margin-bottom: 30px;

    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
    img {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: 15px;;
  }

  h2 {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .underlined {
    border-bottom: 2px solid black;
  }

  .contact h3 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
  }

  .news-story {
    p {
      margin-bottom: 10px;
    }

    span.news-heading {
      font-weight: bold;
      padding-right: 10px;
      color: $primary-alt-colour;
    }
    
    img {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  span.date {
    font-weight: bold;
  }
}
