#prototype-warning {

  top: 0;
  width: 100%;
  padding: 8px 20px 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  background-color: $prototype-colour;

  color: white;
  #prototype-warning-text {
    margin-left: 40px;
  }
  a {
    color: white;
  }
  :active, :hover, :focus, :visited {
    color: white;
  }
  .warning-triangle {
    float: left;
    font-size: 29px;
    color: white;
    padding-top: 19px;
  }
  @media (min-width: $screen-md-min) {
    #prototype-warning-heading {
      margin-left: 3%;
    }
    #prototype-warning-text {
      margin-left: 50px;
    }
    .warning-triangle {
      padding-top: 7px;
    }
  }

  #feedback-button {
    display: block;
    float: right;
    margin-top: -45px;
    margin-right: -10px;

    @media (min-width: $screen-md-min) {
      width: initial;
      height: initial;
      display: inline-block;
      position: absolute;
      top: 8px;
      left:780px;
      padding: 4px 10px 10px 10px;
      margin-top: 10px;
      float: none;
      text-decoration: none;
      font-weight: bold;
      .fa {

        padding-left: 0px;
        padding-right: 8px;
      }
    }

    @media (min-width: $screen-lg-min) {
      left: 847px;
      right: inherit;

    }
  }

}

#feedback-button {
  display: inline-block;
  background-color: $prototype-colour-dark;
  color: white;
  padding: 4px 20px 10px 10px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;

  .fa {
    font-size: 22px;
    padding-right: 8px;
    padding-top: 4px;
  }


}

#screen-help-text {
  white-space: nowrap;
  @media (min-width: $screen-md-min) {
    display: inline-block;
    position: absolute;
    top: 8px;
    padding-left: 4.5%;
    border-right: 1px rgba(255,255,255,0.4) solid;
    min-width: 330px;
    .fa-info-circle {
      float: left;
      font-size: 29px;
      color: white;
      padding-left: 30px;
      padding-right: 20px;
      border-left: 1px rgba(255,255,255,0.4) solid;
      min-height: 60px;
    }
    .fa-chevron-down {
      padding-left: 10px;
    }
  }
  @media (min-width: $screen-lg-min) {
    min-width: 368px;
  }
}

#screen-help {
  text-align: left;
  background-color: #F1D8E4;
  padding: 13px;
  color: black;
  font-size: 10px;
  .text {
    font-size: 14px;
    margin-right: 48px;
    display: block;
  }
  #screen-help-close {
    float: right;
    .fa {
      font-size: 27px;
      margin-right: 3px;
      padding-top: 17px;
    }
  }
}

.arrow-box-bottom,
.arrow-box-top {
  position: relative;
  background: $prototype-colour;
  color: white;
  border-radius: 5px;

  font-size: 13px;
  padding:10px;
  p {
    font-size: 13px;
    margin-bottom: 0;
  }
}
.arrow-box-top {
  margin-top: 32px;
}
.arrow-box-bottom {
  margin-bottom: 32px;
}

.arrow-box-top:after, .arrow-box-top:before {
  bottom: 99%;
  left: 25%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box-top:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: $prototype-colour;
  border-width: 30px;
  margin-left: -30px;
}

.arrow-box-top:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 36px;
  margin-left: -36px;
}

.arrow-box-bottom:after, .arrow-box-bottom:before {
  top: 99%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow-box-bottom:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: $prototype-colour;
  border-width: 30px;
  margin-left: -30px;
}
.arrow-box-bottom:before {
  border-color: rgba(194, 225, 245, 0);
  border-width: 36px;
  margin-left: -36px;
}
