#splash {

  #splash-top {
    background-color: $prototype-colour;
    height: 22px;
  }

  #splash-header {
    background-color: $prototype-colour-dark;
    color: white;
    font-weight: 300;

    .badge {
      border-radius: 1em;
      font-weight: bold;
    }

    h1 {
      font-weight: 300;
      margin-bottom: 15px;
    }

    @media (max-width: $screen-sm-max) {
      p {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 32px;
      }

      h1 {
        font-size: 70px;
        margin-top: 7px;
        margin-bottom: 25px;
        line-height: 60px;
        padding-top: 20px;
      }

      .badge {
        font-size: 20px;
        margin-bottom: 0px;
      }

    }

    @media (min-width: $screen-lg-min) {
      p {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 32px;
      }

      h1 {
        font-size: 75px;
        line-height: 110px;
        margin-top: 22px;
      }

      .badge {
        font-size: 20px;
        margin-bottom: 44px;
      }

    }

  }


  #splash-content {
    .video-holder {
      #transcript {
        font-size: 14px;
      }
      a {
        float:right;
      }
    }
    .divider {
      margin-top: 50px;
      border-width: 4px;
    }

    hr {

      &.bold {
        height: 4px;
      }
    }

    h2 {
      font-weight: 300;
      margin-bottom: 25px;

    }

    h3 {
      font-size: 24px;
      margin-bottom: 0;
    }

    @media (max-width: $screen-sm-max) {
      margin-bottom: 117px;

      .video-holder {
        height: 188px;
      }

      .content-block {
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }

      h2 {
        font-size: 24px;
        margin-top: 20px;
      }

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .box, .box p {
        font-size: 18px;
        line-height: 24px;
      }

      #feedback-button {
        display: block;
        text-align: center;
      }
    }

    @media (min-width: $screen-lg-min) {
      margin-bottom: 92px;

      .video-holder {
        height: 640px;
      }

      .content-block {
        margin-bottom: 40px;
      }

      p {
        font-size: 20px;
        line-height: 26px;
      }

      h2 {
        margin-top: 45px;
        font-size: 48px;
      }

      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .box {
        font-size: 20px;
        line-height: 26px;
      }
    }

    .box {
      a.button {
        display: block;
        margin-bottom: 0;
        text-align: center;
      }
    }

    .link-list {
      padding-top: 0px;
    }
  }
}
