.style-guide {

  .width-100 {
    width: 100%;
  }

  .sidebar-nav {
    margin-left: -35px;
    display: block;

    .navbar {
      height:100%;
    }
  }

  .grid {
    h4 {
      margin-top: 25px;
    }
    .row {
      margin-bottom: 20px;
    }
    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }
    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $primary-alt-light-colour;
      background-color: rgba(155,218,241,.15);
      border: 1px solid $primary-alt-dark-colour;
      border: 1px solid rgba(0,166,210,.2);
    }
  }

}
