.style-guide {

  .width-100 {
    width: 100%;
  }

  .sidebar-nav {
    margin-left: -35px;
    display: block;

    .navbar {
      height:100%;
    }
  }


  ul#taskList {
    margin-top: 20px
  }

  .grid {
    h4 {
      margin-top: 25px;
    }
    .row {
      margin-bottom: 20px;
    }
    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }
    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $primary-alt-light-colour;
      background-color: rgba(155,218,241,.15);
      border: 1px solid $primary-alt-dark-colour;
      border: 1px solid rgba(0,166,210,.2);
    }
  }

  @media (min-width: $screen-md-min) {
    #prototype-warning-heading {
      margin-left: 0;
    }
    #prototype-warning-text {
      margin-left: 40px;
    }
    .warning-triangle {
      padding-top: 12px;
    }

    span.hidden-xs.hidden-sm {
      display: none;
    }
    span.visible-xs-inline.visible-sm-inline {
      display: inline !important;
    }
  }

  #feedback-button {
    @media (min-width: $screen-md-min) {
      height: 32px;
      width: 32px;
      display: block;
      position: initial !important;
      margin-top: -45px !important;
      margin-right: -10px;
      float: right !important;
      text-decoration: none;
      font-weight: normal;
      .fa {
       padding-left: 5px;
       padding-right: 0;
      }
    }
  }

    #screen-help-text {
      white-space: nowrap;
      @media (min-width: $screen-md-min) {
        display: inline;
        position: initial;
        padding-left: 0;
        border-right: none;
        min-width: auto;
        .fa-info-circle {
          display: none;
        }
        .fa-chevron-down {
          display:none;
        }
      }
    }
}
