.style-guide {
  overflow: hidden;
  .width-100 {
    width: 100%;
  }

  .sidebar-nav {
    margin-left: -35px;
    display: block;

    .navbar {
      height:100%;
    }
  }

  ul#taskList {
    margin-top: 20px
  }

  .grid {
    h4 {
      margin-top: 25px;
    }

    .row {
      margin-bottom: 20px;
    }

    .row .row {
      margin-top: 10px;
      margin-bottom: 0;
    }

    [class*="col-"] {
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: $primary-alt-light-colour;
      background-color: rgba(155,218,241,.15);
      border: 1px solid $button-hover-colour;
      border: 1px solid rgba(0,166,210,.2);
    }
  }

  #prototype-warning {
    .container {
      max-width: 100%;
    }

    .col-md-3:nth-child(2){
      border-left: none;
      border-right: none;
    }
  }

  @media (min-width: $screen-md-min) {
    .prototype-warning-heading {
      margin-left: 0;
    }

    #prototype-warning-text {
      strong {
        top:0;
      }
    }

    .warning-triangle {
      padding-top: 12px;
    }

    span.hidden-xs.hidden-sm {
      display: none;
    }

    span.visible-xs-inline.visible-sm-inline {
      display: inline !important;
    }
  }

  #feedback-button {
    @media (min-width: $screen-md-min) {
      display: block;
      margin-right: -10px;
      float: right !important;
      text-decoration: none;
      font-weight: normal;

      .fa {
       padding-left: 5px;
       padding-right: 0;
      }
    }
  }

  #screen-help-text {
    white-space: nowrap;

    @media (min-width: $screen-md-min) {
      display: inline;
      position: initial;
      padding-left: 0;
      border-right: none;
      min-width: auto;

      .fa-info-circle {
        display: none;
      }

      .fa-chevron-down {
        display:none;
      }
    }
  }

  .visited {
    color: white;
  }

  .active {
    background-color: $button-active-colour;
  }

  .hover {
    background-color: $button-hover-colour;
    outline-color: $outline-colour;
  }

  .row-buttons {
    .input-group, button, .button {
      margin-bottom: 0;
    }
  }

  .btn-tag {
    margin-top: 10px;
  }
}
