---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---
{% capture md_intro_content %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-intro-text.md %}{% endcapture %}
{% capture md_confirm_sponsorship_title %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-title.md %}{% endcapture %}
{% capture md_confirm_sponsorship_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-text.md %}{% endcapture %}
{% capture md_confirm_sponsorship_heading_confirmed %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-heading-confirmed.md %}{% endcapture %}
{% capture md_confirm_sponsorship_heading_unconfirmed %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-heading-unconfirmed.md %}{% endcapture %}
{% capture md_confirm_sponsorship_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-button-text.md %}{% endcapture %}
{% capture md_confirm_employer_details_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-employer-details-text.md %}{% endcapture %}
{% capture md_confirm_position_details_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-position-details-text.md %}{% endcapture %}
{% capture md_submit_evidence_title %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-title.md %}{% endcapture %}
{% capture md_submit_evidence_health_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-text.md %}{% endcapture %}
{% capture md_submit_evidence_health_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-button-text.md %}{% endcapture %}
{% capture md_submit_evidence_police_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-police-text.md %}{% endcapture %}
{% capture md_submit_evidence_police_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-police-button-text.md %}{% endcapture %}
{% capture md_submit_health_insurance_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-insurance-text.md %}{% endcapture %}
{% capture md_submit_health_insurance_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-insurance-button-text.md %}{% endcapture %}
{% capture md_submit_english_language_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-english-language-text.md %}{% endcapture %}
{% capture md_submit_english_language_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-english-language-button-text.md %}{% endcapture %}
{% capture md_notification_sent_message %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-notification-sent-message.md %}{% endcapture %}
{{ md_intro_content | markdownify }}
<ul class="task-list">
  <li>
    <div class="task-title" data-toggle="collapse" data-target="#confirm">
      <span class="title">{{ md_confirm_sponsorship_title }}</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse task-status information" id="confirm">
      <div class="row">
        <div class="task-icon col-xs-2">
          <i class="fa fa-info-circle"></i>
        </div>
        <div class="col-xs-10">
          <span class="info-heading unconfirmed">{{ md_confirm_sponsorship_heading_unconfirmed }}</span>
          <span class="info-heading confirmed hide"
                data-message="{{ md_notification_sent_message | markdownify }}">
            {{ md_confirm_sponsorship_heading_confirmed }}
          </span>
          {{ md_confirm_sponsorship_text | markdownify }}
          {{ md_confirm_employer_details_text | markdownify }}
          {{ md_confirm_position_details_text | markdownify }}
        </div>
      </div>
      <button id="btnConfirmSponsorshipDetails">{{ md_confirm_sponsorship_button_text }}</button>
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Enter your details</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Enter your partner’s details</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Enter job qualifications</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
  </li>
  <li>
    <div class="task-title" data-toggle="collapse" data-target="#submit-evidence">
      <span class="title">{{ md_submit_evidence_title }}</span>
      <span class="badge">4</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
    <div class="task-body collapse" id="submit-evidence">
      {{ md_submit_evidence_health_text | markdownify }}
      <div class="input-group">
        <button>{{ md_submit_evidence_health_button_text }}</button>
      </div>
      {{ md_submit_evidence_police_text | markdownify }}
      <div class="input-group">
        <button>{{ md_submit_evidence_police_button_text }}</button>
      </div>
      {{ md_submit_health_insurance_text | markdownify }}
      <div class="input-group">
        <button>{{ md_submit_health_insurance_button_text }}</button>
      </div>
      {{ md_submit_english_language_text | markdownify }}
      <div class="input-group">
        <button>{{ md_submit_english_language_button_text }}</button>
      </div>
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Submit payment</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Track application</span>
      <span class="badge">1</span>
      <i class="fa fa-angle-down chevron"></i>
    </div>
  </li>
</ul>
<script>
  $(function() {
    $('#btnConfirmSponsorshipDetails').on('click', function() {
      var $container = $(this).parent();
      var $icon = $container.find('.task-icon').find('.fa');
      $icon.removeClass('fa-info-circle');
      $icon.addClass('fa-check-circle');
      $container.find('.info-heading.confirmed').removeClass('hide');
      $container.find('.info-heading.unconfirmed').addClass('hide');
      $container.removeClass('information');
      $container.addClass('success');
      $(this).hide();
      $('.information-message').removeClass('out');
      $('.information-message').find('span').html($container.find('.info-heading.confirmed').data('message'));
      return false;
    });

    $('.information-message').find('.fa-times').click(function() {
      $('.information-message').addClass('out');
    });
  });
</script>
