---
layout: questionnaire
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
categories: [starting-a-business,hiring-staff,sponsored-visa-application]
---

{% capture md_intro_text %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-intro.md %}{% endcapture %}
{% capture md_457_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-intro.md %}{% endcapture %}
{% capture md_457_learnmore %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-learn-more.md %}{% endcapture %}
{% capture md_457_button %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-button.md %}{% endcapture %}
{% capture md_1 %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-estimated-fees-title.md %}{% endcapture %}
{% capture md_2 %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-estimated-fees.md %}{% endcapture %}
{% capture md_3 %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-processing-times-title.md %}{% endcapture %}
{% capture md_4 %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-processing-times.md %}{% endcapture %}

<div class="container">
  <!-- This form is here to capture final post data - do not delete!!! -->
  <form>
  </form>
  <div class="row">
    <div class="col-xs-12">
      {{ md_intro_text | markdownify }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 visas">
      {{ md_457_intro | markdownify }}

      <div class="info-label">{{ md_1 | markdownify}}</div>
      <div class="info-amount">{{ md_2 | markdownify }}</div>
      <br/>
      <div class="info-label">{{ md_3 | markdownify }}</div>
      <div class="info-amount">{{ md_4 | markdownify }}</div>
      <br/>
      <a href="{% post_url 2015-01-01-hiring-staff-visa-type %}">{{ md_457_learnmore }}</a>
      <a href="{% post_url 2015-01-01-sponsor-task-list %}" class="button">{{ md_457_button }}</a>
    </div>
  </div>
</div>
