---
layout: questionnaire
title: "Working in Australia"
section:  "Coming to Australia"
subsection: "Visas"
categories: [coming-to-australia,working-in-australia,sponsored-visa-application]
screen_help: "<strong>Apply for an Australia visa</strong> is where the design and build of the GOV.AU Prototype finishes."
screen_help_col-2: "Haruki has been sponsored by Bobbi to <strong>apply for an Australian visa</strong> but to start the application, he’ll need to <strong>confirm</strong> the <strong>sponsorship details</strong> first. In a Beta of GOV.AU a user may revisit the checklist to complete more tasks and track the progress of their visa application."
---
{% capture md_intro_content %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-intro-text.md %}{% endcapture %}
{% capture md_confirm_sponsorship_title %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-title.md %}{% endcapture %}
{% capture md_confirm_sponsorship_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-text.md %}{% endcapture %}
{% capture md_confirm_sponsorship_heading_confirmed %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-heading-confirmed.md %}{% endcapture %}
{% capture md_confirm_sponsorship_heading_unconfirmed %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-heading-unconfirmed.md %}{% endcapture %}
{% capture md_confirm_sponsorship_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-sponsorship-button-text.md %}{% endcapture %}
{% capture md_confirm_employer_details_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-employer-details-text.md %}{% endcapture %}
{% capture md_confirm_position_details_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/2015-01-01-confirm-position-details-text.md %}{% endcapture %}
{% capture md_submit_evidence_title %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-title.md %}{% endcapture %}
{% capture md_submit_evidence_health_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-text.md %}{% endcapture %}
{% capture md_submit_evidence_health_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-button-text.md %}{% endcapture %}
{% capture md_submit_evidence_police_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-police-text.md %}{% endcapture %}
{% capture md_submit_evidence_police_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-police-button-text.md %}{% endcapture %}
{% capture md_submit_health_insurance_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-insurance-text.md %}{% endcapture %}
{% capture md_submit_health_insurance_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-health-insurance-button-text.md %}{% endcapture %}
{% capture md_submit_english_language_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-english-language-text.md %}{% endcapture %}
{% capture md_submit_english_language_button_text %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-english-language-button-text.md %}{% endcapture %}
{% capture md_notification_sent_message %}{% include content/starting-a-business/hiring-staff/sponsored-visa-application/landing/submit-evidence/2015-01-01-notification-sent-message.md %}{% endcapture %}
{{ md_intro_content | markdownify }}

<ul class="task-list">
  <li>
    <div id="sponsorConfirmArea" class="task-title toggle-confirm-sponsorship">
      <span class="title">{{ md_confirm_sponsorship_title }}</span>
      <span id="sponsorConfirmBadge" class="badge">1 to do</span>
      <span id="sponsorCompleteBadge" class="fa fa-check-circle hide"></span>
    </div>

    <div class="task-body-content toggle-confirm-sponsorship">
      <div id="unconfirmedHeading" class="task-body">
        {{ md_confirm_sponsorship_heading_unconfirmed }}
      </div>

      <div id="confirmedHeading" class="task-body hide" data-message="{{ md_notification_sent_message | markdownify }}">
        {{ md_confirm_sponsorship_heading_confirmed }}
      </div>

      <div id="sponsorTitleHolder" class="task-title toggle-confirm-sponsorship">
        <div id="unconfirmedTitle" class="title">Confirm sponsorship details</div>
        <div id="confirmedTitle" class="title hide">Sponsorship details confirmed</div>
      </div>

      <div id="sponsorBodyHolder" class="task-body-content toggle-confirm-sponsorship">
        <div class="task-body">
          {{ md_confirm_sponsorship_text | markdownify }}
          {{ md_confirm_employer_details_text | markdownify }}
          {{ md_confirm_position_details_text | markdownify }}
          <p>
           <br/><button id="btnConfirmSponsorshipDetails">{{ md_confirm_sponsorship_button_text }}</button>
          </p>
        </div>
      </div>

      <div id="confirmDetailsButtonHolder" class="task-body-content button-holder toggle-confirm-sponsorship">
        <button id="btnConfirmSponsorshipDetails">{{ md_confirm_sponsorship_button_text }}</button>
        <a href="#" class="secondary-button">Change</a>
      </div>
      
    </div>
  </li>
  <li>
    <div class="task-title">
      <span class="title">Enter your details</span>
      <span class="badge">1 to do</span>
    </div>
  </li>

  <li>
    <div class="task-title">
      <span class="title">Enter your partner’s details</span>
      <span class="badge">1 to do</span>
    </div>
  </li>

  <li>
    <div class="task-title">
      <span class="title">Enter job qualifications</span>
      <span class="badge">1 to do</span>
    </div>
  </li>

  <li>
    <div class="task-title toggle-submit-evidence">
      <span class="title">{{ md_submit_evidence_title }}</span>
      <span class="badge">4 to do</span>
    </div>
    <div class="task-body-content toggle-submit-evidence">
      <div class="task-body">
        {{ md_submit_evidence_health_text | markdownify }}
        <div class="input-group">
          <button>{{ md_submit_evidence_health_button_text }}</button>
        </div>
        {{ md_submit_evidence_police_text | markdownify }}
        <div class="input-group">
          <button>{{ md_submit_evidence_police_button_text }}</button>
        </div>
        {{ md_submit_health_insurance_text | markdownify }}
        <div class="input-group">
          <button>{{ md_submit_health_insurance_button_text }}</button>
        </div>
        {{ md_submit_english_language_text | markdownify }}
        <div class="input-group">
          <button>{{ md_submit_english_language_button_text }}</button>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="task-title">
      <span class="title">Submit payment</span>
      <span class="badge">1 to do</span>
    </div>
  </li>

  <li>
    <div class="task-title">
      <span class="title">Track application</span>
      <span class="badge">1 to do</span>
    </div>
  </li>
</ul>

<script>
  $(function() {
    $('#btnConfirmSponsorshipDetails').on('click', function() {

      $('#unconfirmedHeading').hide();
      $('#unconfirmedTitle').hide();
      $('#confirmedHeading').removeClass('hide');
      $('#confirmedTitle').removeClass('hide');

      $('#sponsorTitleHolder').addClass('completed');
      $('#sponsorBodyHolder').addClass('completed');

      $('#btnConfirmSponsorshipDetails').hide();

      var $container = $(this).parent();

      $('.information-message').removeClass('out');
      $('.information-message').find('span').html($('#confirmedHeading').data('message'));

      $('#sponsorConfirmBadge').hide();
      $('#sponsorCompleteBadge').removeClass('hide');


      var scrollTarget = $('#sponsorConfirmArea').offset().top - $('.information-message').height();
      $('html, body').animate({
        scrollTop: scrollTarget
      }, 300);
    });

    $('.information-message').find('.fa-times').click(function() {
      $('.information-message').addClass('out');
    });

    jQuery(".screen-help").slideToggle(500);
    jQuery(".screen-help-link .fa-chevron-down").toggleClass("down");
    DTO.MyTaskList.init(['.toggle-confirm-sponsorship', '.toggle-submit-evidence'], {slideToggleSpeed: 'fast', pageScrollSpeed: 1000});
  });
</script>
