---
layout: three-column
title:  "Starting a business"
section: "Hiring staff"
subsection: "Visas"
---

{% capture md_intro_text %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-intro.md %}{% endcapture %}
{% capture md_457_intro %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-intro.md %}{% endcapture %}
{% capture md_457_learnmore %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-learn-more.md %}{% endcapture %}
{% capture md_457_button %}{% include content/starting-a-business/hiring-staff/2015-01-01-matching-visas-457-button.md %}{% endcapture %}

<div class="container">
  <!-- This form is here to capture final post data - do not delete!!! -->
  <form>
  </form>
  <div class="row">
    <div class="col-xs-12">
      {{ md_intro_text | markdownify }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 visas">
      {{ md_457_intro | markdownify }}

      <p class="info-label">Estimated fees</p>
      <p class="info-amount">$2,870 AUD</p>
      <p class="info-label">Expected processing times</p>
      <p class="info-amount">2-3 months</p>

      <a href="#">{{ md_457_learnmore }}</a>
      <a href="{% post_url 2015-01-01-sponsor-task-list %}" class="button">{{ md_457_button }}</a>
    </div>
  </div>
</div>
